<div class="modal-header">
  <div class="modal-title">查看信息-办理时限</div>
</div>

<div sv-container *ngIf="i">
  <sv label="地市">{{ i.city }}</sv>
  <sv label="区域">{{ i.area }}</sv>
  <sv label="工程名称">{{ i.gcname }}</sv>
  <sv label="工程编号">{{ i.gccode }}</sv>
  <sv label="建设单位">{{ i.jsname }}</sv>
  <sv label="工程类型">{{ i.gctype }}</sv>
  <sv label="当前处理人">{{ i.dealperson }}</sv>
  <sv label="流程到达时间">{{ i.arrtime }}</sv>
  <sv label="流程处理时间">{{ i.dealtime }}</sv>
  <sv label="超时时长">{{ i.cstime }}小时</sv>

  <!-- <sv label="数据来源">{{ i.Access==0?'平台获取':'导入获取' }}</sv> -->
</div>
<div class="modal-footer">
  <button nz-button type="button" (click)="close()">关闭</button>
</div>
