<div class="zt">
  <div class="tietle"><span>建设工程消防验收审查申报表</span> </div>

  <div class="main">

    <div class="section">
      <div class="col colpadding">
        <p><span style="color:red">*</span>建设单位:</p>
      </div>

      <div class="col colpadding">
        <input nz-input>
      </div>

      <div class="col colpadding">
        <p><span style="color:red">*</span>法定代表人/主要负责人:</p>
      </div>

      <div class="col colpadding">
        <input nz-input>
      </div>

      <div class="col colpadding">
        <p><span style="color:red">*</span>联系电话:</p>
      </div>

      <div class="col colpadding">
        <input nz-input>
      </div>

    </div>

    <div class="section">

      <div class="col colpadding">
        <p><span style="color:red">*</span>工程名:</p>
      </div>

      <div class="col colpadding">
        <input nz-input>
      </div>

      <div class="col colpadding">
        <p><span style="color:red">*</span>联系人:</p>
      </div>

      <div class="col colpadding">
        <input nz-input>
      </div>

      <div class="col colpadding">
        <p><span style="color:red">*</span>联系电话:</p>
      </div>

      <div class="col colpadding">
        <input nz-input>
      </div>

    </div>

    <div class="section">

      <div class="colpadding" style="width:16.689%;border-right: 1px solid #e2e2e2;">
        <p style="float: right; font-weight: 600;"><span style="color:red">*</span>使用性质:</p>
      </div>

      <div class="colpadding" style="width:83%">
        <input nz-input>
      </div>
      <div>

      </div>
    </div>

    <div class="section">

      <div class="colpadding" style="width:16.689%;border-right: 1px solid #e2e2e2;">
        <p style="float: right; font-weight: 600;"><span style="color:red">*</span>工程地址:</p>
      </div>

      <div class="colpadding" style="width:83%">
        <input nz-input>
      </div>
      <div>

      </div>

    </div>

    <div class="section">

      <div class="colpadding" style="width:16.689%;border-right: 1px solid #e2e2e2;">
        <p style="float: right; font-weight: 600;"><span style="color:red">*</span>审批单位:</p>
      </div>

      <div class="colpadding" style="width:83%">
        <input nz-input>
      </div>
      <div>

      </div>

    </div>

    <div class="section">

      <div class="colpadding" style="width:16.689%;border-right: 1px solid #e2e2e2;">
        <p style="float: right; font-weight: 600;"><span style="color:red">*</span>类别:</p>
      </div>

      <div class="colpadding" style="width:83%">
        <input nz-input>
      </div>
      <div>

      </div>

    </div>

    <div class="section">

      <div class="colpadding" style="width:16.689%;border-right: 1px solid #e2e2e2;">
        <p style="float: right; font-weight: 600;"><span style="color:red">*</span>《建设工程消防设计审查意见书》文号:</p>
      </div>

      <div class="colpadding" style="width: 33.31%">
        <input nz-input>
      </div>
      <div>

      </div>

      <div class="colpadding" style="width:16.689%;border-right: 1px solid #e2e2e2;border-left: 1px solid #e2e2e2;">
        <p style="float: right; font-weight: 600;"><span style="color:red"></span>审查日期:</p>
      </div>

      <div class="colpadding" style="width: 33.31%">
        <input nz-input>
      </div>
      <div>

      </div>

    </div>

    <div class="section">

      <div class="colpadding" style="width:16.689%;border-right: 1px solid #e2e2e2;">
        <p style="float: right; font-weight: 600;"><span style="color:red"></span>施工许可证编号:</p>
      </div>

      <div class="colpadding" style="width:83%">
        <input nz-input>
      </div>
      <div>

      </div>

    </div>

    <div class="section">

      <div class="colpadding" style="width:16.689%;border-right: 1px solid #e2e2e2;">
        <p style="float: right; font-weight: 600;"><span style="color:red"></span>主体消防验收意见书编号:</p>
      </div>

      <div class="colpadding" style="width:83%">
        <input nz-input>
      </div>
      <div>

      </div>

    </div>

    <div class="section">

      <div class="colpadding" style="width:16.689%;border-right: 1px solid #e2e2e2;">
        <p style="float: right; font-weight: 600;"><span style="color:red">*</span>检测报告编号:</p>
      </div>

      <div class="colpadding" style="width:83%">
        <input nz-input>
      </div>
      <div>

      </div>

    </div>

    <div class="section" style="background-color: #e0e0e075;">

      <div class="colpadding" style="text-align: center;width:16.689%;border-right: 1px solid #e2e2e2;">
        <p style="font-weight: 600;"><span style="color:red"></span>单位类别:</p>
      </div>

      <div class="colpadding" style="text-align: center;width:15%;border-right: 1px solid #e2e2e2;">
        <p style="font-weight: 600;"><span style="color:red">*</span>单位名称:</p>
      </div>

      <div class="colpadding" style="text-align: center;width:28.31%;border-right: 1px solid #e2e2e2;">
        <p style="font-weight: 600;"><span style="color:red">*</span>资质等级:</p>
      </div>


      <div class="colpadding" style="text-align: center;width:15%;border-right: 1px solid #e2e2e2;">
        <p style="font-weight: 600;"><span style="color:red">*</span>法定代表人/主要负责人:</p>
      </div>


      <div class="colpadding" style="text-align: center;width:10%;border-right: 1px solid #e2e2e2;">
        <p style="font-weight: 600;"><span style="color:red">*</span>联系人:</p>
      </div>

      <div class="colpadding" style="text-align: center;width:10%;border-right: 1px solid #e2e2e2;">
        <p style="font-weight: 600;"><span style="color:red">*</span>联系电话:</p>
      </div>

      <div class="colpadding" style="text-align: center;width:5%;border-right: 1px solid #e2e2e2;">
        <p style="font-weight: 600;"><span style="color:red">*</span>操作:</p>
      </div>




    </div>

    <div class="section">

      <div class="colpadding" style="text-align: center;width:16.689%;border-right: 1px solid #e2e2e2;">
        <p style="font-weight: 600;"><span style="color:red">*</span>设计单位:</p>
      </div>

      <div class="colpadding" style="width:15%;border-right: 1px solid #e2e2e2;">
        <input nz-input>
      </div>

      <div class="colpadding" style="width:28.31%;border-right: 1px solid #e2e2e2;">
        <input nz-input>
      </div>


      <div class="colpadding" style="width:15%;border-right: 1px solid #e2e2e2;">
        <input nz-input>
      </div>


      <div class="colpadding" style="width:10%;border-right: 1px solid #e2e2e2;">
        <input nz-input>
      </div>

      <div class="colpadding" style="width:10%;border-right: 1px solid #e2e2e2;">
        <input nz-input>
      </div>

      <div class="colpadding" style="width:5%;border-right: 1px solid #e2e2e2;">
        <a style="margin-right: 10px">增加</a>
        <a>删除</a>
      </div>




    </div>

    <div class="section">

      <div class="colpadding" style="text-align: center;width:16.689%;border-right: 1px solid #e2e2e2;">
        <p style="font-weight: 600;"><span style="color:red">*</span>施工单位:</p>
      </div>

      <div class="colpadding" style="width:15%;border-right: 1px solid #e2e2e2;">
        <input nz-input>
      </div>

      <div class="colpadding" style="width:28.31%;border-right: 1px solid #e2e2e2;">
        <input nz-input>
      </div>


      <div class="colpadding" style="width:15%;border-right: 1px solid #e2e2e2;">
        <input nz-input>
      </div>


      <div class="colpadding" style="width:10%;border-right: 1px solid #e2e2e2;">
        <input nz-input>
      </div>

      <div class="colpadding" style="width:10%;border-right: 1px solid #e2e2e2;">
        <input nz-input>
      </div>

      <div class="colpadding" style="width:5%;border-right: 1px solid #e2e2e2;">
        <a style="margin-right: 10px">增加</a>
        <a>删除</a>
      </div>




    </div>

    <div class="section">

      <div class="colpadding" style="text-align: center;width:16.689%;border-right: 1px solid #e2e2e2;">
        <p style="font-weight: 600;"><span style="color:red"></span>监理单位:</p>
      </div>

      <div class="colpadding" style="width:15%;border-right: 1px solid #e2e2e2;">
        <input nz-input>
      </div>

      <div class="colpadding" style="width:28.31%;border-right: 1px solid #e2e2e2;">
        <input nz-input>
      </div>


      <div class="colpadding" style="width:15%;border-right: 1px solid #e2e2e2;">
        <input nz-input>
      </div>


      <div class="colpadding" style="width:10%;border-right: 1px solid #e2e2e2;">
        <input nz-input>
      </div>

      <div class="colpadding" style="width:10%;border-right: 1px solid #e2e2e2;">
        <input nz-input>
      </div>

      <div class="colpadding" style="text-align: center;width:5%;border-right: 1px solid #e2e2e2;">
        <p>无</p>
      </div>
    </div>

    <div class="section">

      <div class="colpadding" style="text-align: center;width:16.689%;border-right: 1px solid #e2e2e2;">
        <p style="font-weight: 600;"><span style="color:red">*</span>检测单位:</p>
      </div>

      <div class="colpadding" style="width:15%;border-right: 1px solid #e2e2e2;">
        <input nz-input>
      </div>

      <div class="colpadding" style="width:28.31%;border-right: 1px solid #e2e2e2;">
        <input nz-input>
      </div>


      <div class="colpadding" style="width:15%;border-right: 1px solid #e2e2e2;">
        <input nz-input>
      </div>


      <div class="colpadding" style="width:10%;border-right: 1px solid #e2e2e2;">
        <input nz-input>
      </div>

      <div class="colpadding" style="width:10%;border-right: 1px solid #e2e2e2;">
        <input nz-input>
      </div>

      <div class="colpadding" style="text-align: center;width:5%;border-right: 1px solid #e2e2e2;">
        <p>无</p>
      </div>

    </div>

    <div class="section">

      <div class="colpadding"
        style="text-align: center;width:5%;border-right: 1px solid #e2e2e2;background-color: #d0e8fe;height:168px;">
        <p style="font-weight: 600;color:#5a95e9"><span style="color:red">*</span>工程基本情况</p>
      </div>

      <div style="text-align: center;width:11.6756%;border-right: 1px solid #e2e2e2;">
        <div style="border-bottom:1px solid #e2e2e2;">
          <p style="font-weight: 600;height: 80px;line-height: 80px"><span style="color:red">*</span>单体建筑名称</p>
        </div>
        <div style="text-align: center;padding-top:10px;box-sizing: border-box;line-height: 70px"><input nz-input></div>
      </div>

      <div style="text-align: center;width:14.99134%;border-right: 1px solid #e2e2e2;">
        <div style="border-bottom:1px solid #e2e2e2;">
          <p style="font-weight: 600;height: 80px;line-height: 80px"><span style="color:red">*</span>结构类型</p>
        </div>
        <div style="text-align: center;padding-top:10px;box-sizing: border-box;line-height: 70px"><input nz-input></div>
      </div>

      <div class="colpadding" style="text-align: center;width:14.155%;border-right: 1px solid #e2e2e2;">
        <p style="font-weight: 600;"><span style="color:red">*</span>结构类型</p>
      </div>

      <div class="colpadding" style="text-align: center;width:14.155%;border-right: 1px solid #e2e2e2;">
        <p style="font-weight: 600;"><span style="color:red">*</span>层数</p>
      </div>

      <div class="colpadding" style="text-align: center;width:7.5%;border-right: 1px solid #e2e2e2;">
        <p style="font-weight: 600;"><span style="color:red">*</span>建筑高度（m）:</p>
      </div>

      <div class="colpadding" style="text-align: center;width:7.5%;border-right: 1px solid #e2e2e2;">
        <p style="font-weight: 600;"><span style="color:red">*</span>占地面积
          （m2）</p>
      </div>

      <div class="colpadding" style="text-align: center;width:20%;border-right: 1px solid #e2e2e2;">
        <p style="font-weight: 600;"><span style="color:red">*</span>建筑面积</p>
      </div>

      <div class="colpadding" style="text-align: center;width:5%;border-right: 1px solid #e2e2e2;">
        <p style="font-weight: 600;"><span style="color:red">*</span>操作</p>
      </div>

    </div>

  </div>
</div>
