<page-header [action]="phActionTpl">
  <ng-template #phActionTpl>

    <button nz-button nzType="default" (click)="switchFilter()"><i nz-icon
        type="{{ hiddenFliter?'down':'up'}}"></i>{{ hiddenFliter?'展开条件':'收起条件'}}</button>
    <button (click)="initTable()" nz-button nzType="default"><i nz-icon type="reload"></i>刷新</button>
  </ng-template>
</page-header>
<nz-card>
  <form [hidden]="hiddenFliter" nz-form nzLayout="inline" #f="ngForm" se-container="1">
    <se>
      <button nz-button (click)="add()" nzType="primary" style="margin-right: 10px;float: left;margin-top: 3px;"><i
          nz-icon type="plus"></i>增加</button>
      <button nz-button (click)="deleteData()" nzType="primary"
        style="margin-right: 10px;float: left;margin-top: 3px;"><i nz-icon type="delete"
          nzTheme="outline"></i>批量删除</button>
      <input style="float: left;width:200px;margin-top: 3px;" placeholder="请输入角色名称" type="text" nz-input
        [(ngModel)]="searchForm.name" name="name">
      <button nz-button (click)="initTable()" nzType="primary" style="margin-left: 10px;">搜索</button>
    </se>
  </form>
  <st #st [data]="data" [pi]="searchForm.page" [ps]="searchForm.size" [columns]="columns" [loading]="isSearchForm"
    (change)="changeDelete($event)"></st>
  <br>

</nz-card>
<nz-modal nzFooter=" " nzWidth="800" [(nzVisible)]="addVisible" [(nzTitle)]="title" (nzOnCancel)="handleCancel()">
  <form nz-form #f="ngForm" se-container="1" gutter="32" style="padding-right: 50px;">
    <!-- <se label="商户编号" error="请填写" required>
      <input type="text" nz-input [(ngModel)]="addForm.merchantId" name="merchantId" required>
    </se> -->
    <!-- <se label="菜单编号" error="请填写" required>
      <input type="text" nz-input [(ngModel)]="addForm.menuId" name="menuId" required>
    </se> -->
    <se label="角色名称" required>
        <nz-select [disabled]="operate==2" *ngIf="operate==1" [(ngModel)]="addForm.name" name="name" nzAllowClear nzPlaceHolder="请选择">
            <nz-option *ngFor="let item of roleList" [nzValue]="item.text" [nzLabel]="item.text"></nz-option>
          </nz-select>
      <input *ngIf="operate!=1" [disabled]="operate==2" type="text" nz-input [(ngModel)]="addForm.name" name="name" required>
    </se>
    <!-- <se label="图标" error="请填写" required>
      <input type="text" nz-input [(ngModel)]="addForm.icon" name="icon" required>
    </se> -->
    <se label="启用" required>
      <nz-select [disabled]="operate==2" [(ngModel)]="addForm.isEnabled" name="isEnabled" nzAllowClear nzPlaceHolder="请选择">
        <nz-option [nzValue]="true" nzLabel="启用"></nz-option>
        <nz-option [nzValue]="false" nzLabel="不启用"></nz-option>
      </nz-select>
    </se>
    <!-- <se label="排序号" error="请输入数字" required>
      <input type="number" [disabled]="operate==2" nz-input [(ngModel)]="addForm.sortId" name="sortId" required>
    </se> -->
    <!-- <se label="版本号" error="请填写" required>
      <input type="text" nz-input [(ngModel)]="addForm.version" name="version" required>
    </se> -->
    <se>
      <button nz-button nzType="primary" style="float: right" [disabled]="f.invalid" (click)="save()">确定</button>
      <button nz-button nzType="primary" style="float: right;margin-right: 10px;" (click)="handleCancel()">取消</button>
    </se>
  </form>
</nz-modal>