@import '~@delon/theme//styles/default';
@import '../../styles/index.less';


.login_content {
  height: 100%;
  background-color: rgba(255, 255, 255, 0.425);
  padding: 40px;
  display: flex;
  align-items: center;
  justify-content: space-around;

  box-sizing: border-box;
  position: absolute;
  right: 0;
}

:host {
  display: block;
  width: 428px;
  margin: 0 auto;

  height: 100%;

  // background-image: url("../../assets/images/login_bg.jpg");

  ::ng-deep {
    .ant-tabs .ant-tabs-bar {
      border-bottom: 0;
      margin-bottom: 24px;
      text-align: center;
    }

    .ant-tabs-tab {
      font-size: 16px;
      line-height: 24px;
    }

    .ant-input-affix-wrapper .ant-input:not(:first-child) {
      padding-left: 34px;
    }

    .icon {
      font-size: 24px;
      color: rgba(0, 0, 0, 0.2);
      margin-left: 16px;
      vertical-align: middle;
      cursor: pointer;
      transition: color 0.3s;

      &:hover {
        color: @primary-color;
      }
    }

    .other {
      text-align: left;
      margin-top: 24px;
      line-height: 22px;

      nz-tooltip {
        vertical-align: middle;
      }

      .register {
        float: right;
      }
    }
  }
}

.title {
  font-weight: 700;
  font-style: normal;
  font-size: 24px;
  color: @primary-color;
  line-height: 28px;
}

.title span {
  width: 100% !important;
  float: left !important;
  overflow: hidden !important;
  text-overflow: ellipsis !important;
  white-space: normal !important;
}

.login_but {
  background-color: @primary-color;
  font-size: 18px;
  border-color: @primary-color ;
  color: white;
  height: 40px;
  line-height: 40px;
}

.tabsmenu {
  border-bottom: 1px solid #ededed;
  display: flex;
  margin-bottom: 10px;
}

.tabsitem {
  color: #ededed;
  padding: 12px 16px;
}

.tabsitem_seleced {
  color: @primary-color;
  padding: 12px 16px;
}

.register_menu {
  text-align: right;
  margin-top: 24px;
  line-height: 22px;
  box-sizing: border-box;
  font-size: 14px;
  color: @primary-color;

}

.register_menu .item {
  margin-left: 10px;
}
