.formPrint {
  outline: none;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  background: #F4F9FF;

  .ant-radio-wrapper {
    white-space: normal !important;
  }
}

.radioImg {
  padding-bottom: 5px;
  padding-left: 22px;
  position: relative;
  margin-left: 5px;
}

.radioChecked {
  width: 17px;
  height: 17px;
  display: inline-block;
  margin: 0 5px;
}

.specialTitle {
  font-weight: 600;
  padding-top: 10px;
}

.title {
  text-align: center;
  font-size: 27px;
  padding: 15px;
  border-top: 1px solid #e2e2e2;
  border-left: 1px solid #e2e2e2;
  border-right: 1px solid #e2e2e2;
  font: 900 18px Arial;
  box-sizing: border-box;
}

.borderRight {
  border-right: 1px solid #e2e2e2;
  box-sizing: border-box;
}

.tableTopTitle {
  text-align: center;
  font-size: 17px;
  padding: 15px;
  border-top: 1px solid #e2e2e2;
  border-left: 1px solid #e2e2e2;
  border-right: 1px solid #e2e2e2;
  font: 600 14px Arial;
  box-sizing: border-box;
}

.row {
  display: flex;
  border-top: 1px solid #e2e2e2;
  border-left: 1px solid #e2e2e2;
  border-right: 1px solid #e2e2e2;
  font: 500 14px Arial;
  box-sizing: border-box;
}

.contantCenter {
  display: flex;
  justify-content: center;
  align-items: center;
}

.minTitle {
  width: 121px;
  font-weight: 600;
  border-right: 1px solid #e2e2e2;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
}

.unit {
  width: 200px;
}

.value {
  width: 70px;
}

.formPrint .row>div {
  box-sizing: border-box;
  //   border-right: 1px solid #e2e2e2;
  box-sizing: border-box;
  padding: 15px;
  word-wrap: break-word;
  //   margin-top: -1px;
  //   margin-left: -1px;

}

.formPrint .row div {
  flex-shrink: 0;
}

.fontWeight {
  font-weight: 600;
}

.minTitleFlow {
  width: 121px;
  border-right: 1px solid #e2e2e2;
  box-sizing: border-box;
}

.tableTitle {
  width: 100px;
  font-weight: 600;
  background-color: #f8f8f8;
  border-right: 1px solid #e2e2e2;
  box-sizing: border-box;
}
