<div class="modal-header">
  <div class="modal-title">查看信息-超时办理</div>
</div>
<div sv-container *ngIf="i">
  <sv label="竣工验收申报编号">{{ i.recordNumber }}</sv>
  <sv label="工程名称">{{ i.projectName }}</sv>
  <sv label="建设单位">{{ i.companyName }}</sv>
  <sv label="联系人">{{ i.contactPerson }}</sv>
  <sv label="联系电话">{{ i.contactNumber }}</sv>
  <sv label="审核结果">{{ i.status }}</sv>
  <sv label="操作人">{{ i.acceptUserCode }}</sv>
  <sv label="操作时间">{{ i.acceptTime }}</sv>

  <!-- <sv label="数据来源">{{ i.Access==0?'平台获取':'导入获取' }}</sv> -->
</div>
<div class="modal-footer">
  <button nz-button type="button" (click)="close()">关闭</button>
</div>
