<div class="printWrap" style="width:774px; margin: 0 auto;padding: 0 20px; ">
    <div *ngIf="data" class="formPrint" style="display: flex;">
        <div class="title">
            建设工程消防设计审查申报表
        </div>
        <div class="row">
            <div class="minTitle">建设单位:</div>
            <div class="borderRight" style="width:250px;">{{data.jsconstructionUnit}}</div>
            <div class="minTitle" style="width:180px;">法定代表人/主要负责人:</div>
            <div class="value" style="width:190px;">
                {{data.legalRepresentative}}
            </div>
        </div>
        <div class="row">
            <div class="minTitle">联系电话:</div>
            <div class="borderRight" style="width:250px;">{{data.legalRepresentativeNo}}</div>
            <div class="minTitle" style="width:180px;">联系人:</div>
            <div class="value" style="width:190px;">
                {{data.contacts}}
            </div>
        </div>
        <div class="row">
            <div class="minTitle">联系电话:</div>
            <div class="borderRight" style="width:250px;">{{data.contactsNumber}}</div>
            <div class="minTitle" style="width:180px;">工程名称:</div>
            <div class="value" style="width:190px;">
                {{data.projectName}}
            </div>
        </div>
        <div class="row">
            <div class="minTitle">联系人:</div>
            <div class="borderRight" style="width:250px;">{{data.contacts}}</div>
            <div class="minTitle" style="width:180px;">工程名称:</div>
            <div class="value" style="width:190px;">
                {{data.projectName}}
            </div>
        </div>
        <div class="row">
            <div class="minTitle">施工许可证号:</div>
            <div class="borderRight" style="width:250px;">{{data.constructionPermitNumber}}</div>
            <div class="minTitle" style="width:180px;">检测报告编号：</div>
            <div class="value" style="width:190px;">
                {{data.testReportNumber}}
            </div>
        </div>
        <div class="row">
            <div class="minTitle">验收合格日期:</div>
            <div class="borderRight" style="width:250px;">{{data.planEndTime}}</div>
            <div class="minTitle" style="width:180px;">使用性质：</div>
            <div class="value" style="width:190px;">
                {{data.natureCode}}
            </div>
        </div>

        <div class="row">
            <div class="minTitle">工程地址:</div>
            <div style="width: 512px;">{{data.address}}{{data.engineeringAddress}}</div>
        </div>
        <div class="row">
            <div class="minTitle">审批单位:</div>
            <div style="width: 512px;">{{data.engineeringNo}}</div>
        </div>
        <div class="row">
            <div class="minTitle">单位类别</div>
            <div class="minTitle" style="width: 128px;">单位名称</div>
            <div class="minTitle">资质等级</div>
            <div class="minTitle">联系人</div>
            <div class="minTitle">联系电话</div>
        </div>
        <div class="row" *ngFor="let item of data.design;">
            <div class="minTitle">设计单位</div>
            <div class="minTitleFlow" style="width: 128px;">{{item.designUnit}}</div>
            <div class="minTitleFlow">{{item.qualificationLevel}}</div>
            <div class="minTitleFlow">{{item.contacts}}</div>
            <div class="minTitleFlow">{{item.contactsNumber}}</div>
        </div>
        <div class="row" *ngFor="let item of data.constructionUnit;">
            <div class="minTitle">施工单位</div>
            <div class="minTitleFlow" style="width: 128px;">{{item.designUnit}}</div>
            <div class="minTitleFlow">{{item.qualificationLevel}}</div>
            <div class="minTitleFlow">{{item.contacts}}</div>
            <div class="minTitleFlow">{{item.contactsNumber}}</div>
        </div>
        <div class="row">
            <div class="minTitle">监理单位</div>
            <div class="minTitleFlow" style="width: 128px;">{{data.constructionControlUnit.designUnit}}</div>
            <div class="minTitleFlow">{{data.constructionControlUnit.qualificationLevel}}</div>
            <div class="minTitleFlow">{{data.constructionControlUnit.contacts}}</div>
            <div class="minTitleFlow">{{data.constructionControlUnit.contactsNumber}}</div>
        </div>
        <div class="row">
            <div class="minTitle">检测单位</div>
            <div class="minTitleFlow" style="width: 128px;">{{data.detectionUnit.name}}</div>
            <div class="minTitleFlow">{{data.detectionUnit.qualificationLevel}}</div>
            <div class="minTitleFlow">{{data.detectionUnit.contacts}}</div>
            <div class="minTitleFlow">{{data.detectionUnit.contactsNumber}}</div>
        </div>


        <div class="row">
            <div style="width: 50px;" class="contantCenter fontWeight borderRight">
                工程基本情况
            </div>
            <div style="width: 682px;display: flex;flex-direction: column;padding: 0;">
                <div style="width: 682px;display: flex;">
                    <div class="minTitle">建筑物名称</div>
                    <div class="minTitle" style="width: 59px;
                    padding: 0 15px;
                    box-sizing: border-box;
                }">结构类型</div>
                    <div class="minTitle contantCenter" style="width: 67px;
                    padding: 15px;
                    box-sizing: border-box;">耐火等级</div>
                    <div class="minTitle borderRight" style="text-align: center;width: 71px;padding: 15px;">高度（m）</div>

                    <div class="minTitle"
                        style="display: flex;flex-direction: column;padding: 0;text-align: center;width: 148px;">
                        <div
                            style="border-bottom: 1px solid #e2e2e2;padding: 13px 0;box-sizing: border-box;width: 100%;">
                            层数
                        </div>
                        <div style="display: flex;">
                            <div
                                style="border-right: 1px solid #e2e2e2;padding: 20px 5px;width: 50px;box-sizing: border-box;">
                                地上
                            </div>

                            <div
                                style="border-right: 1px solid #e2e2e2;text-align: center;padding: 20px 5px;width: 50px;box-sizing: border-box;width: 50px;">
                                地下
                            </div>
                            <div
                                style="text-align: center;padding: 20px 5px;width: 50px;box-sizing: border-box;width: 50px;">
                                总计
                            </div>
                        </div>
                    </div>
                    <div class="minTitle"
                        style="display: flex;flex-direction: column;padding: 0;text-align: center;width: 148px;">
                        <div
                            style="border-bottom: 1px solid #e2e2e2;padding: 13px 0;box-sizing: border-box;width: 100%;">
                            建筑面积（m<sup>2</sup>）</div>
                        <div style="display: flex;">
                            <div
                                style="border-right: 1px solid #e2e2e2;padding: 20px 5px;width: 50px;box-sizing: border-box;">
                                地上
                            </div>
                            <div
                                style="border-right: 1px solid #e2e2e2;padding: 20px 5px;width: 50px;box-sizing: border-box;">
                                地下
                            </div>
                            <div
                                style="text-align: center;padding: 20px 5px;width: 50px;box-sizing: border-box;width: 50px;">
                                总计
                            </div>
                        </div>
                    </div>
                    <div class="minTitle" style="width: 69px;padding: 15px;">火灾危险性类别</div>
                </div>
                <div class="specialLow" style="display: flex;border-top: 1px solid #e2e2e2;"
                    *ngFor="let item of data.basicInformation;">
                    <div class="borderRight" style="width:121px;">{{item.name}}</div>
                    <div class="borderRight" style="width:59px;">{{item.type}}</div>
                    <div class="borderRight" style="width: 67px;">{{item.grade}}</div>
                    <div class="borderRight" style="width: 71px;">{{item.height}}</div>
                    <div class="borderRight" style="width: 48px;">{{item.upGround}}</div>
                    <div class="borderRight" style="width: 50px;">{{item.underGround}}</div>
                    <div class="borderRight" style="width: 50px;">
                        {{item.ground&&!item.upGround?item.ground:(item.upGround?+item.upGround:0)+(item.underGround?+item.underGround:0)}}
                    </div>
                    <div class="borderRight" style="width: 48px;">{{item.builtUpArea2}}</div>
                    <div class="borderRight" style="width: 50px;">{{item.builtUnderArea}}</div>
                    <div class="borderRight" style="width:  50px;">
                        {{item.builtUpArea&&!item.builtUpArea2?item.builtUpArea:(item.builtUpArea2?+item.builtUpArea2:0)+(item.builtUnderArea?+item.builtUnderArea:0)}}
                    </div>
                    <div style="width: 69px;">{{item.fireHazard}}</div>
                </div>
            </div>
        </div>

        <div class="row" *ngFor="let item of data.storageTank;">
            <div style="width: 50px;" class="contantCenter fontWeight borderRight">
                储 罐
            </div>
            <div style="width: 682px;display: flex;flex-direction: column;padding: 0;">
                <div style="display: flex;width: 100%;">
                    <div class="fontWeight minTitle" style="padding: 15px;">
                        设置位置
                    </div>
                    <div style="width: 300px;">
                        {{item.position}}
                    </div>
                </div>
                <div style="display: flex;width: 100%;border-top:  1px solid #e2e2e2;">
                    <div class="fontWeight minTitle" style="padding: 15px;">
                        设置形式
                    </div>
                    <div style="width: 300px;">
                        <span>
                            <img class="radioChecked" *ngIf="item.settingForm=='内浮顶罐'"
                                src="../../../assets/images/radiochecked.png" alt="">
                            <img class="radioChecked" *ngIf="item.settingForm!='内浮顶罐'"
                                src="../../../assets/images/radioUnchecked.png" alt="">
                            <span>内浮顶罐</span>
                        </span>
                        <span>
                            <img class="radioChecked" *ngIf="item.settingForm=='水槽式罐'"
                                src="../../../assets/images/radiochecked.png" alt="">
                            <img class="radioChecked" *ngIf="item.settingForm!='水槽式罐'"
                                src="../../../assets/images/radioUnchecked.png" alt="">
                            <span>水槽式罐</span>
                        </span>
                        <span>
                            <img class="radioChecked" *ngIf="item.settingForm=='球形罐'"
                                src="../../../assets/images/radiochecked.png" alt="">
                            <img class="radioChecked" *ngIf="item.settingForm!='球形罐'"
                                src="../../../assets/images/radioUnchecked.png" alt="">
                            <span>球形罐</span>
                        </span>
                        <span>
                            <img class="radioChecked" *ngIf="item.settingForm=='拱顶罐'"
                                src="../../../assets/images/radiochecked.png" alt="">
                            <img class="radioChecked" *ngIf="item.settingForm!='拱顶罐'"
                                src="../../../assets/images/radioUnchecked.png" alt="">
                            <span>拱顶罐</span>
                        </span>
                        <span>
                            <img class="radioChecked" *ngIf="item.settingForm=='卧式罐'"
                                src="../../../assets/images/radiochecked.png" alt="">
                            <img class="radioChecked" *ngIf="item.settingForm!='卧式罐'"
                                src="../../../assets/images/radioUnchecked.png" alt="">
                            <span>拱顶罐</span>
                        </span>
                        <span>
                            <img class="radioChecked" *ngIf="item.settingForm=='其它'"
                                src="../../../assets/images/radiochecked.png" alt="">
                            <img class="radioChecked" *ngIf="item.settingForm!='其它'"
                                src="../../../assets/images/radioUnchecked.png" alt="">
                            <span>其它</span>
                        </span>
                    </div>
                </div>
                <div style="display: flex;width: 100%;border-top:  1px solid #e2e2e2;">
                    <div class="fontWeight minTitle" style="padding: 15px;">
                        储物类别
                    </div>
                    <div style="width: 300px;">
                        <span>
                            <img class="radioChecked" *ngIf="item.type=='可燃液体'"
                                src="../../../assets/images/radiochecked.png" alt="">
                            <img class="radioChecked" *ngIf="item.type!='可燃液体'"
                                src="../../../assets/images/radioUnchecked.png" alt="">
                            <span>可燃液体</span>
                        </span>
                        <span>
                            <img class="radioChecked" *ngIf="item.type=='易燃液体'"
                                src="../../../assets/images/radiochecked.png" alt="">
                            <img class="radioChecked" *ngIf="item.type!='易燃液体'"
                                src="../../../assets/images/radioUnchecked.png" alt="">
                            <span>易燃液体</span>
                        </span>
                        <span>
                            <img class="radioChecked" *ngIf="item.type=='可燃气体'"
                                src="../../../assets/images/radiochecked.png" alt="">
                            <img class="radioChecked" *ngIf="item.type!='可燃气体'"
                                src="../../../assets/images/radioUnchecked.png" alt="">
                            <span>可燃气体</span>
                        </span>
                        <span>
                            <img class="radioChecked" *ngIf="item.type=='助燃气体'"
                                src="../../../assets/images/radiochecked.png" alt="">
                            <img class="radioChecked" *ngIf="item.type!='助燃气体'"
                                src="../../../assets/images/radioUnchecked.png" alt="">
                            <span>助燃气体</span>
                        </span>
                        <span>
                            <img class="radioChecked" *ngIf="item.type=='不燃气体'"
                                src="../../../assets/images/radiochecked.png" alt="">
                            <img class="radioChecked" *ngIf="item.type!='不燃气体'"
                                src="../../../assets/images/radioUnchecked.png" alt="">
                            <span>不燃气体</span>
                        </span>
                        <span>
                            <img class="radioChecked" *ngIf="item.type=='其它'"
                                src="../../../assets/images/radiochecked.png" alt="">
                            <img class="radioChecked" *ngIf="item.type!='其它'"
                                src="../../../assets/images/radioUnchecked.png" alt="">
                            <span>其它</span>
                        </span>
                    </div>
                </div>
                <div style="display: flex;width: 100%;border-top:  1px solid #e2e2e2;">
                    <div class="fontWeight minTitle" style="padding: 15px;">
                        储存物质名称
                    </div>
                    <div class="fontWeight minTitle" style="padding: 15px;width: 142px;">
                        储罐材质
                    </div>
                    <div class="fontWeight minTitle" style="padding: 15px;width: 140px;">
                        储存工作压力
                    </div>
                    <div class="fontWeight minTitle" style="padding: 15px;width: 140px;">
                        储存温度
                    </div>
                    <div class="fontWeight minTitle" style="padding: 15px;width: 140px;">
                        储存形式
                    </div>
                </div>
                <div style="display: flex;width: 100%;border-top:  1px solid #e2e2e2;">
                    <div class="fontWeight minTitle" style="padding: 15px;">
                        {{item.name}}
                    </div>
                    <div class="fontWeight minTitle" style="padding: 15px;width: 142px;">
                        {{item.materialQuality}}
                    </div>
                    <div class="fontWeight minTitle" style="padding: 15px;width: 140px;">
                        {{item.pressure}}
                    </div>
                    <div class="fontWeight minTitle" style="padding: 15px;width: 140px;">
                        {{item.temperature}}
                    </div>
                    <div class="fontWeight minTitle" style="padding: 15px;width: 140px;">
                        {{item.form}}
                    </div>
                </div>
            </div>
        </div>
        <div class="row" *ngFor="let item of data.yard;">
            <div class="fontWeight borderRight minTitle">
                堆 场
            </div>
            <div class="fontWeight borderRight minTitle" style="text-align: center;">储 量</div>
            <div class="borderRight" style="text-align: center;width: 170px;">{{item.reserves}}</div>
            <div class="fontWeight borderRight minTitle" style="text-align: center;">储存物质名称</div>
            <div class="borderRight" style="text-align: center;width: 200px;">{{item.name}}</div>
        </div>
        <div class="row" *ngFor="let item of data.newcheckboxEngineering;">
            <div class="fontWeight borderRight minTitle">
                {{item.label}}
            </div>
            <div style="width: 512px;padding: 5px;">
                <span *ngFor="let box of item.arr;">
                    <img class="radioChecked" *ngIf="box.value" src="../../../../assets/images/radiochecked.png" alt="">
                    <img class="radioChecked" *ngIf="!box.value" src="../../../../assets/images/radioUnchecked.png"
                        alt="">
                    <span>
                        {{box.label}}
                    </span>
                </span>

            </div>
        </div>


        <div class="row">
            <div class="minTitle">室内装修工程</div>
            <div style="display: flex;padding: 0;flex-direction: column;">
                <div style="display: flex;padding: 0;">
                    <div class="fontWeight"
                        style="width: 100px;border-right: 1px solid #e2e2e2;padding: 10px;border-bottom: 1px solid #e2e2e2;box-sizing: border-box;">
                        装修部位
                    </div>
                    <div style="padding: 15px;width: 512px;border-bottom: 1px solid #e2e2e2;box-sizing: border-box;">

                        <span *ngFor="let box of data.constructionProject.arr">
                            <img class="radioChecked" *ngIf="box.value" src="../../../../assets/images/radiochecked.png"
                                alt="">
                            <img class="radioChecked" *ngIf="!box.value"
                                src="../../../../assets/images/radioUnchecked.png" alt="">
                            <span>
                                {{box.label}}
                            </span>
                        </span>

                    </div>
                </div>
                <div style="display: flex;padding: 0;">
                    <div class="fontWeight"
                        style="width: 100px;border-right: 1px solid #e2e2e2;padding: 10px;box-sizing: border-box;">
                        装修面积（㎡）
                    </div>
                    <div style="width: 245px;border-right: 1px solid #e2e2e2;padding: 10px;box-sizing: border-box;">
                        {{data.constructionProject.decorationArea}}</div>
                    <div class="fontWeight"
                        style="width: 100px;border-right: 1px solid #e2e2e2;padding: 10px;box-sizing: border-box;">
                        装修层数
                    </div>
                    <div style="width: 168px;">{{data.constructionProject.ground}}</div>
                </div>
                <div style="display: flex;padding: 0;">
                    <div class="fontWeight"
                        style="width: 100px;border-right: 1px solid #e2e2e2;padding: 10px;border-top: 1px solid #e2e2e2;box-sizing: border-box;">
                        使用性质
                    </div>
                    <div
                        style="width: 245px;border-right: 1px solid #e2e2e2;padding: 10px;border-top: 1px solid #e2e2e2;box-sizing: border-box;">
                        {{data.constructionProject.useNature}}</div>
                    <div class="fontWeight"
                        style="width: 100px;border-right: 1px solid #e2e2e2;padding: 10px;border-top: 1px solid #e2e2e2;box-sizing: border-box;">
                        原有用途
                    </div>
                    <div style="width: 168px;padding: 10px;border-top: 1px solid #e2e2e2;box-sizing: border-box;">
                        {{data.constructionProject.originallyUsed}}
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="minTitle">消防设施类别</div>
            <div class="minTitle" style="width: 100px;">场所</div>
            <div class="minTitle" style="width: 512px;">类型</div>
        </div>
        <div class="row" *ngFor="let item of data.fireControlLinkageEngineering;">
            <div class="borderRight" style="width: 121px;">{{item.label}}</div>
            <div class="borderRight" style="width: 100px;">{{item.input}}</div>
            <div style="width: 512px;">
                <span *ngFor="let box of item.arr;">
                    <p style="margin-top: 5px;"> {{box.label}}</p>
                    <div *ngIf="box.type=='radio'">
                        <span *ngFor="let obj of box.list;">
                            <img *ngIf="obj.value==box.value" src="../../../../assets/images/checked.png" alt="">
                            <img *ngIf="obj.value!=box.value" src="../../../../assets/images/unchecked.png" alt="">
                            <span>
                                {{obj.label}}
                            </span>
                        </span>
                    </div>
                    <div *ngIf="box.type=='check'">
                        <span *ngFor="let obj of box.list;">
                            <img *ngIf="obj.value" src="../../../../assets/images/checked.png" alt="">
                            <img *ngIf="!obj.value" src="../../../../assets/images/unchecked.png" alt="">
                            <span>
                                {{obj.label}}
                            </span>
                        </span>
                    </div>
                </span>

            </div>
        </div>

        <div class="row">
            <div style="width: 50px;" class="contantCenter fontWeight borderRight">
                竣工验收意见
            </div>
            <div style="width: 682px;display: flex;flex-direction: column;padding: 0;">
                <div style="border-bottom:1px solid #e2e2e2;display: flex;">
                    <div class="minTitle" style="width: 171px;"> 建设单位</div>
                    <div class="bottomContent">
                        <div>
                            {{data.acceptanceOpinions.constructionUnit.opinion}}
                        </div>
                        <div style="flex: 1;margin: 5px 0;
                              text-align: right;">
                            <span>（建设单位公章）： </span><span
                                style="display: inline-block;min-width: 100px;text-align: left;">{{data.acceptanceOpinions.constructionUnit.officialSeal}}</span>
                        </div>
                        <div style="flex: 1;
                              text-align: right;">
                            <span>项目负责人签名：</span><span
                                style="display: inline-block;min-width: 100px;text-align: left;">{{data.acceptanceOpinions.constructionUnit.autograph}}</span>
                        </div>
                    </div>
                </div>
                <div *ngFor="let item of data.acceptanceOpinions.designUnit;"
                    style="border-bottom:1px solid #e2e2e2;display: flex;">
                    <div class="minTitle" style="width: 171px;"> 设计单位</div>
                    <div class="bottomContent">
                        <div>
                            {{item.opinion}}
                        </div>
                        <div style="flex: 1;margin: 5px 0;
                                  text-align: right;">
                            <span>（设计单位公章）： </span><span
                                style="display: inline-block;min-width: 100px;text-align: left;">{{item.officialSeal}}</span>
                        </div>
                        <div style="text-align: right;">
                            <span>项目负责人签名：</span><span
                                style="display: inline-block;min-width: 100px;text-align: left;">{{item.autograph}}</span>
                        </div>
                    </div>
                </div>
                <div *ngFor="let item of data.acceptanceOpinions.contractingUnit;"
                    style="border-bottom:1px solid #e2e2e2;display: flex;">
                    <div class="minTitle" style="width: 171px;"> 施工单位</div>
                    <div class="bottomContent">
                        <div>
                            {{item.opinion}}
                        </div>
                        <div style="flex: 1;margin: 5px 0;
                                      text-align: right;">
                            <span>（施工单位）： </span><span
                                style="display: inline-block;min-width: 100px;text-align: left;">{{item.officialSeal}}</span>
                        </div>
                        <div style="flex: 1;
                                      text-align: right;">
                            <span>项目经理签名：</span><span
                                style="display: inline-block;min-width: 100px;text-align: left;">{{item.autograph}}</span>
                        </div>
                    </div>
                </div>
                <div style="border-bottom:1px solid #e2e2e2;display: flex;">
                    <div class="minTitle" style="width: 171px;"> 专业承包单位（如有）</div>
                    <div class="bottomContent">
                        <div>
                            {{data.acceptanceOpinions.professionalContractors.opinion}}
                        </div>
                        <div style="flex: 1;margin: 5px 0;
                                  text-align: right;">
                            <span>（专业承包单位公章）： </span><span
                                style="display: inline-block;min-width: 100px;text-align: left;">{{data.acceptanceOpinions.professionalContractors.officialSeal}}</span>
                        </div>
                        <div style="flex: 1;
                                  text-align: right;">
                            <span>项目负责人签名：</span><span
                                style="display: inline-block;min-width: 100px;text-align: left;">{{data.acceptanceOpinions.professionalContractors.autograph}}</span>
                        </div>
                    </div>
                </div>
                <div style="border-bottom:1px solid #e2e2e2;display: flex;">
                    <div class="minTitle" style="width: 171px;"> 工程监理单位</div>
                    <div class="bottomContent">
                        <div>
                            {{data.acceptanceOpinions.engineeringSupervisionUnit.opinion}}
                        </div>
                        <div style="flex: 1;margin: 5px 0;
                                      text-align: right;">
                            <span>（监理单位公章）： </span><span
                                style="display: inline-block;min-width: 100px;text-align: left;">{{data.acceptanceOpinions.engineeringSupervisionUnit.officialSeal}}</span>
                        </div>
                        <div style="flex: 1;
                                      text-align: right;">
                            <span>项目总监理工程师签名：</span><span
                                style="display: inline-block;min-width: 100px;text-align: left;">{{data.acceptanceOpinions.engineeringSupervisionUnit.autograph}}</span>
                        </div>
                    </div>
                </div>
                <div style="border-bottom:1px solid #e2e2e2;display: flex;">
                    <div class="minTitle" style="width: 171px;"> 消防设施检测单位</div>
                    <div class="bottomContent">
                        <div>
                            {{data.acceptanceOpinions.fireInspectionUnit.opinion}}
                        </div>
                        <div style="flex: 1;margin: 5px 0;
                                          text-align: right;">
                            <span>检测单位： </span><span
                                style="display: inline-block;min-width: 100px;text-align: left;">{{data.acceptanceOpinions.fireInspectionUnit.officialSeal}}</span>
                        </div>
                        <div style="flex: 1;
                                          text-align: right;">
                            <span>项目负责人签名：</span><span
                                style="display: inline-block;min-width: 100px;text-align: left;">{{data.acceptanceOpinions.fireInspectionUnit.autograph}}</span>
                        </div>
                    </div>
                </div>
                <div style="padding: 15px;text-align: right;">
                    <span>备案时间： </span><span
                        style="display: inline-block;min-width: 100px;text-align: left;">{{data.acceptanceOpinions.filingTime}}</span>
                </div>

            </div>

        </div>
        <div class="row">
            <div style="width: 50px;" class="contantCenter fontWeight borderRight">
                工程简要说明
            </div>
            <div style="width: 682px;display: flex;flex-direction: column;padding: 0;">
                {{data.engineerinDescription}}
            </div>


        </div>
    </div>