/* You can add global styles to this file, and also import other style files */
@import './yoyo';
@import './yoyo-layout';
@import './main';
@import '~@delon/theme/styles/default';

#wrap {

  .ant-calendar-picker {
    width: 100% !important;
  }

  .ant-card-body {
    padding: 0
  }

}

.alain-fullscreen {
  padding: 0
}


@primary-color: #BD1127;
@primary-opp-color: #1216dd;

.tables {
  .blockCheck {
    .ant-checkbox-wrapper {
      display: block;
      margin-left: 8px;
      margin-top: 5px;
    }
  }
}


.links:hover .deleteFile {
  color: #979797;
  display: block !important;
}

.links:hover {
  background-color: rgba(251, 204, 210, 0.8) !important;
}

 .ant-form-item-control {
  line-height: 20px !important;
}

.customForm .ant-form-item-control{
  line-height: 39.9999px!important;
}


// .anticon-paper-clip {
//   color: red;
// }

.ant-upload-list-item-name{
  color: green;
}