/* You can add global styles to this file, and also import other style files */
@import './yoyo';
@import './yoyo-layout';
@import './main';
@import '~@delon/theme/styles/default';

#wrap .ant-card-body {
  padding: 0
}

.alain-fullscreen {
  padding: 0
}


@primary-color: #BD1127;
@primary-opp-color: #1216dd;
