.flexCloumn {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow: hidden;
}

.flexCloumnAbsolute:extend(.flexCloumn) {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.flexCloumn120:extend(.flexCloumn) {
  height: calc(100vh - 120px);
}

.flexMain {
  -webkit-box-flex: 1;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden
}

.flexBox {
  display: -webkit-box;
}

.flex1 {
  -webkit-box-flex: 1;
  display: block;
  width: 100%
}
.fixedTable table{table-layout: fixed;width: 100%}

.flexContent {
  -webkit-box-pack: center;
  -webkit-box-align: center;
  display: -webkit-box;
}

.flexLeftContent {
  -webkit-box-pack: initial;
  -webkit-box-align: center;
  display: -webkit-box;
}

.flexRightContent {
  -webkit-box-pack: end;
  -webkit-box-align: center;
  display: -webkit-box;
}

.textCenter {
  text-align: center
}

;

.textLeft {
  text-align: left
}

.textRight {
  text-align: right
}

;

.relative {
  position: relative;
}

.limit1 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  white-space: nowrap;
}

//  不允许点击
.pointer {
  pointer-events: none;
}

.pointerf5f5f5 {
  pointer-events: none;
  background: #f5f5f5
}

.pointerf5f5f5>div.ant-select-selection,
.pointerf5f5f5 span.ant-calendar-picker,
.pointerf5f5f5 span.ant-calendar-picker input.ant-calendar-picker-input {
  background: #f5f5f5
}

.disabledInput.ant-input-disabled {
  background: white;
  border: 1px solid #d9d9d9;
  color: #333;
  cursor: pointer;
}

.disabledInput.ant-input-disabled:hover {
  border: 1px solid #d9d9d9;
  cursor: pointer;
}

.hide {
  display: none
}

.w100 {
  width: 100% !important
}

.bgFFF {
  background: white
}



//全局页面的样式
.ant-layout.ant-pro-content {
  background: #F4F9FF;
}

.ant-table-thead>tr>th {
  background: #F1F1F1;
}

.reuse-tab .ant-tabs-nav .ant-tabs-tab .name {
  background: #F4F4F4;
  border-radius: 5px;
  color: #AAAAAA
}

.ant-tabs-nav .ant-tabs-tab-active,
.reuse-tab .ant-tabs-nav .ant-tabs-tab.ant-tabs-tab-active .name {
  color: white;
  background: @primary-color;
  border-radius: 5px
}

nz-tabset .ant-tabs-ink-bar {
  display: none !important
}

nz-tabset .ant-tabs-nav-container,
nz-tabset .ant-tabs-nav-wrap {
  margin-bottom: 0
}

.reuse-tab .ant-tabs-nav .ant-tabs-tab.ant-tabs-tab-active .reuse-tab__op {
  color: white;
}

.reuse-tab {
  margin-bottom: 10px
}

.noSpan .ant-input-group-addon {
  padding: 0;
  border: 0;
  border-radius: 0;
}

.noSpan .ant-input-group-addon button {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.noLabel .se__label,
.afterNone:after {
  display: none
}

.ant-layout.ant-pro-content {
  background: #F4F9FF;
}

.ant-table-thead>tr>th {
  background: #F1F1F1;
}

.reuse-tab .ant-tabs-nav .ant-tabs-tab .name {
  background: #F4F4F4;
  border-radius: 5px;
  color: #AAAAAA
}

.ant-tabs-nav .ant-tabs-tab-active,
.reuse-tab .ant-tabs-nav .ant-tabs-tab.ant-tabs-tab-active .name {
  color: white;
  background: @primary-color;
  border-radius: 5px
}

.offline-card {
  .ant-tabs-ink-bar {
    bottom: auto;
  }

  .ant-tabs-bar {
    border-bottom: none;
  }

  .ant-tabs-nav-container-scrolling {
    padding-right: 40px;
    padding-left: 40px;
  }

  .ant-tabs-tab-prev-icon::before {
    position: relative;
    left: 6px;
  }

  .ant-tabs-tab-next-icon::before {
    position: relative;
    right: 6px;
  }

  .ant-tabs-tab-active h4 {
    color: @primary-color;
  }
}

nz-tabset .ant-tabs-ink-bar {
  display: none !important
}

nz-tabset .ant-tabs-nav-container,
nz-tabset .ant-tabs-nav-wrap {
  margin-bottom: 0;
}

.reuse-tab .ant-tabs-nav .ant-tabs-tab.ant-tabs-tab-active .reuse-tab__op {
  color: white;
}

.reuse-tab {
  margin-bottom: 10px
}

.noSpan .ant-input-group-addon {
  padding: 0;
  border: 0;
  border-radius: 0;
}

.noSpan .ant-input-group-addon button {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}


//全局左侧导航的列表 
yoyo-sidebar-nav .sidebar-nav>li {
  position: relative
}

yoyo-sidebar-nav .sidebar-nav>li.ant-menu-submenu-selected,
yoyo-sidebar-nav .sidebar-nav>li.ant-menu-submenu-selected>.ant-menu {
  background: #f8f8f8
}

yoyo-sidebar-nav .sidebar-nav>li.ant-menu-submenu-selected::after {
  content: '';
  clear: both;
  background: @primary-color;
  position: absolute;
  top: 0;
  left: 0;
  width: 2px;
  height: 100%;
}

yoyo-sidebar-nav .sidebar-nav>li.ant-menu-submenu-selected .ant-menu-submenu-title .iconfont {
  color: @primary-color
}

.formTables .tables se {
  padding-left: 0 !important;
  padding-right: 0 !important
}

.formTables .ant-input-disabled,.formTables .ant-select-disabled .ant-select-selection{background-color: white;color: rgba(0, 0, 0, 0.65);}
.formTables .ant-radio-disabled + span,.formTables .ant-radio-disabled .ant-radio-inner{background:none;color: rgba(0, 0, 0, 0.65);}
.tables {

  nz-date-picker,
  nz-date-picker .ant-calendar-picker {
    width: 100%;
  }
}

.tables {

  nz-date-picker,
  nz-date-picker .ant-calendar-picker {
    width: 100%;
  }
}


.tables {
  width: 100%;
  border: 1px solid #e2e2e2;
  text-align: center;
  border-collapse: collapse;
  border-spacing: 0;
  margin-bottom: 40px;

  td {
    word-break: break-all;
    word-wrap: break-word;
    border-right: 1px solid #e2e2e2;
    border-bottom: 1px solid #e2e2e2;
    font: 500 14px Arial;
    padding: 10px 5px;
    min-width: 80px;
  }

  td[required="true"]::before {
    display: inline-block;
    margin-right: 4px;
    color: @primary-color;
    font-size: 14px;
    font-family: SimSun, sans-serif;
    line-height: 1;
    content: '*';
  }

  thead td {
    font-size: 17px;
    font-weight: 900;
  }

  .fontweight {
    font-weight: 600;
  }

  .fontLeft {
    text-align: right;
  }

  .leftTitle {
    max-width: 150px;
  }

  .title {
    td {
      text-align: center;
      background-color: #e0e0e075;
    }

  }

  .checkList {
    float: left;
    padding-right: 20px;
  }

  .btn {
    float: right;
    height: 25px;
    font-size: 10px;
    padding: 0 20px;
  }

  .checkAll {
    border: 1px solid #cacaca;
    color: #979797;
    margin-right: 10px;
  }

  .downLoad {
    border: 1px solid red;
    color: red;
  }
}

.ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected a {
  color: @primary-color
}

.ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected {
  background: none;
}

.ant-menu:not(.ant-menu-horizontal) .ant-menu-item-selected:after {
  display: none !important
}

//去除引用UEdito的本地保存成功的提示
.edui-default .edui-editor-messageholder {
  display: none !important
}

.se__inline .se__label {
  text-align: right;
}

textarea {
  resize: none;
}

.d_table {
  .table_title {
    font-size: 18px;
    line-height: 40px;

    h3 {
      font-weight: bold;
    }
  }

  .table_detail {
    text-align: left;
    padding: 0 20px;

    h3 {
      font-weight: bold;
      line-height: 30px
    }

    p {
      text-indent: 2em;
      line-height: 30px;
      font-size: 16px;
    }
  }

  .table_list {
    li {
      list-style: none;
      text-align: left;
      line-height: 30px;
      font-size: 16px;
    }
  }

  .table_add_info {
    text-align: left;
    line-height: 30px;
    font-size: 16px;
    padding: 20px;

    p {
      margin-bottom: 0px
    }
  }

  .table_seal {
    text-align: right;
    line-height: 40px;
    font-size: 16px;
    padding: 0 20px;
  }

  .table_input {
    width: 140px;
    text-align: center;
    height: 25px;
    margin: 0 10px;
  }

  .table_input_2 {
    width: 100px;
    height: 30px;
    margin: 0 10px;
    border: 1px #cccccc solid;
  }

  .table_time {
    width: 200px;
    float: right;
  }

  .table_select {
    height: 25px;
  }

  .table_strong_tis {
    font-weight: bold;
    text-indent: 2em;
  }

  .text_indent_2 {
    text-indent: 2em;
  }
}

#textContent {
  img {
    display: inline-block;
    max-width: 100%;
  }
}

.uant-upload,
.ant-upload.ant-upload-select {
  width: 100%;
  display: block;
}

.choiceSelect.ant-select-disabled .ant-select-selection {
  background: white;
  cursor: pointer;
}

.choiceSelect.ant-select-disabled .ant-select-selection {
  background: white;
  cursor: pointer;
}

.formTables table td a {
  padding-right: 10px
}

.rightSpan {
  color: red;
  padding-right: 8em
}

.newCard nz-timeline-item .ant-timeline-item-head {
  width: 20px;
  height: 20px;
  left: -5px
}

.newCard nz-timeline-item .title {
  font-size: 22px;
  font-family: SourceHanSansCN-Medium;
  font-weight: 500;
  color: rgba(245, 34, 45, 1);
}

.newCard nz-timeline-item .time {
  font-size: 14px;
  font-weight: 300;
  color: rgba(245, 34, 45, 1);
}

.newCard nz-timeline-item .examineDiv {
  max-width: 300px;
  background: rgba(247, 247, 247, 1);
  border-radius: 0px 10px 10px 10px;
  padding: 20px;
  margin-bottom: 30px;
}


.agencyDoneDetails textarea{height: 16em!important}