<app-completed-acceptance-assembly [data]="data" (childOuter)="outer($event)" [useNatureSelect]="useNatureSelect">
</app-completed-acceptance-assembly>
<div class="textCenter" style="margin-bottom: 40px;">
  <button nz-button nzType="primary" (click)="depositDraftPreCheck()" [nzLoading]="savingDraft">保存草稿</button>
  <button nz-button nzType="primary" (click)="savePreCheckFile()" [nzLoading]="butNzLoading">申请提交</button>
</div>








<nz-modal [(nzVisible)]="isVisibleSelectModal" [ngClass]="{hide: isVisibleSelectModal==false}" nzTitle="请选择抽选号码"
  (nzOnCancel)="handleSelectModalCancel()" (nzOnOk)="handleSelectModalOk()" [nzOkLoading]="isSelectModalOkLoading"
  nzWidth="700">
  <nz-radio-group [(ngModel)]="selectModalValue" nzButtonStyle="solid" nzJustify="center" nzType="flex" style="width:100%">
    <div class="select_row" *ngFor="let row of selectModalData" style="width:100%;margin-top:4px;">
      <div class="select_item" *ngFor="let item of row">
        <label class="select_item_label" nz-radio-button [nzValue]="item" nzButtonStyle="solid">{{item}}</label>
      </div>
    </div>
  </nz-radio-group>
</nz-modal>