<div class="flexBox" style="min-height: 750px;">
  <nz-card *ngIf="data" [nzBordered]="false" nzTitle="查看路径" [nzExtra]="extraTemplate"
    style="margin-right: 18px;margin-bottom:0;width: 800px" class="newCard">
    <nz-timeline>
      <div *ngFor="let item of data">
        <nz-timeline-item nzColor="red">
          <p class="title">{{item.name}}</p>
          <div *ngIf="item.editWorkFlow_NodeAuditorRecordDtos">
            <div *ngFor="let box of item.editWorkFlow_NodeAuditorRecordDtos" class="examineDiv">
              <p class="time">{{box.creationTime|timeNewString}}</p>
              <div class="flowCard">
                <p>处理人：{{box.applyEName}}</p>
                <p>动作：{{box.result|numType}}</p>
                <p>意见：{{box.details}}</p>
              </div>
            </div>
          </div>
        </nz-timeline-item>
      </div>
    </nz-timeline>
  </nz-card>

  <div class="flex1 bgFFF" style="position: relative">
    <nz-card [nzBordered]="false" nzTitle="流程示意图" [nzExtra]="extraTemplate">
      <img src="assets/banImg01.png" style="width: 100%;display: block;" *ngIf="flowPathType!=3"/>
      <img src="assets/banImg02.png" style="width: 100%;display: block;" *ngIf="flowPathType==3"/>
    </nz-card>
  </div>
</div>