* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #000;
}

ul {
  list-style: none;
}

.content {
  width: 65%;
  min-width: 1200px;
  margin: 0 auto;
}

.activeNav {
  border-bottom: 2px solid #bd1127ff;
  color: #bd1127ff !important;
}

.item {
  cursor: pointer;
}

#tip {
  width: 140px;
  text-align: center;
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;
  color: #fff;
  padding: 5px 0;
}

.zhinan {
  background-image: url("../../assets/images/首页02_17.png");
}

.info {
  background-image: url("../../assets/images/首页02_06.png");
}

.listParent {
  padding: 20px;
  box-sizing: border-box;
}

.list {
  background-color: #f7f7f7;
  padding: 5px 30px;
  margin-bottom: 10px;
  cursor: pointer;
  overflow: hidden;

 
}
.list a {
  display: block;
}
.noData {
  text-align: center;
  font-size: 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -40px;
  margin-left: -60px;
}

.breadcrumb span {
  color: #BD1127FF !important;
}

.active {
  border: 1px solid #BD1127FF;
  color: #BD1127FF !important;
  border-radius: 3px;
  min-width: 30.5px;
  height: 25px;
  line-height: 25px;
}

.el-pager li:hover,
.el-select-dropdown__item.selected,
.el-date-table .today span {
  color: #BD1127FF !important;
}

.el-date-table td.start-date span,
.el-date-table td.end-date span {
  background-color: #BD1127FF !important;
}

th .cell {
  color: #000;
}
