<div id="wrap">
  <div nz-row style="padding: 10px 40px;box-sizing: border-box">
    <div class="content" style="font-size: 8px;padding: 0 9px;">
      <span>建设大厅</span> >
      <span style="color: red">法律法规</span>
    </div>
  </div>
  <div nz-row nzGutter="16" style="padding: 0px 40px;box-sizing: border-box;">
    <div class="content">
      <div nz-col nzSpan="24">
        <nz-card nz-card style="font-size:8px;">
          <div style="position: relative;">
            <img style="width: 100%;" src="../../../assets/images/index/法律法规_03.jpg" alt="">
          </div>
        </nz-card>
      </div>
      <div nz-col nzSpan="12">
        <nz-card nz-card style="font-size:8px;height: 400px">
          <p class="titleLeft"><span>法律法规</span></p>
          <div nz-row nzGutter="50" style="padding:10px 40px 40px 0px;box-sizing: border-box;" *ngIf="lawsList">
            <ul>
              <li *ngFor="let item of lawsList">
                <div style="overflow: hidden"> <span class="title">{{item.title}}</span>
                  <span class="time">————{{item.issueOrg}}</span></div>
                <div style="overflow: hidden;margin-top: 6px;"> <span
                    style="float: right;font-size: 8px">{{item.creationTime}}</span></div>
              </li>
            </ul>
          </div>
        </nz-card>
      </div>
      <div nz-col nzSpan="12">
        <nz-card nz-card style="font-size:8px;height: 400px;">
          <div style="overflow: hidden">
            <p class="titleRight" style="float: right"><span>规范性文件</span></p>
          </div>

          <div nz-row nzGutter="50" style="padding:10px 40px 40px 0px;box-sizing: border-box;">
            <div *ngIf="!lawsFiles" style="text-align: center;line-height: 30px;font-size: 20px">暂无数据</div>
            <ul *ngIf="lawsFiles">
              <li *ngFor="let item of lawsFiles">
                <div style="overflow: hidden;"> <span class="title">{{item.name}}</span>
                  <span class="time">{{item.time}}</span></div>
                <div style="overflow: hidden;margin-top: 6px;"> <span
                    style="float: right;font-size: 8px">{{item.forms}}</span></div>
              </li>
            </ul>
          </div>
        </nz-card>
      </div>
    </div>
  </div>
</div>