<div nz-row id="wrap">
  <div nz-col nzSpan="3" style="letter-spacing: 2px;font-size: 15px;">
    <!-- <div class="leftTitle">基本信息</div>
    <div class="leftTitle" style="margin-top: 335px;">专题正文</div> -->
  </div>

  <div nz-col nzSpan="16" style="padding-top: 40px;height: 100%;margin-bottom: 30px;">
    <form nz-form #f="ngForm" se-container="1">
      <se label="标题名称" required col="2">
        <input type="text" [disabled]="operate=='1'" nz-input [(ngModel)]="data.title" name="title" required>
      </se>
      <se label="颁布机关" required col="2">
        <input type="text" [disabled]="operate=='1'" nz-input [(ngModel)]="data.issueOrg" name="curNodeName" required>
      </se>
      <se label="类型" required col="2">
        <nz-select [disabled]="operate=='1'" [(ngModel)]="data.regulationTypeId" name="regulationTypeId" nzAllowClear
          required>
          <nz-option *ngFor="let item of RegulationType" [nzValue]="item.key" [nzLabel]="item.value"></nz-option>

        </nz-select>
      </se>
      <se label="生效日期" required col="2">
        <nz-date-picker style="width: 100%;" nzShowTime [nzFormat]="'yyyy-MM-dd HH:mm:ss'" [(ngModel)]="data.issueDate"
          [disabled]="operate=='1'" name="creationTime" required>
        </nz-date-picker>
      </se>
      <se label="附件上传" *ngIf="operate!='1'">
        <nz-upload style="width: 100%;" [nzFileList]="fileList" nzMultiple nzLimit="1" [nzAction]="uploadUrl"
          [nzBeforeUpload]="beforeUpload" [nzRemove]="removeFile">
          <button style="width: 100%;" nz-button><i nz-icon type="upload" nzTheme="outline"></i><span>上传</span></button>
        </nz-upload>
        <div id="File" *ngIf=fileUrlList>
          <div *ngFor="let item of fileUrlList let i=index" style="margin-top: 10px;">
            <div class="links" style="position: relative;cursor: pointer;">
              <a style="text-decoration: none;display: block;" [href]="fileUrl+item.url" class="ant-upload-list"><i
                  nz-icon type="link" style="margin-right: 11px;" nzTheme="outline"></i><span
                  style="color: #BD1127">{{item.name}}</span>
              </a>
              <span (click)="deleteFile(item.id)" class="deleteFile"
                style="position: absolute;top: -2px;right: 10px;display: none;">x</span>
            </div>
          </div>
        </div>
      </se>
      <!-- <se label="附件上传" required>
          <div style="min-height:120px;padding:5px 10px;border:1px solid #d9d9d9;width: 944px!important;overflow: hidden;">
          <nz-upload style="float: left;margin:0 10px;" nzAction="https://jsonplaceholder.typicode.com/posts/">
            <button nz-button [disabled]="operate=='1'"
              style="background-color: #3498db;color: #fff;height: 30px;width: 90px;border: 1px solid #3498db;margin-right: 10px;"><i
                nz-icon nzType="upload"></i><span>上传</span></button>
          </nz-upload>
          <button nz-button
            style="background-color: #f04844;color: #fff;height: 30px;width: 90px;border: 1px solid #f04844;"><i
              nz-icon></i><span>删除</span></button>
        </div>
      </se> -->
      <se label="富文本" required>
        <div *ngIf="operate=='1'"
          style="min-height: 100px;border: 1px solid #d9d9d9;padding: 10px 15px;box-sizing: border-box;"
          [innerHTML]="data.content"></div>
        <ueditor *ngIf="operate!='1'" name="content" [(ngModel)]="data.content" required></ueditor>
      </se>
      <se >
        <button *ngIf="operate!=1" nz-button nzType="primary" (click)="save()" [disabled]="f.invalid">提交</button>
        <button (click)="goBack()" nz-button nzType="default">返回</button>

      </se>
    </form>
  </div>
</div>