<page-header >
    <div style="float: right">
      <button nz-button (click)="ret()" nzType="primary"
        style="margin-right: 10px;margin-top: 10px;width: 120px;">返回列表</button>
    </div>
  </page-header>

  <nz-card>
    <div class="qj">
      <div class="rightcenter">
        <div class="righttop"><span class="title">用户基本数据</span></div>
        <div class="boday">
          <div style="margin-top: 8px" nz-row>
            <div nz-col nzSpan="5">登录账号</div>
            <div nz-col nzSpan="19">
              <input nz-input  [(ngModel)]="submodel.eId"  [disabled]="true">
            </div>
          </div>
          <div style="margin-top: 8px" nz-row>
            <div nz-col nzSpan="5">名称</div>
            <div nz-col nzSpan="19">
              <input nz-input  [(ngModel)]="submodel.eName"  [disabled]="true" >
            </div>
          </div>
          <!-- <div style="margin-top: 8px" nz-row>
            <div nz-col nzSpan="5">密码</div>
            <div nz-col nzSpan="19">
              <input nz-input placeholder="请输入密码" [(ngModel)]="submodel.password" maxlength=11  [disabled]="true">
            </div>
          </div> -->

          <div style="margin-top: 8px" nz-row>
            <div nz-col nzSpan="5">性别</div>
            <div nz-col nzSpan="19">
                <input *ngIf="submodel.sex==0" nz-input placeholder="性别" value="男" maxlength=11  [disabled]="true">
                <input *ngIf="submodel.sex==1"nz-input placeholder="性别" value="女" maxlength=11  [disabled]="true">
            </div>
          </div>

          <div style="margin-top: 8px" nz-row>
            <div nz-col nzSpan="5">手机号</div>
            <div nz-col nzSpan="19">
              <input nz-input  [(ngModel)]="submodel.mobile" [disabled]="true">
            </div>
          </div>

          <div style="margin-top: 8px" nz-row>
            <div nz-col nzSpan="5">身份证</div>
            <div nz-col nzSpan="19">
              <input nz-input  [(ngModel)]="submodel.idCardNo" [disabled]="true">
            </div>
          </div>

        </div>
      </div>


      <div class="rightcenter">
        <div class="righttop"><span class="title">岗位角色所属机构</span></div>
        <div class="boday">

          <div *ngIf="rolelist.data" style="margin-top: 8px" nz-row>
            <div nz-col nzSpan="5">角色</div>
            <div nz-col nzSpan="19">
              <input nz-input  [(ngModel)]="submodel.roleName" [disabled]="true">
            </div>
          </div>

          <div style="margin-top: 8px" nz-row>
            <div nz-col nzSpan="5">岗位</div>
            <div nz-col nzSpan="19">
              <input nz-input  [(ngModel)]="submodel.positionNames" [disabled]="true">
            </div>
          </div>



          <div style="margin-top: 8px" nz-row>
            <div nz-col nzSpan="5">所属组织机构</div>
            <div nz-col nzSpan="19">
              <input nz-input  [(ngModel)]="submodel.organizationsName" [disabled]="true">
            </div>
          </div>

        </div>
      </div>


      <div class="rightcenter">
        <div class="righttop"><span class="title">用户可见数据</span></div>
        <div class="boday">
          <div style="margin-top: 8px" nz-row>
            <div nz-col nzSpan="5">可见数据：</div>
            <div nz-col nzSpan="19">
                <input nz-input  [(ngModel)]="submodel.userDataVisibilityNames" [disabled]="true">
            </div>
          </div>
        </div>
      </div>

    </div>
  </nz-card>
