<div id="wrap">
    <div nz-row style="padding: 10px 40px;box-sizing: border-box">
      <div class="content" style="font-size: 8px">
        <span>建设大厅</span> >
        <span style="color: red">表格下载</span>
      </div>
    </div>
    <div nz-row nzGutter="16" style="padding: 0px 40px;box-sizing: border-box;">
      <div class="content">
        <div nz-col nzSpan="24">
          <nz-card nz-card style="font-size:8px;">
            <div style="height: 150px;position: relative;">
              <img src="../../../assets/images/index/表格下载_03.jpg" alt="">
            </div>
          </nz-card>
  
        </div>
        <div nz-col nzSpan="12">
          <nz-card nz-card style="font-size:8px;">
            <p class="titleLeft"><span>行政许可</span></p>
            <div nz-row nzGutter="50" style="padding:10px 40px 40px 0px;box-sizing: border-box;">
             <ul>
               <li *ngFor="let item of downLoadList">
                 <span class="title">{{item.name}}</span>
                 <span class="time">{{item.time}}</span>
               </li>
             </ul>
            </div>
          </nz-card>
        </div>
        <div nz-col nzSpan="12">
          <nz-card nz-card style="font-size:8px;">
           <div style="overflow: hidden"> <p class="titleRight" style="float: right"><span>网上备案</span></p></div>
            <div nz-row nzGutter="50" style="padding:10px 40px 40px 0px;box-sizing: border-box;">
                <ul>
                  <li *ngFor="let item of downLoadList">
                    <span class="title">{{item.name}}</span>
                    <span class="time">{{item.time}}</span>
                  </li>
                </ul>
               </div>
          </nz-card>
        </div>
      </div>
    </div>
  </div>