* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #f0f2f5;
}

a {
  text-decoration: none;
  color: #000;
}

ul {
  list-style: none;
}

.content {
  width: 65%;
  min-width: 1390px;
  margin: 0 auto;
}

.el-date-table__row .available:hover {
  color: #bd1127 !important;
}

.item {
  cursor: pointer;
  margin-top: 25px;

}

.tips {
  text-align: center;
  background-repeat: no-repeat;
  background-position: center;
  color: #fff;
  position: relative;

}

.tips span {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -40px;
  margin-top: -15px;
  font-size: 20px;
}

.zhinan {
  background-image: url("../../assets/images/首页02_17.png");
}

.info {
  background-image: url("../../assets/images/首页02_06.png");
}

.listParent {
  padding: 20px;
  box-sizing: border-box;
}

.list {
  background-color: #f7f7f7;
  padding: 9px 30px;
  margin-bottom: 10px;
  cursor: pointer;
  overflow: hidden;


}

.list a {
  display: block;
}

.noData {
  text-align: center;
  font-size: 30px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -40px;
  margin-left: -60px;
}

.breadcrumb span {
  color: #bd1127 !important;
}

.active {
  border: 1px solid #bd1127;
  color: #bd1127 !important;
  border-radius: 3px;
  min-width: 30.5px;
  height: 25px;
  line-height: 25px;
}

.el-pager li:hover,
.el-select-dropdown__item.selected,
.el-date-table .today span {
  color: #bd1127 !important;
}

.el-date-table td.start-date span,
.el-date-table td.end-date span {
  background-color: #bd1127 !important;
}

th .cell {
  color: #000;
}

.el-breadcrumb {
  font-size: 12px;
}

.el-card__body {
  padding: 0 !important;
}

.el-message {
  top: 50% !important;
  margin-top: -20px !important;
}

.el-tooltip__popper.is-light {
  letter-spacing: 1px;
  border: none !important;
  background-color: #bd1127 !important;
  color: #fff;
}

.el-tooltip__popper .popper__arrow,
.el-tooltip__popper .popper__arrow::after {
  border-color: transparent transparent transparent #bd1127 !important;
}
