<page-header [action]="phActionTpl">
  <ng-template #phActionTpl>
  </ng-template>

</page-header>
<nz-card style="width: 400px;">



  <form nz-form [formGroup]="validateForm" (ngSubmit)="modify()">

    <br>

    <!-- 旧密码 -->
    <nz-form-item>
      <nz-form-control nzHasFeedback>
        <nz-input-group nzSize="large" nzPrefixIcon="anticon anticon-lock">
          <input nz-input type="password" [(ngModel)]="oldPassword" type="password" placeholder="请输入旧密码" required
            maxlength="18" minlength="8" formControlName="oldPassword">
        </nz-input-group>
        <nz-form-explain *ngIf="validateForm.get('oldPassword')?.dirty && validateForm.get('oldPassword')?.errors">
          <ng-container *ngIf="validateForm.get('oldPassword').hasError('required')">不能为空！</ng-container>
          <ng-container *ngIf="validateForm.get('oldPassword').hasError('minlength')">请输入8-18个字符</ng-container>
        </nz-form-explain>
      </nz-form-control>
    </nz-form-item>



    <!-- 新密码 -->
    <nz-form-item>
      <nz-form-control nzHasFeedback>
        <nz-input-group nzSize="large" nzPrefixIcon="anticon anticon-lock">
          <input nz-input type="password" [(ngModel)]="newPassword" type="password" placeholder="请输入8-18位新密码" required
            maxlength="18" minlength="8" formControlName="newPassword"
            pattern="^(?![0-9]+$)(?![a-zA-Z]+$)[0-9A-Za-z]{8,18}$">
        </nz-input-group>
        <nz-form-explain *ngIf="validateForm.get('newPassword')?.dirty && validateForm.get('newPassword')?.errors">
          <ng-container *ngIf="validateForm.get('newPassword').hasError('required')">不能为空！</ng-container>
          <ng-container
            *ngIf="validateForm.get('newPassword').hasError('minlength')||validateForm.get('newPassword').hasError('pattern')">
            请输入8-18位数字和字母组成的新密码</ng-container>
        </nz-form-explain>
      </nz-form-control>
    </nz-form-item>



    <!-- 确认密码 -->
    <nz-form-item>
      <nz-form-control nzHasFeedback>
        <nz-input-group nzSize="large" nzPrefixIcon="anticon anticon-lock">
          <input nz-input type="password" [(ngModel)]="confirmPassword" placeholder="确认新密码" required maxlength="18"
            minlength="8" formControlName="confirmPassword" />
        </nz-input-group>
        <nz-form-explain
          *ngIf="validateForm.get('confirmPassword')?.dirty && validateForm.get('confirmPassword')?.errors">
          <ng-container *ngIf="validateForm.get('confirmPassword').hasError('required')">不能为空！</ng-container>
          <ng-container *ngIf="validateForm.get('confirmPassword').hasError('confirm')">两次输入的密码不一致！</ng-container>
        </nz-form-explain>
      </nz-form-control>
    </nz-form-item>



    <!-- 功能按钮 -->
    <nz-form-item>


      <button nz-button nzType="primary" type="submit" [disabled]="!validateForm.valid||modifying"
        style="width:100%;">提交</button>

    </nz-form-item>

  </form>


</nz-card>