<div [ngSwitch]="type">
  <!-- 消防设计的办理凭证  -->
  <div *ngSwitchCase="0">
    <table class="tables d_table" style="box-sizing: border-box;">
      <thead>
        <tr>
          <td colspan='20' rowspan='1' class="table_title">
            <h3>{{data.orgName}}<br />建设工程消防设计审查申请受理/不予受理凭证</h3>
          </td>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td rowspan='1' colspan='20' class="fontweight fontLeft leftTitle" required=true>
            <div><input class="table_input" placeholder="请输入区域简称" [(ngModel)]="data.fileCodePrefix" name="fileCodePrefix" />住建消审字〔后台生成〕第后台生成号
            </div>
            <div *ngIf="!data.fileCodePrefix" class="rightSpan">必填</div>
          </td>
        </tr>
        <tr>
          <td rowspan='1' colspan='20'>
            <div class="table_detail">
              <h3>{{data.companyName}}：</h3>
              <p>根据《中华人民共和国消防法》第十一条的规定，你单位{{data.applyDateTime|date:'yyyy年MM月dd日'}}申请的
                {{data.projectName}}
                建设工程（地址：{{data.address}}）消防设计审查，提供了下列材料：</p>
            </div>
            <ul class="table_list">
              <li *ngFor="let item of data.attachmentItems;let index=index">
                <label nz-checkbox name="item{{item}}"
                  [(ngModel)]="item.isSubmit">{{index+1}}、{{item.attachmentTypeName}}</label>
              </li>
            </ul>
            <div class="table_add_info">
              <p>经核，申报材料项目（<nz-radio-group [(ngModel)]="data.isComplete" name="isComplete11">
                  <label style="padding-left: 20px;" nz-radio nzValue="true">齐全</label>
                  <label nz-radio nzValue="false">不齐全</label>
                </nz-radio-group>）</p>
              <p>需要补正第<input class="table_input" [(ngModel)]="data.completeContent" name="completeContent" />项材料。</p>
              <p>审查时限<input class="table_input" [(ngModel)]="data.timeLimitOfDay"
                  name="timeLimitOfDay" />日内，依法需要听证和专家评审的，所需时间不计算在内。</p>
            </div>

            <div class="table_seal">
              由后台提供的当前时间 年月日
            </div>

          </td>
        </tr>
        <tr>
          <td class="fontweight fontLeft leftTitle">一式两份，一份交建设单位，一份存档。 </td>
        </tr>
      </tbody>
    </table>
  </div>

  <!-- 消防设计的审查意见书（合格）  -->
  <div *ngSwitchCase="1">

    <table class="tables d_table" style="box-sizing: border-box;">
      <thead>
        <tr>
          <td colspan='20' rowspan='1' class="table_title">
            <h3>{{data.orgName}}<br />建设工程消防设计审查意见书</h3>
          </td>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td rowspan='1' colspan='20' class="fontweight fontLeft leftTitle" required=true>
            <div><input class="table_input"  placeholder="请输入区域简称" [(ngModel)]="examineFormDto.fileCodePrefix" name="fileCodePrefix" />住建消审字〔后台生成〕第后台生成号
            </div>
            <div *ngIf="!examineFormDto.fileCodePrefix" class="rightSpan">必填</div>
          </td>
        </tr>
        <tr>
          <td rowspan='1' colspan='20'>
            <div class="table_detail">
              <h3>{{data.companyName}}：</h3>
              <div *ngIf="examineFormDto">
                <p *ngIf="examineFormDto.designOrg">
                  你单位申请的{{data.projectName}}建设工程（受理凭证：{{data.acceptFileCode}}，{{data.applyDateTime|date:'yyyy年MM月dd日'}}收）消防设计文件收悉。该工程位于{{data.address}}内。{{data.descr}}。设计单位为<span
                    *ngIf="examineFormDto.drawingOrg">{{examineFormDto.designOrg.companyName}}</span>，设计资质为建设工程{{examineFormDto.designOrg.qualifications}}。按照图纸审查机构（<span
                    *ngIf="examineFormDto.drawingOrg">{{examineFormDto.drawingOrg.companyName}}</span>）对该工程设计图纸的技术审查结论，我局提出以下意见：
                </p>
              </div>
            </div>
            <textarea nz-input placeholder="请输入意见" [(ngModel)]="examineFormDto.opinion"
              name="professionalContractorsopinion" required>
                  </textarea>

                  <p style="color: #f5222d;text-align: center;font-weight: bold;" *ngIf="!examineFormDto.opinion">必填</p>

            <div class="textLeft" *ngIf="examineFormDto">
              <nz-upload [(nzFileList)]="examineFormDto.attachment" [nzBeforeUpload]="beforeUpload" [nzRemove]="removeFile">
                <button nz-button><i nz-icon nzType="upload"></i><span>上传</span></button>
              </nz-upload>
            </div>
            <div class="table_seal">
              由后台提供的当前时间 年月日
            </div>

          </td>
        </tr>
        <tr>
          <td class="fontweight fontLeft leftTitle">本意见书一式两份，一份交建设单位，一份存档。 </td>
        </tr>
      </tbody>
    </table>
  </div>

  <!-- 消防设计的审查意见书2  -->
  <div *ngSwitchCase="2">
    <table class="tables d_table" style="box-sizing: border-box;">
      <tbody>
        <tr>
          <td rowspan='1' colspan='20'>
            <textarea nz-input placeholder="请输入意见" [(ngModel)]="examineFormDto.opinion"
              name="professionalContractorsopinion" required>
                    </textarea>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>