<!-- <page-header [action]="phActionTpl">
  <ng-template #phActionTpl>
    <button (click)="refresh()" nz-button nzType="primary"><i nz-icon type="reload"></i>刷新</button>
    <button nz-button nzType="primary" (click)="st.export()">导出</button>
  </ng-template>
</page-header> -->
<nz-card>


  <button nz-button nzType="default" (click)="switchFilter()"><i nz-icon
      type="{{ hiddenFliter?'down':'up'}}"></i>{{ hiddenFliter?'展开条件':'收起条件'}}</button>
  <button (click)="search()" nz-button nzType="default"><i nz-icon type="reload"></i>刷新</button>

</nz-card>
<nz-card>
  <button nz-button nzType="primary">登录日志</button>

  <button nz-button nzType="primary">操作日志</button>
  <st #st [data]="url" [columns]="columns"></st>
</nz-card>

<!-- 日志管理 -->