<div nz-row>
  <div nz-col nzSpan="4" style="letter-spacing: 2px;font-size: 15px;">
    <!-- <div class="leftTitle">基本信息</div> -->
  </div>

  <div nz-col nzSpan="12" style="padding-top: 40px;height: 100%;">
    <form nz-form #f="ngForm" se-container="1">
      <se label="标题名称" required>
        <input type="text" style="width: 480px;" nz-input [(ngModel)]="data.attachmentName" name="attachmentName"
          required>
      </se>
      <se label="附件上传" required>
        <nz-upload [nzFileList]="fileList" nzMultiple nzLimit="1" [nzAction]="uploadUrl"
          [nzBeforeUpload]="beforeUpload" [nzRemove]="removeFile">
          <button style="width: 480px;" nz-button><i nz-icon type="upload"
              nzTheme="outline"></i><span>上传</span></button>
        </nz-upload>
      </se>
      <se>
        <button nz-button nzType="primary" (click)="save()" [disabled]="f.invalid">提交</button>
        <button (click)="goBack()" nz-button  nzType="default">返回</button>

      </se>
    </form>
  </div>
</div>