<div style="background-image:url('./assets/images/big/img_bg.png');width:100%;height:100%;background-size: 100% 100%;">
    <div id='stars'></div>
    <div id='stars2'></div>
    <div id='stars3'></div>
    <div id='title'>
    </div>

    <div style='height:70px;background-image:url("./assets/images/big/img_tittle_bg.png");background-size: 100% 100%;'>
        <span class="BigDate">
            {{dateTime |date:'yyyy年MM月dd日 HH:mm:ss'}}
        </span>
        <span class='BigTitle'>广西建设工程消防设计审查与验收管理平台</span>
    </div>
    <div style="position: relative;height:95%;float: left;padding-left: 20px;margin-top: -1%;"
        [style.width]='FireWidth'>
        <div
            style='width:100%;height:33%;background-image:url("./assets/images/big/img_left_bg.png");background-size: 100% 100%;'>
            <span
                style="font-size: 20px;color: #13F5FF;font-weight: 400;position: relative;left: 7%;top: 20px;">申报统计</span>
            <div style="width:100%;height:90%;padding: 3%;" *ngIf='OverTimeTitle === "消防设计审查"'>
                <div echarts [options]="OverTimebar1" class="echartsStyle" style="height:100%">
                </div>
            </div>
            <div style="width:100%;height:90%;padding: 3%;" *ngIf='OverTimeTitle === "消防验收"'>
                <div echarts [options]="OverTimebar2" class="echartsStyle" style="height:100%">
                </div>
            </div>
            <div style="width:100%;height:90%;padding: 3%;" *ngIf='OverTimeTitle === "竣工验收备案"'>
                <div echarts [options]="OverTimebar3" class="echartsStyle" style="height:100%">
                </div>
            </div>
        </div>
        <div
            style='width:100%;height:33%;background-image:url("./assets/images/big/img_left_bg.png");background-size: 100% 100%;'>
            <span
                style="font-size: 20px;color: #13F5FF;font-weight: 400;position: relative;left: 7%;top: 20px;">一次性通过率</span>
            <div style="width:100%;height:90%;padding: 3%;">
                <div echarts [options]="option" class="echartsStyle" style="height:100%;width:100%">
                </div>
            </div>

        </div>
        <div
            style='width:100%;height:34%;background-image:url("./assets/images/big/img_left_bg.png");background-size: 100% 100%;'>
            <span
                style="font-size: 20px;color: #13F5FF;font-weight: 400;position: relative;left: 7%;top: 20px;">超时统计</span>
            <div style='width:100%;height:92%;padding: 4%;' *ngIf='BarTitle === "消防设计审查"'>
                <div echarts [options]="bar2" class="echartsStyle" style="height:100%">
                </div>
            </div>
            <div style='width:100%;height:92%;padding: 3%;' *ngIf='BarTitle === "消防验收"'>
                <div echarts [options]="bar3" class="echartsStyle" style="height:100%">
                </div>
            </div>
            <div style='width:100%;height:92%;padding: 3%;' *ngIf='BarTitle === "竣工验收备案"'>
                <div echarts [options]="bar4" class="echartsStyle" style="height:100%">
                </div>
            </div>
        </div>
    </div>
    <div style="position: relative;top: 2%;height:91%;float: left;" [style.width]='MiddleWidth'>
        <div style='height:60%;width:100%'>
            <div style="float:left;width:100%;height: 100%;">
                <div id="echarts" style="display: block; " style="height:100%;width:100%">
                </div>
            </div>
        </div>
        <div style='height:40%;width:100%'>
            <div style='width:50%;height:100%;float:left;background-image:url("./assets/images/big/img_excel_bg.png");background-size: 100% 100%;    padding-left: 3%;
                padding-right: 3%;'>
                <span style="    font-size: 20px;
                color: #13F5FF;
                font-weight: 400;
                position: relative;
                left: 12%;
                display: block;
                margin-top: -1%;">
                    累计办理情况（年度）
                </span>
                <nz-table class='FireTable' [nzData]="data" nzIsPagination='true' [(nzPageSize)]='pagesize'
                    [(nzPageIndex)]='pageindex' nzShowPagination='false'>
                    <thead nz-thead>
                        <tr>
                            <th nz-th>
                                <span>序号</span>
                            </th>
                            <th nz-th>
                                <span>工程名称</span>
                            </th>
                            <th nz-th>
                                <span>申报单位</span>
                            </th>
                            <th nz-th>
                                <span>联系人</span>
                            </th>
                            <th nz-th>
                                <span>审批时间</span>
                            </th>
                            <th nz-th>
                                <span>审批结果</span>
                            </th>
                        </tr>
                    </thead>
                    <tbody nz-tbody>
                        <tr nz-tbody-tr *ngFor='let data of data;let i = index;'>
                            <td nz-td>{{i+1}}</td>
                            <td nz-td>{{data.name}}</td>
                            <td nz-td>{{data.unit}}</td>
                            <td nz-td>{{data.people}}</td>
                            <td nz-td>{{data.time}}</td>
                            <td nz-td *ngIf='data.state == "合格"' style='color:#2EDB63'>{{data.state}}</td>
                            <td nz-td *ngIf='data.state == "不合格"' style='color:red'>{{data.state}}</td>
                        </tr>
                    </tbody>
                </nz-table>
            </div>
            <div style='width:50%;height:100%;float:left;background-image:url("./assets/images/big/img_excel_bg.png");background-size: 100% 100%;    padding-left: 3%;
                padding-right: 3%;'>
                <span style="    font-size: 20px;
                color: #13F5FF;
                font-weight: 400;
                position: relative;
                left: 12%;
                display: block;
                margin-top: -1%;">
                    超时办理列表
                </span>
                <nz-table class='FireTable' [nzData]="data" nzIsPagination='true' [(nzPageSize)]='pagesize'
                    [(nzPageIndex)]='pageindex' nzShowPagination='false'>
                    <thead nz-thead>
                        <tr>
                            <th nz-th>
                                <span>工程名称</span>
                            </th>
                            <th nz-th>
                                <span>申报单位</span>
                            </th>
                            <th nz-th>
                                <span>联系人</span>
                            </th>
                            <th nz-th>
                                <span>审批时间</span>
                            </th>
                            <th nz-th>
                                <span>审批结果</span>
                            </th>
                        </tr>
                    </thead>
                    <tbody nz-tbody>
                        <tr nz-tbody-tr>
                            <td nz-td>市政建设工程一</td>
                            <td nz-td>部门一</td>
                            <td nz-td>张三</td>
                            <td nz-td>2019-06-01</td>
                            <td nz-td>合格</td>
                        </tr>
                    </tbody>
                </nz-table>
            </div>
        </div>
    </div>
    <div style="position: relative; height: 88.2%;float: left;margin-left: 2%;width: 383.04px;margin-top: 2%;"
        [style.width]='RightWidth'>
        <span style='color:#00EDF8;font-size:20px'>累计登陆人数</span>
        <div style='width:100%;height: 8%;margin-top: 25%;'>
            <div class='NumBerTop' style='background-image:url("./assets/images/big/img_shape_bg.png");'>
                <span>6</span>
            </div>
            <div class='NumBerTop' style='background-image:url("./assets/images/big/img_shape_bg.png");'>
                <span>6</span>
            </div>
            <div class='NumBerTop' style='background-image:url("./assets/images/big/img_shape_bg.png");'>
                <span>6</span>
            </div>
            <div class='NumBerTop' style='background-image:url("./assets/images/big/img_shape_bg.png");'>
                <span>6</span>
            </div>
            <div class='NumBerTop' style='background-image:url("./assets/images/big/img_shape_bg.png");'>
                <span>6</span>
            </div>
            <div class='NumBerTop' style='background-image:url("./assets/images/big/img_shape_bg.png");'>
                <span>6</span>
            </div>
            <div class='NumBerTop' style='background-image:url("./assets/images/big/img_shape_bg.png");'>
                <span>6</span>
            </div>

        </div>
        <div style='width:100%;height:78%;margin-top: 10%;'>
            <div class='NumBer'
                style='background-image:url("./assets/images/big/img_number_bg.png");background-size: 100% 100%;padding-left: 3%;padding-right: 3%;'>
                <span class="NumBerTitle">消防设计审核</span>
                <div style='width:100%;height:90%'>
                    <div class='NumBerDiv'>
                        <span style='color:#00edf8;position: relative;left: -5%;'>12306</span>
                        <span class='NumBerDivTitle'>办结总数</span>
                        <div class='NumBerDivBottom'></div>
                    </div>
                    <div class='NumBerDiv'>
                        <span style='color:#FF2A5C;position: relative;left: -5%;'>28</span>
                        <span class='NumBerDivTitle'>超时办理数</span>
                        <div class='NumBerDivBottom'></div>
                    </div>
                    <div class='NumBerDiv'>
                        <span style='color:#F2E738;position: relative;left: -5%;'>3652</span>
                        <span class='NumBerDivTitle'>一次通过数</span>
                        <div class='NumBerDivBottom'></div>
                    </div>
                    <div class='NumBerDiv'>
                        <span style='color:#30E545;position: relative;left: -5%;'>2268</span>
                        <span class='NumBerDivTitle'>平均办理时间</span>
                        <div class='NumBerDivBottom'></div>
                    </div>
                </div>

            </div>
            <div class='NumBer'
                style='background-image:url("./assets/images/big/img_number_bg.png");background-size: 100% 100%;padding-left: 3%;padding-right: 3%;'>
                <span class="NumBerTitle">消防验收审核</span>
                <div style='width:100%;height:90%'>
                    <div class='NumBerDiv'>
                        <span style='color:#00edf8;position: relative;left: -5%;'>12306</span>
                        <span class='NumBerDivTitle'>办结总数</span>
                        <div class='NumBerDivBottom'></div>
                    </div>
                    <div class='NumBerDiv'>
                        <span style='color:#FF2A5C;position: relative;left: -5%;'>28</span>
                        <span class='NumBerDivTitle'>超时办理数</span>
                        <div class='NumBerDivBottom'></div>
                    </div>
                    <div class='NumBerDiv'>
                        <span style='color:#F2E738;position: relative;left: -5%;'>3652</span>
                        <span class='NumBerDivTitle'>一次通过数</span>
                        <div class='NumBerDivBottom'></div>
                    </div>
                    <div class='NumBerDiv'>
                        <span style='color:#30E545;position: relative;left: -5%;'>2268</span>
                        <span class='NumBerDivTitle'>平均办理时间</span>
                        <div class='NumBerDivBottom'></div>
                    </div>
                </div>
            </div>
            <div class='NumBer'
                style='background-image:url("./assets/images/big/img_number_bg.png");background-size: 100% 100%;margin-bottom: 0;padding-left: 3%;padding-right: 3%;'>
                <span class="NumBerTitle">消防验收备案</span>
                <div style='width:100%;height:90%'>
                    <div class='NumBerDiv'>
                        <span style='color:#00edf8;position: relative;left: -5%;'>12306</span>
                        <span class='NumBerDivTitle'>办结总数</span>
                        <div class='NumBerDivBottom'></div>
                    </div>
                    <div class='NumBerDiv'>
                        <span style='color:#FF2A5C;position: relative;left: -5%;'>28</span>
                        <span class='NumBerDivTitle'>超时办理数</span>
                        <div class='NumBerDivBottom'></div>
                    </div>
                    <div class='NumBerDiv'>
                        <span style='color:#F2E738;position: relative;left: -5%;'>3652</span>
                        <span class='NumBerDivTitle'>一次通过数</span>
                        <div class='NumBerDivBottom'></div>
                    </div>
                    <div class='NumBerDiv'>
                        <span style='color:#30E545;position: relative;left: -5%;'>2268</span>
                        <span class='NumBerDivTitle'>平均办理时间</span>
                        <div class='NumBerDivBottom'></div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>