<page-header [action]="phActionTpl">
  <ng-template #phActionTpl>


    <button nz-button nzType="default" (click)="switchFilter()"><i nz-icon
        nzType="{{ hiddenFliter?'down':'up'}}"></i>{{ hiddenFliter?'展开条件':'收起条件'}}</button>
    <button (click)="refresh()" nz-button nzType="default"><i nz-icon nzType="reload"></i>刷新</button>
    <button (click)="exportXlsx()" nz-button nzType="primary"><i nz-icon nzType="export"></i>导出</button>

  </ng-template>

</page-header>
<nz-card>

  <form nz-form class="mb-md" [hidden]="hiddenFliter" [formGroup]="fliterForm">

    <input nz-input [(ngModel)]="searchKey" formControlName="proNo" placeholder="工程流水号" class="search_menu_input">

    <!-- <nz-select class="search_menu_input" nzShowSearch nzAllowClear nzPlaceHolder="工程名称" [(ngModel)]="selectedValuePro">     </nz-select>-->
    <input nz-input [(ngModel)]="searchKey" formControlName="proName" placeholder="工程名称" class="search_menu_input">

    <nz-select class="search_menu_input" formControlName="proType" nzShowSearch nzAllowClear nzPlaceHolder="流程类型"
      [(ngModel)]="selectedValuePro">

    </nz-select>

    <nz-range-picker nzFormat="yyyy/MM/dd" formControlName="dateRange" class="search_menu"></nz-range-picker>

    <button nz-button (click)="resetForm()" class="search_menu">重置</button>

    <button nz-button (click)="search()" nzType="primary">搜索</button>
  </form>
  <st #st [data]="url" [columns]="columns"></st>
</nz-card>