<page-header>
  <ng-template #action>
    <button (click)="add()" nz-button nzType="primary">新建</button>
  </ng-template>
</page-header>
<nz-card>
  <form nz-form class="mb-md" [formGroup]="fliterForm">
    <!-- <span>地市：</span> -->
    <div style="width:100%">
      <nz-select class="search_menu_input" formControlName="city" nzShowSearch nzAllowClear nzPlaceHolder="选择市区"
        (ngModelChange)="cityChange($event)">
        <div *ngFor="let item of cityarray">
          <nz-option nzLabel="{{item.Name}}" nzValue="{{item.Name}}"></nz-option>
        </div>
      </nz-select>
      <!-- <span>区域：</span> -->
      <nz-select class="search_menu_input" formControlName="count" nzShowSearch nzAllowClear nzPlaceHolder="选择区县">
        <div *ngFor="let item of countyarray">
          <nz-option nzLabel="{{item.Name}}" nzValue="{{item.Name}}"></nz-option>
        </div>
      </nz-select>
      <input nz-input formControlName="proName" placeholder="请输入工程名称" class="search_menu_input">
      <input nz-input formControlName="buildname" placeholder="建设单位名称" class="search_menu_input">
      <!-- <input nz-input formControlName="workName" placeholder="请输入施工单位" class="search_menu_input">
      <input nz-input formControlName="designName" placeholder="请输入设计单位" class="search_menu_input">
      <input nz-input formControlName="supervisorName" placeholder="请输入监理单位" class="search_menu_input">
      <input nz-input formControlName="detectionName" placeholder="请输入检测单位" class="search_menu_input">
      <input nz-input formControlName="drawName" placeholder="请输入审图单位" class="search_menu_input"> -->

      <nz-select class="search_menu_input" formControlName="proType" nzShowSearch nzAllowClear nzPlaceHolder="工程类型">
        <nz-option nzLabel="消防设计审查" nzValue="1"></nz-option>
        <nz-option nzLabel="消防验收" nzValue="2"></nz-option>
        <nz-option nzLabel="竣工验收消防备案" nzValue="3"></nz-option>
      </nz-select>
      <nz-select class="search_menu_input" formControlName="timetype" nzShowSearch nzAllowClear nzPlaceHolder="是否超时">
        <nz-option nzLabel="是" nzValue="true"></nz-option>
        <nz-option nzLabel="否" nzValue="false"></nz-option>
      </nz-select>
      <nz-select class="search_menu_input" formControlName="status" nzShowSearch nzAllowClear nzPlaceHolder="状态">
        <nz-option nzLabel="未处理" nzValue="0"></nz-option>
        <nz-option nzLabel="受理中" nzValue="1"></nz-option>
        <nz-option nzLabel="不受理" nzValue="2"></nz-option>
        <nz-option nzLabel="不合格" nzValue="3"></nz-option>
        <nz-option nzLabel="合格" nzValue="4"></nz-option>
        <nz-option nzLabel="未抽中" nzValue="5"></nz-option>
      </nz-select>
    </div>

    <div style="width: 100%;height: 10px;"></div>

    <div style="width:100%;">
      <div style="width:400px;float: left;">
        <span style="width:100px;">完成时间：</span>
        <nz-range-picker style="width: 300px" [nzFormat]="'yyyy/MM/dd'" formControlName="sbdateRange"
          class="search_menu"></nz-range-picker>
      </div>

      <div style="width:400px;float: left;">
        <span style="width:100px;">申报时间：</span>
        <nz-range-picker style="width: 300px" [nzFormat]="'yyyy/MM/dd'" formControlName="dateRange" class="search_menu">
        </nz-range-picker>
      </div>


    </div>

    <div >
      <button nz-button (click)="search()" nzType="primary">搜索</button>
      <button nz-button (click)="resetForm()" class="search_menu">重置</button>
      <button nz-button (click)="export()" class="search_menu">导出</button>
    </div>


  </form>
  <!-- <st #st [data]="data" [columns]="columns"></st> -->
  <st #st [data]="data" [columns]="columns" [page]="pageConfig" [total]="total" [pi]="param.page" [ps]="param.size"
    (change)="change($event)">
  </st>
</nz-card>


<nz-modal [nzOkText]='null' [(nzVisible)]="isAddProducttyepe2" nzTitle="下载"  (nzOnCancel)="handleCancel2()" (nzOnOk)="subProducttype1()">
  <span *ngIf="url==null">连接加载中.....请稍后！</span>
    <nz-spin *ngIf="url==null" nzSimple></nz-spin>
  <a *ngIf="url" [href]="url"   >点击下载</a>
</nz-modal>
