<div id="wrap">
    <!-- <div style="height: 300px">4444</div> -->
    <div nz-row class="top">
      <div nz-row class="content">
        <div nz-col nzSpan="16" style="font-size: 24px; line-height: 60px;">
          <span style="margin-right: 10px;">logo</span>广西建设工程消防设计审查与验收管理平台
        </div>
        <div nz-col nzSpan="8" class="tip">
          <span>公正</span>
          <span>严格</span>
          <span>文明</span>
          <span>高效</span>
        </div>
      </div>
    </div>
    <div nz-row style="padding: 0 40px;background-color: #fff">
      <div nz-row class="nav content">
        <ul>
          <li *ngFor="let item of navList; let index = index">
            <a (click)="goFromList（">{{ item.name }}</a>
          </li>
        </ul>
      </div>
    </div>
    <div nz-row style="padding: 10px 40px">
      <div class="content" style="font-size: 8px">
        <span>建设大厅</span> >
        <span style="color: red">办事指南</span>
      </div>
    </div>
    <div nz-row nzGutter="16" style="padding: 0px 40px">
      <div class="content">
        <div nz-col nzSpan="12">
          <nz-card (click)="goFromList()" nz-card
            style="height: 130px;text-align: center;line-height: 130px;font-size: 28px;cursor: pointer;">
            消防设计审查和验收办事入口
          </nz-card>
          <nz-card nz-card style="font-size:8px;">
            <p class="titleLeft"><span>办事指南</span></p>
            <div nz-row nzGutter="50" style="padding: 40px;">
              <div nz-col nzSpan="8">
                <div class="cardList">1</div>
                <div>建设工程消防设计审查办事指南</div>
              </div>
              <div nz-col nzSpan="8">
                <div class="cardList">1</div>
                <div>建设工程消防设计验收办事指南</div>
              </div>
              <div nz-col nzSpan="8">
                <div class="cardList">1</div>
                <div>建设工程竣工验收消防备案指南</div>
              </div>
            </div>
          </nz-card>
          <nz-card nz-card style="font-size:8px;">
            <p class="titleLeft"><span>法律法规</span></p>
            <div nz-row style="padding:20px">
              <div *ngFor="let item of lawList"
                style="background-color:#f7f7f7;padding:5px 30px;margin-bottom: 10px;cursor: pointer;">
                {{ item.name }}
              </div>
            </div>
            <p class="more">
              <span> 更多 ></span>
            </p>
          </nz-card>
        </div>
        <div nz-col nzSpan="12">
          <nz-card nz-card style="font-size:8px;">
            <p class="titleRight" style="float: right"><span>公告消息</span></p>
            <div nz-row nzGutter="50" style="padding: 40px;">
              <div nz-col nzSpan="8">
                <div class="cardList">1</div>
                <div>建设工程消防设计审查公告</div>
              </div>
              <div nz-col nzSpan="8">
                <div class="cardList">1</div>
                <div>建设工程消防设计验收公告</div>
              </div>
              <div nz-col nzSpan="8">
                <div class="cardList">1</div>
                <div>建设工程竣工验收消防备案公告</div>
              </div>
            </div>
            <p class="more">
              <span> 更多 ></span>
            </p>
          </nz-card>
          <nz-card nz-card style="font-size:8px;">
            <p class="titleRight" style="float: right;"><span>表格下载</span></p>
            <div nz-row style="padding:25px;margin-top: 40px;">
              <div *ngFor="let item of downLoadList"
                style="background-color:#f7f7f7;padding:5px 30px;margin-bottom: 10px;cursor: pointer;">
                {{ item.name }}
                <span style="float: right">{{ item.time }}</span>
              </div>
            </div>
            <p class="more">
              <span> 更多 ></span>
            </p>
          </nz-card>
        </div>
      </div>
    </div>
  </div>