<!-- <page-header [action]="phActionTpl">
  <ng-template #phActionTpl>

    <button nz-button nzType="default" (click)="switchFilter()"><i nz-icon
        type="{{ hiddenFliter?'down':'up'}}"></i>{{ hiddenFliter?'展开条件':'收起条件'}}</button>
    <button (click)="query()" nz-button nzType="default"><i nz-icon type="reload"></i>刷新</button>
    <button (click)="st.export()" nz-button nzType="primary"><i nz-icon type="export"></i>导出</button>
  </ng-template>
</page-header> -->
<nz-card>


  <button nz-button nzType="default" (click)="switchFilter()"><i nz-icon
      type="{{ hiddenFliter?'down':'up'}}"></i>{{ hiddenFliter?'展开条件':'收起条件'}}</button>
  <button (click)="query()" nz-button nzType="default"><i nz-icon type="reload"></i>刷新</button>

</nz-card>
<nz-card>

  <form nz-form class="mb-md" [hidden]="hiddenFliter">
    <!-- <div  style="width: 100%; margin-bottom: 10px">
        <a nz-button (click)="addDeclare()" nzType="primary" style="margin-right: 10px;margin-top: 10px;">+新增竣工备案申报</a>
    </div>

  <div>
      <div class="fd">
          <div style="width: 100%;height: 10px;"></div>
          <span>工程名称：</span>
          <input nz-input [(ngModel)]="param.projectName" name="projectName" placeholder="工程名称"
          style="margin-right: 10px;width: 200px;">
       </div>
         <div class="fd">
            <div style="width: 100%;height: 10px;"></div>
            <span>当前环节：</span>
          <nz-select class="search_menu_input" [(ngModel)]="param.currentNodeName" name="currentNodeName" nzPlaceHolder="当前环节" nzShowSearch nzAllowClear>
            <nz-option nzLabel="全部当前环节" nzValue="-1"></nz-option>
            <nz-option nzLabel="大厅发放结果" nzValue="0"></nz-option>
            <nz-option nzLabel="大厅受理" nzValue="1"></nz-option>
            <nz-option nzLabel="完结" nzValue="2"></nz-option>
            <nz-option nzLabel="业务承办人审核" nzValue="3"></nz-option>
            <nz-option nzLabel="业务审批负责人审批" nzValue="4"></nz-option>
          </nz-select>
         </div>
         <div class="fd">
            <div style="width: 100%;height: 10px;"></div>
            <span>是否超时：</span>
          <nz-select class="search_menu_input"[(ngModel)]="param.isExpire" name="isExpire"  nzShowSearch nzAllowClear nzPlaceHolder="是否超时" >
            <nz-option nzLabel="是" nzValue="true"></nz-option>
            <nz-option nzLabel="否" nzValue="false"></nz-option>
          </nz-select>
         </div>
         <div class="fd">
            <div style="width: 100%;height: 10px;"></div>
            <span>是否抽中：</span>
          <nz-select class="search_menu_input"[(ngModel)]="param.isSelected" name="isSelected"  nzShowSearch nzAllowClear nzPlaceHolder="是否抽中">
            <nz-option nzLabel="是" nzValue="true"></nz-option>
            <nz-option nzLabel="否" nzValue="false"></nz-option>
          </nz-select>
         </div>
         <div class="fd">
            <div style="width: 100%;height: 10px;"></div>
            <span>审查结果：</span>
          <nz-select class="search_menu_input" [(ngModel)]="param.status" name="status" nzPlaceHolder="审查结果" nzShowSearch nzAllowClear>
          <nz-option nzLabel="全部审查结果" nzValue="-1"></nz-option>
          <nz-option nzLabel="未处理" nzValue="0"></nz-option>
          <nz-option nzLabel="受理" nzValue="1"></nz-option>
          <nz-option nzLabel="不受理" nzValue="2"></nz-option>
          <nz-option nzLabel="不合格" nzValue="3"></nz-option>
          <nz-option nzLabel="合格" nzValue="4"></nz-option>
        </nz-select>
         </div>

    </div>
          <div style="width: 100%;float:left;">
              <div style="width: 100%;height: 10px;"></div>
              <span>申报时间：</span>
            <nz-range-picker class="search_menu_input" [(ngModel)]="rangeTime" name="rangeTime" [nzFormat]="'yyyy/MM/dd'"
            style="margin-right: 10px;width: 350px"></nz-range-picker>
            <div style="width: 100%;height: 10px;"></div>
          </div>

        <div style="width: 100%;">
            <div style="width: 100%;height: 10px;"></div>
              <button nz-button (click)="query()" nzType="primary" style="margin-right: 10px;">搜索</button>
              <button nz-button (click)="reststart()" style="margin-right: 10px;">重置</button>
              <button nz-button (click)="export()" style="margin-right: 10px;">导出</button>
              <div style="width: 100%;height: 10px;"></div>
         </div> -->

    <div><a nz-button (click)="addDeclare()" nzType="primary" style="margin-right: 10px;margin-top: 10px;">+新增备案申报</a>
    </div>


    <div nz-row>
      <div style="float: left">
        <div style="width: 100%;height: 10px;"></div>
        <span>工程名称：</span>
        <input nz-input [(ngModel)]="param.projectName" name="projectName" placeholder="工程名称"
          style="margin-right: 10px;width: 200px;">
      </div>
      <div style="float: left">
        <div style="width: 100%;height: 10px;"></div>
        <span>单位类别：</span>
        <nz-select class="search_menu_input" [(ngModel)]="param.orgType" name="orgType" nzPlaceHolder="全部单位类别"
          nzShowSearch nzAllowClear>
          <nz-option nzLabel="全部" nzValue="-1"></nz-option>
          <nz-option nzLabel="建设单位" nzValue="1"></nz-option>
          <nz-option nzLabel="设计单位" nzValue="2"></nz-option>
          <nz-option nzLabel="施工单位" nzValue="3"></nz-option>
          <nz-option nzLabel="监理单位" nzValue="4"></nz-option>
          <nz-option nzLabel="审图单位" nzValue="5"></nz-option>
          <nz-option nzLabel="检测单位" nzValue="6"></nz-option>
          <nz-option nzLabel="分包单位" nzValue="7"></nz-option>
        </nz-select>
      </div>
      <div style="float: left">
        <div style="width: 100%;height: 10px;"></div>
        <span>单位名称：</span>
        <input nz-input [(ngModel)]="param.companyName" name="companyName" placeholder="单位名称"
          style="margin-right: 10px;width: 200px;">
      </div>


      <div style="float: left">
        <div style="width: 100%;height: 10px;"></div>
        <span>当前环节：</span>
        <nz-select class="search_menu_input" [(ngModel)]="param.currentNodeName" nzPlaceHolder="当前环节"
          name="currentNodeName" nzShowSearch nzAllowClear>
          <nz-option nzLabel="全部" nzValue=""></nz-option>
          <nz-option nzLabel="大厅发放结果" nzValue="大厅发放结果"></nz-option>
          <nz-option nzLabel="大厅受理" nzValue="大厅受理"></nz-option>
          <nz-option nzLabel="完结" nzValue="完结"></nz-option>
          <nz-option nzLabel="业务承办人审核" nzValue="业务承办人审核"></nz-option>
          <nz-option nzLabel="业务审批负责人审批" nzValue="业务审批负责人审批"></nz-option>
        </nz-select>
      </div>
      <div style="float: left">
        <div style="width: 100%;height: 10px;"></div>
        <span>是否超时：</span>
        <nz-select class="search_menu_input" [(ngModel)]="param.isExpire" name="isExpire" nzPlaceHolder="是否超时"
          nzShowSearch nzAllowClear>
          <nz-option nzLabel="是" nzValue="true"></nz-option>
          <nz-option nzLabel="否" nzValue="false"></nz-option>
        </nz-select>
      </div>

      <div style="float: left">
        <div style="width: 100%;height: 10px;"></div>
        <span>审查结果：</span>
        <nz-select class="search_menu_input" [(ngModel)]="param.status" name="status" nzPlaceHolder="审查结果" name="status"
          nzShowSearch nzAllowClear>
          <nz-option nzLabel="全部" nzValue="-1"></nz-option>
          <nz-option nzLabel="未处理" nzValue="0"></nz-option>
          <nz-option nzLabel="受理" nzValue="1"></nz-option>
          <nz-option nzLabel="不受理" nzValue="2"></nz-option>
          <nz-option nzLabel="不合格" nzValue="3"></nz-option>
          <nz-option nzLabel="合格" nzValue="4"></nz-option>
          <nz-option nzLabel="未抽中" nzValue="5"></nz-option>
        </nz-select>
      </div>

      <div style="float: left">
        <div style="width: 100%;height: 10px;"></div>
        <span>申报时间：</span>
        <nz-range-picker [(ngModel)]="rangeTime" name="rangeTime" nzFormat="yyyy/MM/dd" style="margin-right: 10px;">
        </nz-range-picker>
      </div>

      <div style="float: left">
        <div style="width: 100%;height: 10px;"></div>
        <button nz-button (click)="query()" nzType="primary" style="margin-right: 10px;" autofocus="autofocus"
          default>搜索</button>
        <button nz-button (click)="reststart()" style="margin-right: 10px;">重置</button>
        <button nz-button (click)="export()" style="margin-right: 10px;">导出</button>
      </div>


    </div>
  </form>
  <nz-spin [nzSpinning]="!formResultData"></nz-spin>

  <st #st *ngIf="formResultData" [data]="formResultData.data" [columns]="columns" [page]="pageConfig"
    [total]="formResultData.total" [pi]="param.page" [ps]="param.maxResultCount" (change)="change($event)">
  </st>
  <br>
</nz-card>


<!-- 撤回提示  -->
<nz-modal [nzMaskClosable]='false' [(nzVisible)]="isAddProducttyepe1" nzTitle="提示" (nzOnCancel)="handleCancel1()"
  (nzOnOk)="subProducttype1()">
  <span>确定撤回申请吗?</span>
</nz-modal>

<nz-modal [nzMaskClosable]='false' [nzOkText]='null' [(nzVisible)]="showExportModal" nzTitle="提示"
  (nzOnCancel)="handleCancel2()" (nzOnOk)="subProducttype2()">
  <nz-spin nzSimplespan>正在导出文件，请稍后</nz-spin>

</nz-modal>
