<page-header [action]="phActionTpl">
  <ng-template #phActionTpl>

    <button nz-button nzType="default" (click)="switchFilter()"><i nz-icon
        type="{{ hiddenFliter?'down':'up'}}"></i>{{ hiddenFliter?'展开条件':'收起条件'}}</button>
    <button (click)="query()" nz-button nzType="default"><i nz-icon type="reload"></i>刷新</button>
    <button (click)="st.export()" nz-button nzType="primary"><i nz-icon type="export"></i>导出</button>
  </ng-template>
</page-header>
<nz-card>

  <form nz-form class="mb-md" [hidden]="hiddenFliter">
    <a nz-button (click)="addDeclare()" nzType="primary" style="margin-right: 10px;margin-top: 10px;">+新增申报</a>
    <input nz-input [(ngModel)]="searchParam.projectName" name="projectName" placeholder="工程名称"
      style="margin-right: 10px;margin-top: 10px;width: 200px;">
    <nz-select class="search_menu_input" [(ngModel)]="searchParam.status" name="status" nzPlaceHolder="审查结果">
      <nz-option nzLabel="未处理" nzValue="0"></nz-option>
      <nz-option nzLabel="受理" nzValue="1"></nz-option>
      <nz-option nzLabel="不受理" nzValue="2"></nz-option>
      <nz-option nzLabel="不合格" nzValue="3"></nz-option>
      <nz-option nzLabel="合格" nzValue="4"></nz-option>
      <nz-option nzLabel="未抽中" nzValue="5"></nz-option>
    </nz-select>

    <nz-range-picker class="search_menu_input" [(ngModel)]="rangeTime" name="rangeTime" nzFormat="yyyy/MM/dd"
      style="margin-right: 10px;margin-top: 10px;width: 350px"></nz-range-picker>
    <button nz-button (click)="query()" nzType="primary" style="margin-right: 10px;margin-top: 10px;">搜索</button>
    <button nz-button (click)="reststart()" style="margin-right: 10px;margin-top: 10px;">重置</button>


  </form>
  <nz-spin [nzSpinning]="!formResultData"></nz-spin>

  <st #st *ngIf="formResultData" [data]="formResultData.data" [columns]="columns" [page]="pageConfig"
    [total]="formResultData.total" [pi]="searchParam.page" [ps]="searchParam.maxResultCount" (change)="change($event)">
  </st>
  <br>
</nz-card>