<page-header>
  <ng-template #action>
    <button (click)="add()" nz-button nzType="primary">新建</button>
  </ng-template>
</page-header>
<nz-card>

  <form nz-form class="table" [formGroup]="validateForm">

    <div class="tr">
      <div class="title">建设工程消防设计审查申报表</div>
    </div>
    <div class="tr">
      <div class="td_label_fixed">
        <nz-form-label nzSize="large" nzRequired nzNoColon>建设单位</nz-form-label>
      </div>
      <div class="td_r_li">

        <nz-form-control nzHasFeedback>
          <input nz-input type="text" formControlName="jsconstructionUnit" [(ngModel)]="postData.jsconstructionUnit"
            placeholder="请输入建设单位" nzHasFeedback required>

          <div class="vali_err" *ngIf="validateForm.get('jsconstructionUnit').hasError('required')">
            必填
          </div>

        </nz-form-control>

      </div>
    </div>


    <div class="tr">
      <div class="td_label_fixed">
        <nz-form-label nzSize="large" name="buildOrg" nzRequired nzNoColon>工程名称</nz-form-label>
      </div>
      <div class="td_r_li">

        <nz-form-control nzHasFeedback>
          <input nz-input type="text" formControlName="projectName" [(ngModel)]="postData.projectName"
            placeholder="请输入工程名称" nzHasFeedback required>

          <div class="vali_err" *ngIf="validateForm.get('projectName').hasError('required')">
            必填
          </div>

        </nz-form-control>

      </div>
    </div>

    <div class="tr">
      <div class="td_label_fixed">
        <nz-form-label nzSize="large" nzRequired nzNoColon>法定代表人/主要负责人</nz-form-label>
      </div>

      <div class="td">
        <nz-form-control nzHasFeedback>
          <input nz-input type="text" formControlName="legalRepresentative" [(ngModel)]="postData.legalRepresentative"
            placeholder="请输入法定代表人/主要负责人" nzHasFeedback required>
          <div class="vali_err" *ngIf="validateForm.get('legalRepresentative').hasError('required')">
            必填
          </div>
        </nz-form-control>
      </div>

      <div class="td_label_fixed">
        <nz-form-label nzSize="large" nzRequired nzNoColon>联系电话</nz-form-label>
      </div>

      <div class="td_r_li">
        <nz-form-control>
          <input nz-input name="email" nzHasFeedback>
        </nz-form-control>
      </div>

    </div>

    <div class="tr_btm_li">
      <div class="td_label_fixed">
        <nz-form-label nzSize="large" nzRequired nzNoColon>工程地址</nz-form-label>
      </div>
      <div class="td_r_li">
        <nz-form-control>
          <input nz-input name="email" nzHasFeedback>
        </nz-form-control>
      </div>
    </div>

    <div class="tr">
      <div class="td_label_fixed">

      </div>
      <div class="td_r_li">
        <nz-form-control>
          <input nz-input name="email" nzHasFeedback>
        </nz-form-control>
      </div>
    </div>




  </form>

</nz-card>