<page-header>
  <ng-template #action>
    <button (click)="add()" nz-button nzType="primary">新建</button>
  </ng-template>
</page-header>
<!-- 组织框架管理-->

<nz-card>
  <div class="right">
    <div class="org"><span>组织机构</span></div>
    <div nz-col [nzSpan]="2">
      <div style="margin-top: 35px;">
        <nz-tree #treeCom [nzData]="nodes" nzMultiple="false"   nzDefaultExpandAll="true" (nzClick)="nzEvent($event)">

          <div *ngIf="this.addOrgModel.parentId != '39B6CADE-DC11-4BA4-972E-3818276C9CDF'">
            <ng-template #nzTreeTemplate let-node>
              <span (contextmenu)="contextMenu($event,template)" class="min-w">
                {{ node.title }}

              </span>

            </ng-template>
            <ng-template #template>
              <ul nz-menu nzInDropDown (nzClick)="close($event)">
                <li nz-menu-item (click)="edit()">编辑</li>
                <li nz-menu-item (click)="add()">添加</li>

              </ul>
            </ng-template>

          </div>
        </nz-tree>

      </div>
    </div>
  </div>


  <div class="content">
    <div class="org"><span>所辖机构</span></div>

    <div *ngIf="orgarray!='' && orgarray!=null">
      <div> <a nz-button (click)="deleteData()" nzType="primary"
          style="margin-right: 10px;float: right;;margin-top: 5px;"><i nz-icon type="delete"
            nzTheme="outline"></i>删除</a></div>
      <div> <a nz-button (click)="add()" nzType="primary" style="margin-right: 10px;float: right;;margin-top: 5px;"><i
            nz-icon type="delete" nzTheme="outline"></i>增加</a></div>
      <div style="padding: 5px;">
        <nz-checkbox-wrapper style="width: 100%;" (nzOnChange)="log($event)">
          <div nz-row>
            <div *ngFor="let item of orgarray" nz-col nzSpan="8"><label nz-checkbox
                nzValue="{{item.key}}">{{item.title}}</label></div>

          </div>
        </nz-checkbox-wrapper>
      </div>
    </div>

    <div *ngIf="defaultCheckedKeys2 !=null">
      <div class="org" style="margin-top: 5px"><span>所属区域</span>
      </div>

      <nz-tree #treeCom [nzData]="Areanodes" nzCheckable="true" nzMultiple="true" ref="tree"
        [(nzCheckedKeys)]="defaultCheckedKeys2" nzDefaultExpandAll="true" (nzCheckBoxChange)="nzAreaEvent($event)">
      </nz-tree>
    </div>
  </div>

  <!-- <div class="content" *ngIf="orgarray!='' && orgarray!=null">
    <div class="org"><span>添加所辖机构</span></div>

    <div >
      <div> <a nz-button (click)="addData()" nzType="primary"
          style="margin-right: 10px;float: right;;margin-top: 5px;">增加</a></div>
      <div style="padding: 5px;">
        <div nz-col nzSpan="4">新增机构名称</div>
        <div nz-col nzSpan="10">
          <input nz-input  placeholder="请输入新增架构名称" minlength="8" maxlength=11>
        </div>
      </div>


    </div>
  </div> -->
</nz-card>

<!-- 编辑部门 -->
<nz-modal [nzMaskClosable]='false' [(nzVisible)]="isAddProducttyepe1" nzTitle="编辑组织机构" (nzOnCancel)="handleCancel1()"
  (nzOnOk)="subProducttype1()">
  <div style="margin-top: 8px" nz-row>
    <div nz-col nzSpan="5">机构名称</div>
    <div nz-col nzSpan="19">
      <input nz-input [(ngModel)]="editOrgModel.name">
    </div>
  </div>
  <div style="margin-top: 8px" nz-row>
    <div nz-col nzSpan="5">文号前缀</div>
    <div nz-col nzSpan="19">
      <input nz-input [(ngModel)]="editOrgModel.typenumberPrefix">
    </div>
  </div>
  <div style="margin-top: 10px" nz-row>
    <div nz-col nzSpan="5">所属区域</div>
    <div nz-col nzSpan="19">
      <nz-tree #treeCom [nzData]="Areanodes" nzCheckable="true" nzMultiple="true" ref="tree"
        [(nzCheckedKeys)]="defaultCheckedKeys2" nzDefaultExpandAll="true" (nzCheckBoxChange)="nzAreaEvent($event)">
        <div>
        </div>
      </nz-tree>
    </div>
  </div>
</nz-modal>

<!-- 添加 -->
<nz-modal [nzMaskClosable]='false' [(nzVisible)]="isAddProducttyepe2" nzTitle="添加区域" (nzOnCancel)="handleCancel2()" (nzOnOk)="subProducttype2()">
  <div nz-row>

    <div nz-col nzSpan="5">上级机构</div>
    <div nz-col nzSpan="19">
      <!-- <input nz-input [(ngModel)]="parentorgname"> -->
      <span>{{parentorgname}}</span>
    </div>
  </div>

  <div nz-row style="margin-top: 15px">

    <div nz-col nzSpan="5">组织机构名称</div>
    <div nz-col nzSpan="19">
      <input nz-input [(ngModel)]="addOrgModel.name">
    </div>
  </div>

  <div nz-row style="margin-top: 15px">

    <div nz-col nzSpan="5">文号前缀</div>
    <div nz-col nzSpan="19">
      <input nz-input [(ngModel)]="addOrgModel.typenumberPrefix">
    </div>
  </div>
  <div style="margin-top: 50px" nz-row>
    <div nz-col nzSpan="5">所属区域</div>
    <div nz-col nzSpan="19">
      <nz-tree #treeCom [nzData]="Areanodes" nzCheckable="true" nzMultiple="true" ref="tree"
        [(nzCheckedKeys)]="defaultCheckedKeys3" nzDefaultExpandAll="true" (nzCheckBoxChange)="nzAreaEvent($event)">

        <div>
        </div>
      </nz-tree>


    </div>
  </div>


</nz-modal>
