<nz-spin [nzSpinning]="type">
  <nz-tabset [(nzSelectedIndex)]="selectedIndex" [nzType]="'card'">
    <div *ngFor="let tab of tabs">
      <nz-tab [nzTitle]="tab.name">
      </nz-tab>
    </div>
  </nz-tabset>

  <div [ngClass]="{hide: selectedIndex != 0}">

    <!-- 表单JSON -->
    <app-fire-design-declare-assembly [errorData]="showError"  *ngIf="formJson && flowPathType ==1" [data]="formJson" type=1>
    </app-fire-design-declare-assembly>

    <app-fire-acceptance-assembly [data]="formJson" type=1 *ngIf="formJson && flowPathType ==2">
    </app-fire-acceptance-assembly>

    <app-completed-acceptance-assembly [data]="formJson" type=1 *ngIf="formJson && flowPathType ==3">
    </app-completed-acceptance-assembly>  

    
    <!-- 表单JSON -->
    <form nz-form #f="ngForm" se-container="1">
      <table class="tables" style="box-sizing: border-box;" *ngIf="formDto">

        <tr>
          <td style="width: 37px;background-color: #ffedcc;color: #ff9c35;font-weight: 600;border-right: 0" rowspan='4'>
            流程审批
          </td>
        </tr>
        <tr style="text-align: left;">
          <td colspan="20">


            <div [ngSwitch]="flowPathType">
              <div *ngSwitchCase="1">

                <!-- 消防设计的意见书2 -->
                <app-fire-design-declare-assembly-handle [data]="formDto" type="2">
                </app-fire-design-declare-assembly-handle>
                <!-- 消防设计的意见书 -->
              </div>
              <div *ngSwitchCase="2">
                <!-- 消防验收的意见书 -->
                <app-fire-acceptance-assembly-handle [examineFormDto]="examineFormDto" [data]="formDto" type="2">
                </app-fire-acceptance-assembly-handle>
                <!-- 消防验收的意见书 -->
              </div>
              <div *ngSwitchCase="3">
                <!-- 竣工备案的抽中或者未抽中 -->
                <app-completed-acceptance-assembly-handle [data]="formDto" type="7"
                  *ngIf="this.curNodeName=='业务审批负责人审批'">
                </app-completed-acceptance-assembly-handle>
                <!-- 竣工备案的抽中或者未抽中 -->
              </div>
            </div>







          </td>
        </tr>

      </table>
    </form>

  </div>
  <div [ngClass]="{hide: selectedIndex != 1}">
    <app-flow-route *ngIf="data" [data]="data"></app-flow-route>
  </div>
</nz-spin>