<nz-spin [nzSpinning]="type">
  <nz-tabset [(nzSelectedIndex)]="selectedIndex" [nzType]="'card'">
    <div *ngFor="let tab of tabs">
      <nz-tab [nzTitle]="tab.name">
      </nz-tab>
    </div>
  </nz-tabset>

  <div [ngClass]="{hide: selectedIndex != 0}">

    <!-- 表单JSON -->
    <app-fire-design-declare-assembly [useNatureSelect]="useNatureSelect" [errorData]="showError"
      *ngIf="formJson && flowPathType ==1" [data]="formJson" type=1>
    </app-fire-design-declare-assembly>

    <app-fire-acceptance-assembly [useNatureSelect]="useNatureSelect" [data]="formJson" type=1
      *ngIf="formJson && flowPathType ==2">
    </app-fire-acceptance-assembly>

    <app-completed-acceptance-assembly [useNatureSelect]="useNatureSelect" [data]="formJson" type=1
      *ngIf="formJson && flowPathType ==3">
    </app-completed-acceptance-assembly>

    <table class="tables" style="box-sizing: border-box;"
      *ngIf="formDto&&formDto.flowNodeItems||examineFormDto&&examineFormDto.flowNodeItems">
      <tr *ngIf="formDto.flowNodeItems&&formDto.flowNodeItems.length>0">
        <td rowspan='20'>
          <div *ngFor="let item of formDto.flowNodeItems" style="text-align: left;font-size: 15px;line-height: 40px;">
            <div *ngIf="item.isDisplayFile">
              <i nz-icon type="link" nzTheme="outline" style="margin-right: 10px;"></i><a
                [href]="item.fileUrl">{{item.fileName}}</a>
            </div>
            <div *ngIf="!item.isDisplayFile">
              {{item.opinion}}
            </div>
          </div>
        </td>
      </tr>
      <tr *ngIf="examineFormDto.flowNodeItems&&examineFormDto.flowNodeItems.length>0">
        <td rowspan='20'>
          <div *ngFor="let item of examineFormDto.flowNodeItems"
            style="text-align: left;font-size: 15px;line-height: 40px;">
            <div *ngIf="item.isDisplayFile">
              <i nz-icon type="link" nzTheme="outline" style="margin-right: 10px;"></i><a
                [href]="item.fileUrl">{{item.fileName}}</a>
            </div>
            <div *ngIf="!item.isDisplayFile">
              {{item.opinion}}
            </div>
          </div>
        </td>
      </tr>
    </table>
    <!-- 表单JSON -->
  </div>
</nz-spin>

<div [ngClass]="{hide: selectedIndex != 1}">
  <nz-spin [nzSpinning]="!data">
    <app-flow-route *ngIf="data" [data]="data"></app-flow-route>
  </nz-spin>
</div>