<page-header [action]="phActionTpl">
  <ng-template #phActionTpl>

    <button nz-button nzType="default" (click)="switchFilter()"><i nz-icon
        type="{{ hiddenFliter?'down':'up'}}"></i>{{ hiddenFliter?'展开条件':'收起条件'}}</button>
    <button (click)="refresh()" nz-button nzType="default"><i nz-icon type="reload"></i>刷新</button>
  </ng-template>
</page-header>
<nz-card>

  <form nz-form class="mb-md" [hidden]="hiddenFliter" [formGroup]="fliterForm">
    <span>竣工验收申报编号：</span>
    <input nz-input [(ngModel)]="searchKey" formControlName="proNo" placeholder="请输入竣工验收申报编号" class="search_menu_input">

    <!-- <nz-select class="search_menu_input" nzShowSearch nzAllowClear nzPlaceHolder="工程名称" [(ngModel)]="selectedValuePro">     </nz-select>-->
    <span>工程名称：</span>
    <input nz-input [(ngModel)]="searchKey" formControlName="proName" placeholder="请输入工程名称" class="search_menu_input">
    <span>审查结果：</span>
    <nz-select class="search_menu_input" formControlName="proType" nzShowSearch nzAllowClear nzPlaceHolder="请选择"
      [(ngModel)]="selectedValuePro">

    </nz-select>
    <span>申报时间：</span>
    <nz-range-picker nzFormat="yyyy/MM/dd" formControlName="dateRange" class="search_menu"></nz-range-picker>

    <button nz-button (click)="resetForm()" class="search_menu">重置</button>

    <button nz-button (click)="search()" nzType="primary">搜索</button>
  </form>
  <button nz-button nzType="primary" (click)="addview()">新增申报</button>
  <button nz-button nzType="primary" (click)="st.export()">导出</button>
  <st #st [data]="url" [columns]="columns"></st>
  <br>
  <nz-pagination [nzPageIndex]="2" [nzTotal]="500" nzShowQuickJumper></nz-pagination>
</nz-card>

<!-- 项目申报情况统计 -->
<!-- 新增申报 -->
<nz-modal [(nzVisible)]="isAddProducttyepe5" nzTitle="设置部门负责人" (nzOnCancel)="handleCancel5()"
  (nzOnOk)="subProducttype5()">
  <div style="margin-top: 8px" nz-row>
    <div nz-col nzSpan="5">竣工验收申报编号</div>
    <div nz-col nzSpan="19">
      <input nz-input placeholder="请输入内容" [(ngModel)]="submodel.Name">
    </div>
  </div>
  <div style="margin-top: 8px" nz-row>
    <div nz-col nzSpan="5">工程名称</div>
    <div nz-col nzSpan="19">
      <input nz-input placeholder="请输入内容" [(ngModel)]="submodel.Name">
    </div>
  </div>
  <div style="margin-top: 8px" nz-row>
    <div nz-col nzSpan="5">建设单位</div>
    <div nz-col nzSpan="19">
      <input nz-input placeholder="请输入内容" [(ngModel)]="submodel.Name">
    </div>
  </div>
  <div style="margin-top: 8px" nz-row>
    <div nz-col nzSpan="5">联系人</div>
    <div nz-col nzSpan="19">
      <input nz-input placeholder="请输入内容" [(ngModel)]="submodel.Name">
    </div>
  </div>
  <div style="margin-top: 8px" nz-row>
    <div nz-col nzSpan="5">联系电话</div>
    <div nz-col nzSpan="19">
      <input nz-input placeholder="请输入内容" [(ngModel)]="submodel.Name">
    </div>
  </div>
  <div style="margin-top: 8px" nz-row>
    <div nz-col nzSpan="5">流程是否超时</div>
    <div nz-col nzSpan="19">
      <input nz-input placeholder="请输入内容" [(ngModel)]="submodel.Name">
    </div>
  </div>
  <div style="margin-top: 8px" nz-row>
    <div nz-col nzSpan="5">审核结果</div>
    <div nz-col nzSpan="19">
      <input nz-input placeholder="请输入内容" [(ngModel)]="submodel.Name">
    </div>
  </div>
  <div style="margin-top: 8px" nz-row>
    <div nz-col nzSpan="5">操作人</div>
    <div nz-col nzSpan="19">
      <input nz-input placeholder="请输入内容" [(ngModel)]="submodel.Name">
    </div>
  </div>
  <div style="margin-top: 8px" nz-row>
    <div nz-col nzSpan="5">操作时间</div>
    <div nz-col nzSpan="19">
      <input nz-input placeholder="请输入内容" [(ngModel)]="submodel.Name">
    </div>
  </div>
</nz-modal>