<div class="printWrap" style="width:774px; margin: 0 auto;padding: 0 20px; ">
    <div *ngIf="data" class="formPrint" style="display: flex;">
        <div class="title">
            建设工程消防设计审查申报表
        </div>
        <div class="row">
            <div class="minTitle">建设单位:</div>
            <div class="unit borderRight contantleft">
                {{data.jsconstructionUnit}}
            </div>
            <div class="minTitle">法定代表人/主要负责人:</div>
            <div class="value borderRight contantleft">
                {{data.legalRepresentative}}
            </div>
            <div class="minTitle" style="width: 110px;">联系电话:</div>
            <div class="contantleft" style="width: 125px;">
                {{data.legalRepresentativeNo}}
            </div>
        </div>
        <div class="row">
            <div class="minTitle">工程名称:</div>
            <div class="unit borderRight contantleft">
                {{data.projectName}}
            </div>
            <div class="minTitle">联系人:</div>
            <div class="borderRight contantleft value">
                {{data.contacts}}
            </div>
            <div class="minTitle" style="width: 110px;">联系电话:</div>
            <div class="contantleft" style="width: 125px;">
                {{data.contactsNumber}}
            </div>
        </div>
        <div class="row">
            <div class="minTitle">工程地址:</div>
            <div style="width: 512px;">{{data.address}}{{data.engineeringAddress}}</div>
        </div>
        <div class="row">
            <div class="minTitle">审批单位:</div>
            <div style="width: 512px;">{{data.examination}}</div>
        </div>
        <div class="row">
            <div class="minTitle">计划开工日期:</div>
            <div style="width: 248px; border-right: 1px solid #e2e2e2;
            box-sizing: border-box;">{{data.planStartTime}}</div>
            <div class="minTitle">计划竣工日期:</div>
            <div style="width: 248px;">{{data.planEndTime}}</div>
        </div>
        <div class="row">
            <div class="minTitle">类别:</div>
            <div style="width: 611px;">
                <span class="radio">
                    <input id="radio1" type="radio" name="Category" value="1" [checked]="data.projectCategoryId==1"
                        disabled>
                    <label for="radio1">新建</label>
                </span>
                <span class="radio">
                    <input id="radio2" type="radio" name="Category" [checked]="data.projectCategoryId==2" disabled>
                    <label for="radio2">扩建</label>
                </span>
                <label> 改建(</label>
                <span class="radio">
                    <input id="radio3" name="Category" type="radio" [checked]="data.projectCategoryId==3" disabled>
                    <label for="radio3">装修</label>
                </span>
                <span class="radio">
                    <input id="radio4" name="Category" type="radio" [checked]="data.projectCategoryId==4" disabled>
                    <label for="radio4">建筑保温</label>
                </span>
                <span class="radio">
                    <input id="radio5" name="Category" type="radio" [checked]="data.projectCategoryId==5" disabled>
                    <label for="radio5">改变用途</label>
                </span><label>)</label>

            </div>
        </div>
        <div class="row">
            <div class="minTitle">单位类别</div>
            <div class="minTitle" style="width: 128px;">单位名称</div>
            <div class="minTitle">资质等级</div>
            <div class="minTitle">法定代表人/主要负责人</div>
            <div class="minTitle">联系人</div>
            <div class="minTitle">联系电话</div>
        </div>
        <div class="row" *ngFor="let item of data.design;">
            <div class="minTitle">设计单位</div>
            <div class="minTitleFlow" style="width: 128px;">{{item.designUnit}}</div>
            <div class="minTitleFlow">{{item.qualificationLevel}}</div>
            <div class="minTitleFlow">{{item.legalRepresentative}}</div>
            <div class="minTitleFlow">{{item.contacts}}</div>
            <div class="minTitleFlow">{{item.contactsNumber}}</div>
        </div>
        <div class="row" *ngFor="let item of data.constructionUnit;">
            <div class="minTitle">施工单位</div>
            <div class="minTitleFlow" style="width: 128px;">{{item.designUnit}}</div>
            <div class="minTitleFlow">{{item.qualificationLevel}}</div>
            <div class="minTitleFlow">{{item.legalRepresentative}}</div>
            <div class="minTitleFlow">{{item.contacts}}</div>
            <div class="minTitleFlow">{{item.contactsNumber}}</div>
        </div>
        <div class="row">
            <div class="minTitle">监理单位</div>
            <div class="minTitleFlow" style="width: 128px;">{{data.constructionControlUnit.designUnit}}</div>
            <div class="minTitleFlow">{{data.constructionControlUnit.qualificationLevel}}</div>
            <div class="minTitleFlow">{{data.constructionControlUnit.legalRepresentative}}</div>
            <div class="minTitleFlow">{{data.constructionControlUnit.contacts}}</div>
            <div class="minTitleFlow">{{data.constructionControlUnit.contactsNumber}}</div>
        </div>
        <div class="row">
            <div class="minTitle">审图单位</div>
            <div class="minTitleFlow" style="width: 128px;">{{data.mappingUnit.designUnit}}</div>
            <div class="minTitleFlow">{{data.mappingUnit.qualificationLevel}}</div>
            <div class="minTitleFlow">{{data.mappingUnit.legalRepresentative}}</div>
            <div class="minTitleFlow">{{data.mappingUnit.contacts}}</div>
            <div class="minTitleFlow">{{data.mappingUnit.contactsNumber}}</div>
        </div>
        <div class="row" *ngFor="let strItem of data.mappingUnit.no;">
            <div class="minTitle" style="width: 249px;">审图编号</div>
            <div style="width: 483px;">{{strItem.noValue}}</div>
        </div>
        <div class="row">
            <div class="minTitle" style="width: 249px;">主体消防验收意见书编号</div>
            <div style="width: 483px;">{{data.mappingUnit.mainAdiseNo}}</div>
        </div>
        <div class="row">
            <div class="minTitle" style="width: 249px;">建设工程规划许可证号</div>
            <div style="width: 483px;">{{data.licenseNumber}}</div>
        </div>

        <div class="row">
            <div class="minTitle contantCenter" style='width: 60px;padding:17px;'>使用性质</div>
            <div class="fontWeight contantCenter"
                style="width: 61px; border-right: 1px solid #e2e2e2;box-sizing:border-box;padding:17px;">
                特殊建设工程</div>
            <div style="display: flex;flex-direction: column;">
                <div *ngFor="let item of data.specialEngineering.listArr let index=index"
                    style="overflow: hidden;width: 580px;padding: 5px 0;">
                    <p class="specialTitle" style="text-align: left;">{{index+1}}、{{item.title}}</p>
                    <span class="radio" *ngFor="let o of item.arr;let index =index;">
                        <input [id]="index" name="arr" type="radio" [checked]="data.specialEngineering.value==o.value"
                            disabled>
                        <label [for]="index">{{ o.name }}</label>
                    </span>
                </div>
            </div>
        </div>
        <div class="row">
            <div style="width: 50px;" class="contantCenter fontWeight borderRight">
                工程基本情况
            </div>
            <div style="width: 682px;display: flex;flex-direction: column;padding: 0;">
                <div style="width: 682px;display: flex;">
                    <div class="minTitle">单体建筑名称</div>
                    <div class="minTitle" style="width: 65px;
                    padding: 0 10px;
                    box-sizing: border-box;">结构类型</div>
                    <div class="minTitle contantCenter" style="width: 65px;
                    padding: 10px;
                    box-sizing: border-box;">耐火等级</div>
                    <div class="minTitle"
                        style="display: flex;flex-direction: column;padding: 0;text-align: center;width: 129px;">
                        <div
                            style="border-bottom: 1px solid #e2e2e2;padding: 5px 0;box-sizing: border-box;width: 100%;">
                            层数
                        </div>
                        <div style="display: flex;">
                            <div
                                style="border-right: 1px solid #e2e2e2;padding: 8px 5px;width: 65px;box-sizing: border-box;">
                                地上
                            </div>

                            <div
                                style="border-right: 1px solid #e2e2e2;text-align: center;padding: 8px 5px;width: 65px;box-sizing: border-box;">
                                地下
                            </div>
                        </div>
                    </div>
                    <div class="minTitle borderRight" style="text-align: center;width: 87px;padding: 10px;">建筑高度（m）
                    </div>
                    <div class="minTitle borderRight"
                        style="text-align: center;width: 87px;padding: 10px;flex-direction: column;">
                        <div>占地面积 （m<sup>2</sup>）</div>
                    </div>
                    <div class="minTitle"
                        style="display: flex;flex-direction: column;padding: 0;text-align: center;width: 129px;">
                        <div
                            style="border-bottom: 1px solid #e2e2e2;padding: 5px 0;box-sizing: border-box;width: 100%;">
                            建筑面积（m<sup>2</sup>）</div>
                        <div style="display: flex;">
                            <div
                                style="border-right: 1px solid #e2e2e2;padding: 8px 5px;width: 65px;box-sizing: border-box;">
                                地上
                            </div>
                            <div
                                style="border-right: 1px solid #e2e2e2;padding: 8px 5px;width: 65px;box-sizing: border-box;">
                                地下
                            </div>
                        </div>
                    </div>
                </div>
                <div class="specialLow" style="display: flex;border-top: 1px solid #e2e2e2;"
                    *ngFor="let item of data.basicInformation;">
                    <div class="borderRight contantCenter" style="width:121px;">{{item.name}}</div>
                    <div class="borderRight contantCenter" style="width:65px;">{{item.type}}</div>
                    <div class="borderRight contantCenter" style="width: 65px;">{{item.grade}}</div>
                    <div class="borderRight contantCenter" style="width: 64px;padding: 0;">{{item.aboveGround}}</div>
                    <div class="borderRight contantCenter" style="width: 65px;;padding: 0;">{{item.underground}}</div>
                    <div class="borderRight contantCenter" style="width: 87px;">{{item.height}}</div>
                    <div class="borderRight contantCenter" style="width: 87px;">{{item.areaCovered}}</div>
                    <div class="borderRight contantCenter" style="width: 64px;padding: 0;">{{item.jzmjaboveGround}}
                    </div>
                    <div class="contantCenter" style="width: 65px;;padding: 0;">{{item.jzmjunderground}}</div>
                </div>
            </div>
        </div>
        <div class="row" *ngFor="let item of data.storageTank;">
            <div style="width: 50px;" class="contantCenter fontWeight borderRight">
                储 罐
            </div>

            <div style="width: 682px;display: flex;flex-direction: column;padding: 0;">

                <div style="display: flex;width: 100%;">
                    <div class="minTitle" style="padding: 10px;">
                        储存物质名称
                    </div>
                    <div class="borderRight" style="width: 220px;">
                        {{item.name}}
                    </div>
                    <div class="minTitle" style="padding: 10px;">
                        总容量（m3）
                    </div>
                    <div style="width: 220px;">
                        {{item.totalCapacity}}
                    </div>
                </div>
                <div style="display: flex;width: 100%;border-top: 1px solid #e2e2e2;">
                    <div class="fontWeight minTitle" style="padding: 10px;">
                        设置位置
                    </div>
                    <div style="width: 561px;padding: 10px;">
                        {{item.position}}
                    </div>
                </div>
                <div style="display: flex;width: 100%;border-top: 1px solid #e2e2e2;">
                    <div class="fontWeight minTitle" style="padding: 10px;">
                        储存形式
                    </div>
                    <div style="width: 561px;padding: 10px;">
                        <span class="radio">
                            <input id="storageForm1" type="radio" name="storageForm" [checked]="item.storageForm=='地上'"
                                disabled>
                            <label for="storageForm1">地上</label>
                        </span>
                        <span class="radio">
                            <input id="storageForm2" type="radio" name="storageForm" [checked]="item.storageForm=='半地下'"
                                disabled>
                            <label for="storageForm2">半地下</label>
                        </span>
                        <span class="radio">
                            <input id="storageForm3" type="radio" name="storageForm" [checked]="item.storageForm=='地下'"
                                disabled>
                            <label for="storageForm3">地下</label>
                        </span>
                    </div>
                </div>
                <div style="display: flex;width: 100%;border-top: 1px solid #e2e2e2;">
                    <div class="fontWeight minTitle" style="padding: 10px;">
                        设置型式
                    </div>
                    <div style="width: 561px;padding: 10px;">
                        <label>浮顶罐(</label>
                        <span class="radio">
                            <input id="index1" name="setupType" type="radio" [checked]="item.setupType=='外'" disabled>
                            <label for="index1">外</label>
                        </span>
                        <span class="radio">
                            <input id="index2" name="setupType" type="radio" [checked]="item.setupType=='内'" disabled>
                            <label for="index2">内</label>
                        </span>
                        <label> ) </label>
                        <span class="radio">
                            <input id="index3" name="setupType" type="radio" [checked]="item.setupType=='固定顶罐'"
                                disabled>
                            <label for="index3">固定顶罐</label>
                        </span>
                        <span class="radio">
                            <input id="index3" name="setupType" type="radio" [checked]="item.setupType=='卧式罐'" disabled>
                            <label for="index3">卧式罐</label>
                        </span>
                        <br />
                        <label>球形罐(</label>
                        <span class="radio">
                            <input id="index4" name="setupType" type="radio" [checked]="item.setupType=='液体'" disabled>
                            <label for="index4">液体</label>
                        </span>
                        <span class="radio">
                            <input id="index5" name="setupType" type="radio" [checked]="item.setupType=='气体'" disabled>
                            <label for="index5">气体</label>
                        </span><label> )</label>
                        <br>
                        <label> 可燃气体储罐(</label>
                        <span class="radio">
                            <input id="index6" name="setupType" type="radio" [checked]="item.setupType=='干式'" disabled>
                            <label for="index6">干式</label>
                        </span>
                        <span class="radio">
                            <input id="index7" name="setupType" type="radio" [checked]="item.setupType=='湿式'" disabled>
                            <label for="index7">湿式</label>
                        </span>
                        <span class="radio">
                            <input id="index8" name="setupType" type="radio" [checked]="item.setupType=='其他'" disabled>
                            <label for="index8">其他</label>
                        </span>
                        <label> )</label>


                    </div>
                </div>
            </div>
        </div>
        <div class="row" *ngFor="let item of data.yard;">
            <div style="width: 50px;" class="contantCenter fontWeight borderRight">
                堆 场
            </div>
            <div class="minTitle" style="padding: 10px;">
                储存物质名称
            </div>
            <div class="borderRight" style="width: 220px;">
                {{item.name}}
            </div>
            <div class="minTitle" style="padding: 10px;">
                储 量
            </div>
            <div style="width: 220px;">
                {{item.reserves}}
            </div>
        </div>
        <div class="row">
            <div class="minTitle">建筑保温</div>
            <div style="display: flex;padding: 0;flex-direction: column;">
                <div style="display: flex;padding: 0;">
                    <div class="fontWeight"
                        style="width: 100px;border-right: 1px solid #e2e2e2;padding: 10px;box-sizing: border-box;">
                        材料类别
                    </div>
                    <div style="width: 245px;border-right: 1px solid #e2e2e2;padding: 10px;box-sizing: border-box;">
                        <span class="radio">
                            <input id="A" type="radio" name="type" [checked]="data.buildingThermalInsulation.type=='A'"
                                disabled>
                            <label for="A">A</label>
                        </span>
                        <span class="radio">
                            <input id="B1" type="radio" name="type"
                                [checked]="data.buildingThermalInsulation.type=='B1'" disabled>
                            <label for="B1">B1</label>
                        </span>
                        <span class="radio">
                            <input id="B2" type="radio" name="type"
                                [checked]="data.buildingThermalInsulation.type=='B2'" disabled>
                            <label for="B2">B2</label>
                        </span>

                    </div>
                    <div class="fontWeight"
                        style="width: 100px;border-right: 1px solid #e2e2e2;padding: 10px;box-sizing: border-box;">
                        保温层数
                    </div>
                    <div style="width: 168px;">{{data.buildingThermalInsulation.layerNumber}}</div>
                </div>
                <div style="display: flex;padding: 0;">
                    <div class="fontWeight"
                        style="width: 100px;border-right: 1px solid #e2e2e2;padding: 10px;border-top: 1px solid #e2e2e2;box-sizing: border-box;">
                        使用性质
                    </div>
                    <div
                        style="width: 245px;border-right: 1px solid #e2e2e2;padding: 10px;border-top: 1px solid #e2e2e2;box-sizing: border-box;">
                        {{data.buildingThermalInsulation.useNature}}</div>
                    <div class="fontWeight"
                        style="width: 100px;border-right: 1px solid #e2e2e2;padding: 10px;border-top: 1px solid #e2e2e2;box-sizing: border-box;">
                        原有用途
                    </div>
                    <div style="width: 168px;padding: 10px;border-top: 1px solid #e2e2e2;box-sizing: border-box;">
                        {{data.buildingThermalInsulation.originallyUsed}}
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="minTitle">装修工程</div>
            <div style="display: flex;padding: 0;flex-direction: column;">
                <div style="display: flex;padding: 0;">
                    <div class="fontWeight contantCenter"
                        style="width: 100px;border-right: 1px solid #e2e2e2;padding: 10px;border-bottom: 1px solid #e2e2e2;box-sizing: border-box;">
                        装修部位
                    </div>
                    <div style="padding: 10px;width: 512px;border-bottom: 1px solid #e2e2e2;box-sizing: border-box;">
                        <span class="radio" *ngFor="let box of data.decorationProject.decorationSite;let index = index">
                            <input [id]="20+index" name="decorationSite" type="checkbox" [checked]="box.value" disabled>
                            <label [for]="20+index"> {{box.label}}</label>
                        </span>
                    </div>
                </div>
                <div style="display: flex;padding: 0;">
                    <div class="fontWeight"
                        style="width: 100px;border-right: 1px solid #e2e2e2;padding: 10px;box-sizing: border-box;">
                        装修面积（㎡）
                    </div>
                    <div style="width: 245px;border-right: 1px solid #e2e2e2;padding: 10px;box-sizing: border-box;">
                        {{data.decorationProject.decorationArea}}</div>
                    <div class="fontWeight contantCenter"
                        style="width: 100px;border-right: 1px solid #e2e2e2;padding: 10px;box-sizing: border-box;">
                        装修层数
                    </div>
                    <div style="width: 168px;">{{data.decorationProject.decorationFloorNumber}}</div>
                </div>
                <div style="display: flex;padding: 0;">
                    <div class="fontWeight"
                        style="width: 100px;border-right: 1px solid #e2e2e2;padding: 10px;border-top: 1px solid #e2e2e2;box-sizing: border-box;">
                        使用性质
                    </div>
                    <div
                        style="width: 245px;border-right: 1px solid #e2e2e2;padding: 10px;border-top: 1px solid #e2e2e2;box-sizing: border-box;">
                        {{data.decorationProject.useNature}}</div>
                    <div class="fontWeight"
                        style="width: 100px;border-right: 1px solid #e2e2e2;padding: 10px;border-top: 1px solid #e2e2e2;box-sizing: border-box;">
                        原有用途
                    </div>
                    <div style="width: 168px;padding: 10px;border-top: 1px solid #e2e2e2;box-sizing: border-box;">
                        {{data.decorationProject.originallyUsed}}
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="minTitle">消防设施</div>
            <div style="width: 560px;">
                <span class="radio" *ngFor="let box of data.fireFightingFacilities;let index = index;">
                    <input [id]="index+100" type="checkbox" [checked]="box.value" disabled>
                    <label [for]="index+100"> {{box.label}}</label>
                </span>
            </div>
        </div>
        <div class="row">
            <div class="minTitle">同时提交材料</div>
            <div style="width: 612px;">
                <div>
                    <p> 1、建设工程消防设计审查申报表（纸质申报表的图片）</p>
                    <div *ngFor="let item of data.fileList[0].array" class="files">
                        <a [href]="item.url">{{item.name}}</a>
                    </div>
                </div>
                <div>
                    <p> 2、消防设计文件</p>
                    <div *ngFor="let item of data.fileList[1].array" class="files">
                        <a [href]="item.url">{{item.name}}</a>
                    </div>
                </div>
                <div>
                    <p> 3、专家评审申报材料</p>
                    <div *ngFor="let item of data.fileList[2].array" class="files">
                        <a [href]="item.url">{{item.name}}</a>
                    </div>
                </div>
                <div>
                    <p> 4、建设工程规划许可证明文件</p>
                    <div *ngFor="let item of data.fileList[3].array" class="files">
                        <a [href]="item.url">{{item.name}}</a>
                    </div>
                </div>
                <div>
                    <p> 5、城乡规划主管部门批准的临时性建筑证明文件</p>
                    <div *ngFor="let item of data.fileList[4].array" class="files">
                        <a [href]="item.url">{{item.name}}</a>
                    </div>
                </div>
                <div>
                    <p> 6、生产工艺和物品有特殊灭火要求的消防设计说明材料</p>
                    <div *ngFor="let item of data.fileList[5].array" class="files">
                        <a [href]="item.url">{{item.name}}</a>
                    </div>
                </div>
            </div>
        </div>
        <div class="row" *ngIf="data.engineerinDescription">
            <div class="minTitle">工程简要说明</div>
            <div style="width: 612px;">{{data.engineerinDescription}}
            </div>
        </div>
        <div class="row" style="border-bottom:1px solid #e2e2e2;">
            <div class="minTitle">审图公司意见</div>
            <div class="bottom" style="width: 612px;display: flex;flex-direction: column;padding-bottom: 10px;">
                <div class="cont">
                    {{data.corporateOpinion.opinion}}
                </div>
                <div>
                    <span>审图单位：</span><span class="value">{{data.corporateOpinionseal}}</span>
                </div>
                <div>
                    <span>审图单位项目负责人签名：</span><span class="value">{{data.corporateOpinionname}}</span>
                </div>
            </div>
        </div>
    </div>
</div>