<nz-card>
  <nz-tabset [(nzSelectedIndex)]="selectedIndex" [nzType]="'card'">
    <div *ngFor="let tab of tabs">
      <nz-tab [nzTitle]="tab.name">
      </nz-tab>
    </div>
  </nz-tabset>
  <!-- <p (click)="printFormData()">打印</p> -->
  <div [ngClass]="{hide: selectedIndex != 0}">

    <!-- 表单JSON -->
    <app-fire-design-declare-assembly (printOuter)="setAddress($event)" [useNatureSelect]="useNatureSelect"
      [errorData]="showError" *ngIf="formJson && flowPathType ==1" [data]="formJson" [type]="formStatus">
    </app-fire-design-declare-assembly>

    <app-fire-acceptance-assembly (printOuter)="setAddress($event)" [useNatureSelect]="useNatureSelect"
      [errorData]="showError" [data]="formJson" [type]="formStatus" *ngIf="formJson && flowPathType ==2">
    </app-fire-acceptance-assembly>

    <app-completed-acceptance-assembly (printOuter)="setAddress($event)" [useNatureSelect]="useNatureSelect"
      [data]="formJson" [type]="formStatus" *ngIf="formJson && flowPathType ==3">
    </app-completed-acceptance-assembly>

    <table class="tables" style="box-sizing: border-box;"
      *ngIf="formDto&&formDto.flowNodeItems||examineFormDto&&examineFormDto.flowNodeItems">
      <tr *ngIf="formDto.flowNodeItems&&formDto.flowNodeItems.length>0">
        <td rowspan='20'>
          <div *ngFor="let item of formDto.flowNodeItems" style="text-align: left;font-size: 15px;line-height: 40px;">
            <div *ngIf="item.isDisplayFile">
              <i nz-icon type="link" nzTheme="outline" style="margin-right: 10px;"></i><a
                [href]="item.fileUrl">{{item.fileName}}</a>
            </div>
            <div *ngIf="!item.isDisplayFile">
              {{item.opinion}}
            </div>
          </div>
        </td>
      </tr>
      <tr *ngIf="examineFormDto.flowNodeItems&&examineFormDto.flowNodeItems.length>0">
        <td rowspan='20'>
          <div *ngFor="let item of examineFormDto.flowNodeItems"
            style="text-align: left;font-size: 15px;line-height: 40px;">
            <div *ngIf="item.isDisplayFile">
              <i nz-icon type="link" nzTheme="outline" style="margin-right: 10px;"></i><a
                [href]="item.fileUrl">{{item.fileName}}</a>
            </div>
            <div *ngIf="!item.isDisplayFile">
              {{item.opinion}}
            </div>
          </div>
        </td>
      </tr>
    </table>
    <!-- 表单JSON -->
    <form nz-form #f="ngForm" se-container="1">

      <div *ngIf="!type&& curNodeName!='大厅发放结果'&&curNodeName!='建设单位申报'" class="agencyDoneDetails">
        <table class="tables" style="box-sizing: border-box;" *ngIf="formDto">
          <tr *ngIf="this.curNodeName=='业务承办人审核' || this.curNodeName=='大厅受理'">
            <td style="width: 37px;background-color: #ffedcc;color: #ff9c35;font-weight: 600;border-right: 0"
              rowspan='2'>
              文书审查意见内容
            </td>
          </tr>
          <tr style="text-align: left;" *ngIf="this.curNodeName!='业务审批负责人审批'">
            <td colspan="20">

              <div [ngSwitch]="flowPathType">
                <div *ngSwitchCase="1">
                  <!-- 消防设计的受理凭证 -->
                  <app-fire-design-declare-assembly-handle [data]="formDto" *ngIf="this.curNodeName=='大厅受理'"
                    [ngClass]="{pointerf5f5f5: curNodeName!='大厅受理'}">
                  </app-fire-design-declare-assembly-handle>
                  <!-- 消防设计的受理凭证 -->

                  <!-- 消防设计的意见书 -->
                  <app-fire-design-declare-assembly-handle [examineFormDto]="examineFormDto" [data]="formDto" type="1"
                    *ngIf="this.curNodeName=='业务承办人审核'" [ngClass]="{pointerf5f5f5: curNodeName!='业务承办人审核'}">
                  </app-fire-design-declare-assembly-handle>
                  <!-- 消防设计的意见书 -->

                  <!-- 消防设计的意见书2 -->
                  <app-fire-design-declare-assembly-handle [examineFormDto]="examineFormDto" [data]="formDto" type="2"
                    *ngIf="this.curNodeName=='业务审批负责人审批'" [ngClass]="{pointerf5f5f5: curNodeName!='业务审批负责人审批'}">
                  </app-fire-design-declare-assembly-handle>
                  <!-- 消防设计的意见书 -->

                </div>
                <div *ngSwitchCase="2">

                  <!-- 消防验收的受理凭证 -->
                  <app-fire-acceptance-assembly-handle [examineFormDto]="examineFormDto" [data]="formDto"
                    *ngIf="this.curNodeName=='大厅受理'" [ngClass]="{pointerf5f5f5: curNodeName!='大厅受理'}">
                  </app-fire-acceptance-assembly-handle>
                  <!-- 消防验收的受理凭证 -->

                  <!-- 消防验收的意见书 -->
                  <app-fire-acceptance-assembly-handle [examineFormDto]="examineFormDto" [data]="formDto"
                    *ngIf="this.curNodeName=='业务承办人审核'" type="1" [ngClass]="{pointerf5f5f5: curNodeName!='业务承办人审核'}">
                  </app-fire-acceptance-assembly-handle>
                  <!-- 消防验收的意见书 -->

                  <!-- 消防验收的意见书 -->
                  <app-fire-acceptance-assembly-handle [examineFormDto]="examineFormDto" [data]="formDto"
                    *ngIf="this.curNodeName=='业务审批负责人审批'" type="2"
                    [ngClass]="{pointerf5f5f5: curNodeName!='业务审批负责人审批'}">
                  </app-fire-acceptance-assembly-handle>
                  <!-- 消防验收的意见书 -->

                </div>
                <div *ngSwitchCase="3">
                  <!-- 竣工备案的抽中或者未抽中 -->
                  <app-completed-acceptance-assembly-handle [examineFormDto]="examineFormDto" [data]="formDto"
                    type="{{formDto.isSelect==true?'3':'4'}}" *ngIf="this.curNodeName=='大厅受理'">
                  </app-completed-acceptance-assembly-handle>
                  <!-- 竣工备案的抽中或者未抽中 -->

                  <!-- 竣工备案的抽中或者未抽中 -->
                  <app-completed-acceptance-assembly-handle [examineFormDto]="examineFormDto" [data]="formDto" type="5"
                    *ngIf="this.curNodeName=='业务承办人审核'">
                  </app-completed-acceptance-assembly-handle>
                  <!-- 竣工备案的抽中或者未抽中 -->

                  <!-- 竣工备案的抽中或者未抽中 -->
                  <app-completed-acceptance-assembly-handle [examineFormDto]="examineFormDto" [data]="formDto" type="7"
                    *ngIf="this.curNodeName=='业务审批负责人审批'">
                  </app-completed-acceptance-assembly-handle>
                  <!-- 竣工备案的抽中或者未抽中 -->
                </div>
              </div>

            </td>
          </tr>

          <tr>
            <td style="width: 37px;background-color: #ffedcc;color: #ff9c35;font-weight: 600;border-right: 0"
              rowspan='2'>
              流程审批意见
            </td>
          </tr>
          <tr>
            <td colspan="20">
              <textarea nz-input placeholder="请输入流程审批意见内容，此信息将会在流程节点显示(字数限制100以内)" [(ngModel)]="nodeAdvise"
                name="inputnodeAdvise" maxlength="200" required>
                </textarea>
            </td>
          </tr>

        </table>
      </div>
    </form>

    <div *ngIf="isLoginPerson">
      <form nz-form se-container="4" class="customForm">

        <se label="类型" col="1">
          <nz-radio-group [(ngModel)]="tenantWorkFlowInstanceDto.editWorkFlow_NodeAuditorRecordDto.applyType"
            name="applyType">
            <label nz-radio nzValue="8" *ngIf="curNodeName!='业务审批负责人审批'">指定下个节点审批人</label>
            <label nz-radio nzValue="3">转派</label>
          </nz-radio-group>
        </se>

        <se label="添加审批人" col="1" *ngIf="tenantWorkFlowInstanceDto.editWorkFlow_NodeAuditorRecordDto.applyType">
          <nz-spin [nzSpinning]="!selectMultiple"></nz-spin>
          <nz-select *ngIf="selectMultiple" class="choiceSelect" [nzDisabled]="true" nzMode="multiple"
            (click)="goChoicePerson()" style="width: 100%" name="choicePerson" nzPlaceHolder="请选择人"
            [nzServerSearch]="true" [(ngModel)]="selectMultiple">
            <nz-option [nzLabel]="box" [nzValue]="box" *ngFor="let box of selectMultiple"></nz-option>
          </nz-select>
        </se>
      </form>
    </div>

    <div class="textCenter" style="margin-bottom: 40px;" *ngIf="isLoginPerson">

        <div *ngIf="curNodeName=='建设单位申报'" class="textCenter" style="margin-bottom: 40px;">
          <button nz-button nzType="primary" (click)="savePreCheckFile()" [nzLoading]="butNzLoading"
            [disabled]="butNzLoading">重新提交</button>
        </div>

      <!-- <div *ngIf="curNodeName == '业务审批负责人审批'"> -->
      <div *ngIf="curNodeName != '大厅受理' && curNodeName!='业务承办人审核' && curNodeName!='建设单位申报'">
        <button nz-button nzType="primary" (click)="save(true)" [nzLoading]="butNzLoading"
          [disabled]="butNzLoading">通过</button>
        <button nz-button nzType="primary" (click)="save(false)" [nzLoading]="butNzLoading"
          [disabled]="butNzLoading">不通过</button>
      </div>

      <div *ngIf="curNodeName == '大厅受理' || curNodeName=='业务承办人审核'">
        <button nz-button nzType="primary" (click)="save(true) " [disabled]="butNzLoading"
          [nzLoading]="butNzLoading">{{curNodeName=='业务承办人审核'?'合格':'受理'}}</button>
        <button nz-button nzType="primary" (click)="save(false)" [disabled]="butNzLoading"
          [nzLoading]="butNzLoading">{{curNodeName=='业务承办人审核'?'不合格':'不受理'}}</button>
        <button *ngIf="curNodeName == '大厅受理'" nz-button nzType="primary" (click)="subProducttype1(false)"
          [disabled]="butNzLoading" [nzLoading]="butNzLoading">驳回</button>
      </div>

      <!-- <button nz-button nzType="primary" (click)="revoke()" *ngIf="curNodeName!='业务承办人审核'"
        [nzLoading]="butNzLoading">撤销</button> -->
    </div>
  </div>

  <div [ngClass]="{hide: selectedIndex != 1}">
    <nz-spin [nzSpinning]="!data">
      <app-flow-route *ngIf="data" [data]="data" flowPathType="flowPathType"></app-flow-route>
    </nz-spin>
  </div>
</nz-card>


<!-- 驳回  -->
<!-- <nz-modal [nzMaskClosable]='false' [(nzVisible)]="isAddProducttyepe1" nzTitle="驳回" (nzOnCancel)="handleCancel1()"
  (nzOnOk)="subProducttype1(false)">
  <div>
    <Span>驳回意见(必须填写)：</Span>
    <textarea nz-input placeholder="请输入驳回意见" [(ngModel)]="rejectadvices" style="height: 200px;"></textarea>


  </div>
</nz-modal> -->