<page-header [action]="phActionTpl">
  <ng-template #phActionTpl>
    <button nz-button nzType="default" (click)="switchFilter()"><i nz-icon
        type="{{ hiddenFliter?'down':'up'}}"></i>{{ hiddenFliter?'展开条件':'收起条件'}}</button>
    <button (click)="refresh()" nz-button nzType="default"><i nz-icon type="reload"></i>刷新</button>
    <button (click)="toadd()" nz-button nzType="default">添加用户</button>
  </ng-template>
</page-header>
<nz-card>

  <form nz-form class="mb-md" [hidden]="hiddenFliter" [formGroup]="fliterForm">
    <input nz-input  formControlName="eName" name='eName' placeholder="请输入用户名称" class="search_menu_input">
    <button nz-button (click)="resetForm()" class="search_menu">重置</button>
    <button nz-button (click)="search()" nzType="primary">搜索</button>
  </form>

  <!-- <st #st *ngIf="formResultData" [data]="formResultData.data" [columns]="columns"></st> -->
  <st #st *ngIf="formResultData" [data]="formResultData.data" [req]="{postmodel: postmodel}" [columns]="columns" [pi]="postmodel.page"
  [ps]="postmodel.page" [page]="pageConfig" [total]="formResultData.totalCount"></st>
  <!-- <br>
  <nz-pagination [nzPageIndex]="2" [nzTotal]="500" nzShowQuickJumper></nz-pagination> -->
</nz-card>


<!-- 锁定用户  -->
<nz-modal [(nzVisible)]="isAddProducttyepe" nzTitle="锁定用户" (nzOnCancel)="handleCancel()" (nzOnOk)="subProducttype()">

  <nz-range-picker [(ngModel)]="rangeTime" name="rangeTime" nzFormat="yyyy/MM/dd"
  style="margin-right: 10px;margin-top: 10px;" ></nz-range-picker>
</nz-modal>

<!-- 解除锁定  -->
<nz-modal [(nzVisible)]="isAddProducttyepe1" nzTitle="解除" (nzOnCancel)="handleCancel1()" (nzOnOk)="subProducttype1()">
<span>确定解除锁定吗?</span>
</nz-modal>

<!-- 重置密码  -->
<nz-modal [(nzVisible)]="isAddProducttyepe2" nzTitle="重置密码" (nzOnCancel)="handleCancel2()" (nzOnOk)="subProducttype2()">
  <div style="margin-top: 8px" nz-row>
    <div nz-col nzSpan="5">密码</div>
    <div nz-col nzSpan="19">
      <input nz-input placeholder="请输入密码" [(ngModel)]="Password" maxlength=11>
    </div>
  </div>
  <div style="margin-top: 8px" nz-row>
    <div nz-col nzSpan="5">确认密码</div>
    <div nz-col nzSpan="19">
      <input nz-input placeholder="请输入密码" [(ngModel)]="Password2" maxlength=11>
    </div>
  </div>
  </nz-modal>

