<form nz-form #f="ngForm" class="formTables" se-container="1" labelWidth="0">
  <div nz-row *ngIf="data!=''">
    <table class="tables" style="box-sizing: border-box;">
      <thead>
        <tr>
          <td colspan='20' rowspan='1'>建设工程消防验收审查申报表 </td>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td rowspan='1' colspan='3' class="fontweight fontLeft leftTitle" required=true>建设单位:</td>
          <td rowspan='1' colspan='3'>
            <se error="这是必填项">
              <input nz-input placeholder="请输入单位名称" [(ngModel)]="data.jsconstructionUnit" name="jsconstructionUnit"
                required />
            </se>
          </td>
          <td rowspan='1' colspan='3' class="fontweight fontLeft leftTitle" required=true>法定代表人/主要负责人:</td>
          <td rowspan='1' colspan='3'>
            <se error="这是必填项">
              <input nz-input placeholder="请输入法定代表人" [(ngModel)]="data.legalRepresentative" name="legalRepresentative"
                required />
            </se>
          </td>
          <td rowspan='1' colspan='2' class="fontweight fontLeft" required=true>联系电话:</td>
          <td rowspan='1' colspan='3'>
            <se error="这是必填项">
              <input nz-input placeholder="请输入法定代表人/主要负责人联系电话" [(ngModel)]="data.legalRepresentativeNo"
                name="legalRepresentativeNo" required />
            </se>
          </td>
        </tr>
        <!-- 2 -->
        <tr>
          <td rowspan='1' colspan='3' class="fontweight fontLeft leftTitle" required=true>工程名称:</td>
          <td rowspan='1' colspan='3'>
            <se error="这是必填项">
              <input nz-input placeholder="请输入工程名称" [(ngModel)]="data.projectName" name="projectName" required />
            </se>
          </td>
          <td rowspan='1' colspan='3' class="fontweight fontLeft leftTitle" required=true>联系人:</td>
          <td rowspan='1' colspan='3'>
            <se error="这是必填项">
              <input nz-input placeholder="请输入工程名称" [(ngModel)]="data.contacts" name="contacts" required />
            </se>
          </td>
          <td rowspan='1' colspan='2' class="fontweight fontLeft" required=true>联系电话:</td>
          <td rowspan='1' colspan='3'>
            <se error="这是必填项">
              <input nz-input placeholder="请输入工程名称" [(ngModel)]="data.contactsNumber" name="contactsNumber" required />
            </se>
          </td>
        </tr>
        <!-- 3 -->
        <tr>
          <td rowspan='1' colspan='3' class="fontweight fontLeft leftTitle" required=true>工程地址:</td>
          <td rowspan='1' colspan='6'>
            <nz-cascader [nzPlaceHolder]="'请设置位置'" [nzSize]="'large'" [nzChangeOnSelect]="true" [nzShowSearch]="true"
              [nzOptions]="position" (nzChange)="changeCitycountyAndDistrict($event)"
              [(ngModel)]="data.engineeringCitycountyAndDistrict" name="engineeringCitycountyAndDistrict" required>
            </nz-cascader>
            <se error="这是必填项">
              <input nz-input placeholder="请输入详细地址" [(ngModel)]="data.engineeringAddress" name="engineeringAddress"
                required />
            </se>
          </td>
          <td rowspan='1' colspan='3' class="fontweight fontLeft leftTitle" required=true>使用性质:</td>
          <td rowspan='1' colspan='6'>
            <se error="这是必填项">
              <input nz-input placeholder="请输入使用性质" [(ngModel)]="data.useNature" name="useNature" required />
            </se>
          </td>
        </tr>
        <!-- 4 -->
        <tr>
          <td colspan='3' class="fontweight fontLeft leftTitle" required=true>类别： </td>
          <td colspan="15" style="text-align: left;">
            <nz-radio-group [(ngModel)]="data.projectCategoryId" name="projectCategoryIdA">
              <label style="padding-right: 20px;" nz-radio nzValue="新建">新建</label>
              <label style="padding-right: 20px;" nz-radio nzValue="扩建">扩建</label>
            </nz-radio-group>
            改建
            ( &nbsp; &nbsp; <nz-radio-group [(ngModel)]="data.projectCategoryId" name="projectCategoryIdB">
              <label nz-radio nzValue="装修">装修</label>
              <label nz-radio nzValue="建筑保温">建筑保温</label>
              <label nz-radio nzValue="改变用途">改变用途</label>
            </nz-radio-group>)
        </tr>
        <!-- 5 -->
        <tr>
          <td rowspan='1' colspan='3' class="fontweight fontLeft leftTitle" required=true>《建设工程消防设计审查意见书》文号</td>
          <td rowspan='1' colspan='6'>
            <se error="这是必填项">
              <input nz-input placeholder="请输入文号" [(ngModel)]="data.symbol" name="symbol" required />
            </se>
          </td>
          <td rowspan='1' colspan='3' class="fontweight fontLeft leftTitle">审查日期:</td>
          <td rowspan='1' colspan='6'>
            <nz-date-picker [(ngModel)]="dateOfReview" name="dateOfReview"></nz-date-picker>
          </td>
        </tr>
        <!-- 6 -->
        <tr>
          <td rowspan='1' colspan='3' class="fontweight fontLeft leftTitle" required=true>施工许可证编号</td>
          <td rowspan='1' colspan='17'>
            <se error="这是必填项">
              <input nz-input placeholder="请输入施工许可证编号" [(ngModel)]="data.constructionPermitNumber"
                name="constructionPermitNumber" required />
            </se>
          </td>
        </tr>
        <tr>
          <td rowspan='1' colspan='3' class="fontweight fontLeft leftTitle" required=true>检测报告编号</td>
          <td rowspan='1' colspan='17'>
            <se error="这是必填项">
              <input nz-input placeholder="请输入施工许可证编号" [(ngModel)]="data.testReportNumber" name="testReportNumber"
                required />
            </se>
          </td>
        </tr>
        <tr class="title">
          <td rowspan='1' colspan='3' class="fontweight fontLeft leftTitle">单位类别</td>
          <td rowspan='1' colspan='5' class="fontweight fontLeft" required=true>单位名称</td>
          <td rowspan='1' colspan='4' class="fontweight fontLeft" required=true>资质等级</td>
          <td rowspan='1' colspan='2' class="fontweight fontLeft" required=true>法定代表人/主要负责人</td>
          <td rowspan='1' class="fontweight fontLeft" required=true>联系人</td>
          <td rowspan='1' required=true>联系电话</td>
          <td rowspan='1'>操作</td>
        </tr>
        <tr>
          <td rowspan='1' colspan='3' class="fontweight fontLeft leftTitle" required=true>设计单位:</td>
          <td rowspan='1' colspan='5'>
            <se error="这是必填项">
              <input nz-input placeholder="请输入设计单位" [(ngModel)]="data.design.designUnit" name="designDesignUnit"
                required />
            </se>

          </td>
          <td rowspan='1' colspan='4'>
            <se error="这是必填项">
              <input nz-input placeholder="请输入资质等级" [(ngModel)]="data.design.qualificationLevel"
                name="designQualificationLevel" required />
            </se>
          </td>
          <td rowspan='1' colspan='2'>
            <se error="这是必填项">
              <input nz-input placeholder="请输入法定代表人" [(ngModel)]="data.design.legalRepresentative"
                name="designLegalRepresentative" required />
            </se>
          </td>
          <td rowspan='1'>
            <se error="这是必填项"><input nz-input placeholder="请输入联系人" [(ngModel)]="data.design.contacts"
                name="designContacts" required />
            </se>
          </td>
          <td rowspan='1'>
            <se error="这是必填项"><input nz-input placeholder="请输入联系电话" [(ngModel)]="data.design.contactsNumber"
                name="designContactsNumber" required />
            </se>
          </td>
          <td rowspan='1'>无</td>
        </tr>
        <tr *ngFor="let item of data.constructionUnit;let a = index">
          <td rowspan='1' colspan='3' class="fontweight fontLeft leftTitle" required=true>施工单位:</td>
          <td rowspan='1' colspan='5'>
            <se error="这是必填项">
              <input nz-input placeholder="请输入施工单位" [(ngModel)]="item.designUnit" name="constructionUnitDesignUnit{{a}}"
                required />
            </se>
          </td>
          <td rowspan='1' colspan='4'>
            <se error="这是必填项">
              <input nz-input placeholder="请输入资质等级" [(ngModel)]="item.qualificationLevel"
                name="constructionQualificationLevel{{a}}" required />
            </se>
          </td>
          <td rowspan='1' colspan='2'>
            <se error="这是必填项">
              <input nz-input placeholder="请输入法定代表人" [(ngModel)]="item.legalRepresentative"
                name="constructionLegalRepresentative{{a}}" required />
            </se>
          </td>
          <td rowspan='1'>
            <se error="这是必填项">
              <input nz-input placeholder="请输入联系人" [(ngModel)]="item.designContacts"
                name="constructionDesignContacts{{a}}" required />
            </se>
          </td>
          <td rowspan='1'>
            <se error="这是必填项">
              <input nz-input placeholder="请输入联系电话" [(ngModel)]="item.contactsNumber"
                name="constructionContactsNumber{{a}}" required />
            </se>
          </td>
          <td rowspan='1'>
            <a (click)="addArray(data.constructionUnit)">新增</a>
            <a (click)="deleteArray(data.constructionUnit,a)">删除</a>
          </td>
        </tr>
        <tr>
          <td rowspan='1' colspan='3' class="fontweight fontLeft leftTitle">监理单位:</td>
          <td rowspan='1' colspan='5'><input nz-input placeholder="请输入监理单位"
              [(ngModel)]="data.constructionControlUnit.designUnit" name="constructionControlUnitDesignUnit" /></td>
          <td rowspan='1' colspan='4'><input nz-input placeholder="请输入资质等级"
              [(ngModel)]="data.constructionControlUnit.qualificationLevel"
              name="constructionControlUnitQualificationLevel" /></td>
          <td rowspan='1' colspan='2'><input nz-input placeholder="请输入法定代表人"
              [(ngModel)]="data.constructionControlUnit.legalRepresentative"
              name="constructionControlLegalRepresentative" /></td>
          <td rowspan='1'><input nz-input placeholder="请输入联系人" [(ngModel)]="data.constructionControlUnit.designContacts"
              name="constructionControlUnitDesignContacts" /></td>
          <td rowspan='1'><input nz-input placeholder="请输入联系电话"
              [(ngModel)]="data.constructionControlUnit.contactsNumber" name="constructionControlUnitContactsNumber" />
          </td>
          <td rowspan='1'>无</td>
        </tr>
        <tr>
          <td rowspan='1' colspan='3' class="fontweight fontLeft leftTitle" required=true>检测单位:</td>
          <td rowspan='1' colspan='5'><input nz-input placeholder="请输入监理单位" [(ngModel)]="data.detectionUnit.designUnit"
              name="detectionUnitDesignUnit" /></td>
          <td rowspan='1' colspan='4'><input nz-input placeholder="请输入资质等级"
              [(ngModel)]="data.detectionUnit.qualificationLevel" name="detectionUnitQualificationLevel" /></td>
          <td rowspan='1' colspan='2'><input nz-input placeholder="请输入法定代表人"
              [(ngModel)]="data.detectionUnit.legalRepresentative" name="detectionUnitLegalRepresentative" /></td>
          <td rowspan='1'><input nz-input placeholder="请输入联系人" [(ngModel)]="data.detectionUnit.designContacts"
              name="detectionUnitDesignContacts" /></td>
          <td rowspan='1'><input nz-input placeholder="请输入联系电话" [(ngModel)]="data.detectionUnit.contactsNumber"
              name="detectionUnitContactsNumber" />
          </td>
          <td rowspan='1'>无</td>
        </tr>
        <tr>
          <td style="width: 37px;background-color: #d0e8fe;color: #5a95e9;font-weight: 600;border-right: 0;"
            [attr.rowspan]="data.basicInformation.length+3" colspan='1'>
            工程基本情况
          </td>
        </tr>
        <tr style="border-top: 1px solid #e2e2e2;">
          <td colspan='5' rowspan="2" class="fontweight">单位建筑名称</td>
          <td colspan='2' rowspan="2" class="fontweight">结构类型</td>
          <td colspan='1' rowspan="2" class="fontweight">耐火等级</td>
          <td colspan='2' rowspan="1" class="fontweight">层数</td>
          <td colspan='1' rowspan="2" class="fontweight">建筑高度（m）</td>
          <td colspan='1' rowspan="2" class="fontweight">建筑面积<br />（m<sup>2</sup>）</td>
          <td colspan='1' rowspan="2" class="fontweight">占地面积<br />（m<sup>2</sup>）</td>
          <td colspan='2' rowspan="1" class="fontweight">建筑面积<br />（m<sup>2</sup>）</td>
          <td colspan='1' rowspan="2" class="fontweight">操作</td>
        </tr>
        <tr>
          <td colspan='1' rowspan="1" class="fontweight">地上</td>
          <td colspan='1' rowspan="1" class="fontweight">地下</td>
          <td colspan='1' rowspan="1" class="fontweight">地上</td>
          <td colspan='1' rowspan="1" class="fontweight">地下</td>
        </tr>

        <tr *ngFor="let item of data.basicInformation;let index = index">
          <!-- 请输入单位建筑名称 -->
          <td colspan="5"><input nz-input [(ngModel)]="item.name" name="jbname{{index}}" /></td>
          <!-- 请输入结构类型 -->
          <td colspan="2" style="width: 130px;max-width: 130px;">
            <nz-select [(ngModel)]="item.type" name="jbtype{{index}}">
              <nz-option *ngFor="let option of typeSelect" [nzLabel]="option.label" [nzValue]="option.value">
              </nz-option>
            </nz-select>
          </td>
          <!-- 请输入耐火等级 -->
          <td><input nz-input [(ngModel)]="item.grade" name="jbgrade{{index}}" /></td>
          <!-- 层数 地上、地下 -->
          <td><input nz-input [(ngModel)]="item.aboveGround" name="jbaboveGround{{index}}" /></td>
          <td><input nz-input [(ngModel)]="item.underground" name="jbunderground{{index}}" /></td>

          <!-- 请输入建筑高度 -->
          <td><input nz-input [(ngModel)]="item.height" name="jbheight{{index}}" /></td>
          <!-- 请输入建筑面积 -->
          <td><input nz-input [(ngModel)]="item.builtUpArea" name="jbbuiltUpArea{{index}}" /></td>
          <!-- 请输入占地面积 -->
          <td><input nz-input [(ngModel)]="item.areaCovered" name="jbareaCovered{{index}}" /></td>

          <!-- 建筑面积 地上、地下 -->
          <td><input nz-input [(ngModel)]="item.jzmjaboveGround" name="jzmjjbaboveGround{{index}}" /></td>
          <td><input nz-input [(ngModel)]="item.jzmjunderground" name="jzmjjbunderground{{index}}" /></td>


          <td><a (click)="addArray(data.basicInformation)">新增</a>
            <a (click)="deleteArray(data.basicInformation,index)">删除</a> </td>
        </tr>

      <tbody *ngFor="let item of data.storageTank;let index = index">
        <tr>
          <td colspan='1' rowspan="3" class="fontweight fontLeft leftTitle"
            style="width: 36px;background-color: #f8f8f8;text-align: center;">储 罐</td>
          <td colspan='4' class="fontweight fontLeft leftTitle">设置位置</td>
          <td rowspan='1' colspan='4'>
            <input nz-input placeholder="请输入设置位置" [(ngModel)]="item.position" name="storageTankPosition{{index}}" />
          </td>
          <td colspan='3' class="fontweight fontLeft leftTitle">总容量（m3）</td>
          <td rowspan='1' colspan='4'>
            <input nz-input placeholder="请输入总容量（m3）" [(ngModel)]="item.totalCapacity"
              name="storageTotalCapacity{{index}}" />
          </td>
          <td rowspan="1" colspan='1'>操作</td>
        </tr>

        <tr>
          <td colspan='2' class="fontweight fontLeft leftTitle">设置型式</td>
          <td colspan="13" style="text-align: left;">
            浮顶罐(<nz-radio-group [(ngModel)]="item.setupType" name="storagesetupType11">
              <label style="padding-right: 20px;" nz-radio nzValue="外">外</label>
              <label style="padding-right: 20px;" nz-radio nzValue="内">内</label>
            </nz-radio-group>)
            <nz-radio-group [(ngModel)]="radiotype" name="storagesetupType55">
              <label style="padding-right: 20px;" nz-radio nzValue="固定顶罐">固定顶罐 </label>
              <label style="padding-right: 20px;" nz-radio nzValue="卧式罐">卧式罐</label>
            </nz-radio-group>
            <br />
            球形罐(<nz-radio-group [(ngModel)]="item.setupType" name="storagesetupType22"> <label
                style="padding-right: 20px;" nz-radio nzValue="液体">液体</label>
              <label style="padding-right: 20px;" nz-radio nzValue="气体">气体</label>
            </nz-radio-group>)
            可燃气体储罐(<nz-radio-group [(ngModel)]="item.setupType" name="storagesetupType33"> <label
                style="padding-right: 20px;" nz-radio nzValue="干式">干式</label>
              <label style="padding-right: 20px;" nz-radio nzValue="湿式">湿式</label>
            </nz-radio-group>)
            <nz-radio-group [(ngModel)]="item.setupType" name="storagesetupType44"> <label style="padding-right: 20px;"
                nz-radio nzValue="其他">其他 </label>
            </nz-radio-group>
          </td>
          <td rowspan="2" colspan='1'><a (click)="addArray(data.storageTank)">新增</a>
            <a (click)="deleteArray(data.storageTank,index)">删除</a></td>
        </tr>

        <tr>
          <td colspan='4' class="fontweight fontLeft leftTitle">储存形式</td>
          <td rowspan='1' colspan='4'>
            <nz-radio-group [(ngModel)]="item.storageForm" name="storagestorageForm{{index}}"><label
                style="padding-right: 20px;" nz-radio nzValue="地上">地上</label>
              <label style="padding-right: 20px;" nz-radio nzValue="半地下">半地下</label>
              <label style="padding-right: 20px;" nz-radio nzValue="地下">地下</label>
            </nz-radio-group>
          </td>
          <td colspan='3' class="fontweight fontLeft leftTitle">储存物质名称</td>
          <td rowspan='1' colspan='4'>
            <input nz-input placeholder="请输入储存物质名称" [(ngModel)]="item.name" name="storagename{{index}}" />
          </td>
        </tr>
      </tbody>

      <tr *ngFor="let item of data.yard;let index = index">
        <td colspan='1' rowspan="1" class="fontweight fontLeft leftTitle"
          style="width: 36px;background-color: #f8f8f8;text-align: center;">堆 场</td>
        <td colspan='4' class="fontweight fontLeft leftTitle">储 量</td>
        <td rowspan='1' colspan='4'>
          <input nz-input placeholder="请输入储  量" [(ngModel)]="item.reserves" name="yardreserves" />
        </td>
        <td colspan='3' class="fontweight fontLeft leftTitle">储存物质名称）</td>
        <td rowspan='1' colspan='4'>
          <input nz-input placeholder="请输入储存物质名称" [(ngModel)]="item.name" name="yardname" />
        </td>
        <td rowspan="1" colspan='1'><a (click)="addArray(data.yard)">新增</a>
          <a (click)="deleteArray(data.yard,index)">删除</a></td>
      </tr>

      <tr>
        <td colspan='3' rowspan="2" class="fontweight fontLeft leftTitle"
          style="width: 36px;background-color: #f8f8f8;text-align: center;">建筑保温</td>
        <td colspan='3' class="fontweight fontLeft leftTitle">材料类别</td>
        <td rowspan='1' colspan='4'>
          <nz-radio-group [(ngModel)]="data.buildingThermalInsulation.type" name="buildingThermalInsulationtype">
            <label style="padding-right: 20px;" nz-radio nzValue="A">A</label>
            <label style="padding-right: 20px;" nz-radio nzValue="B1">B1</label>
            <label style="padding-right: 20px;" nz-radio nzValue="B2">B2</label>
          </nz-radio-group>
        </td>
        <td colspan='3' class="fontweight fontLeft leftTitle">保温层数</td>
        <td rowspan='1' colspan='4'>
          <input nz-input placeholder="请输入保温层数" [(ngModel)]="data.buildingThermalInsulation.layerNumber"
            name="buildingThermalInsulationlayerNumber" />
        </td>
      </tr>

      <tr>
        <td colspan='3' class="fontweight fontLeft leftTitle">使用性质</td>
        <td rowspan='1' colspan='4'>
          <input nz-input placeholder="请输入使用性质" [(ngModel)]="data.buildingThermalInsulation.useNature"
            name="buildingThermalInsulationuseNature" />
        </td>
        <td colspan='3' class="fontweight fontLeft leftTitle">原有用途</td>
        <td rowspan='1' colspan='4'>
          <input nz-input placeholder="请输入原有用途" [(ngModel)]="data.buildingThermalInsulation.originallyUsed"
            name="buildingThermalInsulationoriginallyUsed" />
        </td>
      </tr>

      <tr>
        <td colspan='3' rowspan="3" class="fontweight fontLeft leftTitle"
          style="width: 36px;background-color: #f8f8f8;text-align: center;">装修工程</td>
        <td colspan='3' class="fontweight fontLeft leftTitle">装修部位</td>
        <td rowspan='1' colspan='11'>
          <label nz-checkbox name="decorationProjectdecorationSite{{i}}"
            *ngFor="let box of data.decorationProject.decorationSite;let i = index"
            [(ngModel)]="box.value">{{box.label}}</label>
        </td>
      </tr>

      <tr>
        <td colspan='3' class="fontweight fontLeft leftTitle">装修面积（m2）</td>
        <td rowspan='1' colspan='4'>
          <input nz-input placeholder="请输入装修面积（m2）" [(ngModel)]="data.decorationProject.decorationArea"
            name="decorationProjectdecorationArea" />
        </td>
        <td colspan='3' class="fontweight fontLeft leftTitle">装修层数</td>
        <td rowspan='1' colspan='4'>
          <input nz-input placeholder="请输入装修层数" [(ngModel)]="data.decorationProject.decorationFloorNumber"
            name="decorationProjectdecorationFloorNumber" />
        </td>
      </tr>

      <tr>
        <td colspan='3' class="fontweight fontLeft leftTitle">使用性质</td>
        <td rowspan='1' colspan='4'>
          <input nz-input placeholder="请输入使用性质" [(ngModel)]="data.decorationProject.useNature"
            name="decorationProjectuseNature" />
        </td>
        <td colspan='3' class="fontweight fontLeft leftTitle">原有用途</td>
        <td rowspan='1' colspan='4'>
          <input nz-input placeholder="请输入原有用途" [(ngModel)]="data.decorationProject.originallyUsed"
            name="decorationProjectoriginallyUsed" />
        </td>
      </tr>

      <tr>
        <td class="fontweight" style="background-color: #d0e8fe;color: #5a95e9;font-weight: 600;border-right: 0;"
          colspan='20' required=true>竣工验收情况 </td>
      </tr>
      <tr>
        <td rowspan='1' colspan='20' class="textLeft">
          <div>一、 经审查合格的消防设计文件实施情况</div>
          <p style="text-indent: 2em;">本工程能按照经审查合格的消防设计文件施工，施工质量满足消防设计和国家工程建设消防技术标准要求 。 </p>
          <div class="textRight">
            <se error="这是必填项">
              设计单位：（盖章）<input style="width: 80px" nz-input placeholder="请输入设计单位"
                [(ngModel)]="data.implementation.designUnit" name="implementationdesignUnit" required />
            </se>
            <se error="这是必填项">
              设计单位项目负责人签名：<input style="width: 80px" nz-input placeholder="请输入签名"
                [(ngModel)]="data.implementation.personInChargeName" name="implementationpersonInChargeName" required />
            </se>
          </div>
        </td>
      </tr>
      <tr>
        <td rowspan='1' colspan='20' class="textLeft">

          <div>二、消防施工情况</div>
          <p style="text-indent: 2em;">按照经审查合格的消防设计文件实施，符合国家工程建设消防技术标准。 </p>
          <div class="textRight">
            <se error="这是必填项">
              施工总承包单位（盖章）<input style="width: 80px;margin-right: 10px" nz-input placeholder="请输入施工总承包单位"
                [(ngModel)]="data.constructionSituation.contractingUnit" name="constructionSituationcontractingUnit"
                required />
            </se>
            <se error="这是必填项">
              项目经理签名：<input style="width: 80px;" nz-input placeholder="请签名"
                [(ngModel)]="data.constructionSituation.projectManagerName" name="constructionprojectManagerName"
                required />
            </se>
          </div>

          <div class="textRight" style="margin-top: 20px;">
            <se error="这是必填项">
              专业分包单位（如有）（盖章）
              <input style="width: 80px;margin-right: 10px" nz-input placeholder="请输入施工总承包单位"
                [(ngModel)]="data.constructionSituation.subcontractors" name="constructionsubcontractors" required />
            </se>
            <se error="这是必填项">
              项目经理签名：<input style="width: 80px;" nz-input placeholder="请签名"
                [(ngModel)]="data.constructionSituation.personInChargeName" name="constructionpersonInChargeName"
                required />
            </se>
          </div>
        </td>
      </tr>
      <tr>
        <td rowspan='1' colspan='20' class="textLeft">
          <div>三、工程监理情况</div>
          <p style="text-indent: 2em;">该工程安装使用的消防产品和有防火性能要求的建筑构件、建筑材料、消防施工安装、隐蔽工程均按照经审查合格的消防设计文件的要求进行施工 。 </p>
          <div class="textRight">
            <se error="这是必填项">
              监理单位：（盖章）<input style="width: 80px" nz-input placeholder="请输入设计单位"
                [(ngModel)]="data.supervision.constructionControlUnit" name="supervisionconstructionControlUnit"
                required />
            </se>
          </div>

          <div class="textRight" style="margin-top: 20px;">
            <se error="这是必填项">
              项目总监理工程师签名：<input style="width: 80px" nz-input placeholder="请输入签名"
                [(ngModel)]="data.supervision.signatureOfChiefEngineer" name="supervisionsignatureOfChiefEngineer"
                required />
            </se>
          </div>
        </td>
      </tr>
      <tr>
        <td rowspan='1' colspan='20' class="textLeft">
          <div>四、建筑消防设施检测情况</div>
          <p style="text-indent: 2em;">
            经对建筑类别、总平面布局和平面布置，防火防烟分隔，安全疏散，消防水源，水灭火系统，火灾自动报警系统，防烟排烟系统，建筑灭火器（防爆设施）等单项进行外观质量检查、现场测量核查、消防设施功能测试和消防产品现场判定，我单位认为该工程基本符合国家有关消防技术标准的要求
            。</p>
          <div class="textRight">
            <se error="这是必填项">检测单位：（盖章）<input style="width: 80px" nz-input placeholder="请输入设计单位"
                [(ngModel)]="data.detection.detectionUnit" name="detectiondetectionUnit" required />
            </se>
          </div>

          <div class="textRight" style="margin-top: 20px;">
            <se error="这是必填项">
              项目负责人签名：<input style="width: 80px" nz-input placeholder="请输入签名"
                [(ngModel)]="data.detection.personInChargeName" name="detectionpersonInChargeName" required />
            </se>
          </div>
        </td>
      </tr>
      <tr>
        <td rowspan='1' colspan='20' class="textLeft">
          <div>五、竣工验收情况</div>
          <p style="text-indent: 2em;">
            <se error="这是必填项">
              我单位于<input style="width: 100px" nz-input placeholder="请输入日期" [(ngModel)]="data.acceptance.completionTime"
                name="acceptancecompletionTime" required />组织设计、施工、监理、检测等单位有关工程技术人员对该工程进行消防验收，对建筑消防设施功能进行检测，综合评定消防验收合格 。
            </se>
          </p>
          <div class="textRight">
            <se error="这是必填项">
              建设单位：（盖章）<input style="width: 80px" nz-input placeholder="请输入设计单位"
                [(ngModel)]="data.acceptance.constructionUnit" name="acceptanceconstructionUnit" required />
            </se>
          </div>

          <div class="textRight" style="margin-top: 20px;">
            <se error="这是必填项">
              项目负责人签名：<input style="width: 80px" nz-input placeholder="请输入签名"
                [(ngModel)]="data.acceptance.personInChargeName" name="acceptancepersonInChargeName" required />
            </se>
          </div>
        </td>
      </tr>
      <tr>
        <td rowspan='1' colspan='20' class="textLeft">
          <div>其他需要说明的情况：</div>
          <div class="textRight" style="margin-top: 20px;">
            <textarea nz-input [(ngModel)]="data.remarks" name="remarks"></textarea>
          </div>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</form>
<div class="textCenter">
  <button nz-button nzType="primary" (click)="depositDraft()">保存草稿</button>
  <button nz-button nzType="primary" [disabled]="f.invalid" (click)="save()">申请提交</button>
</div>