<!-- <nz-spin [nzSpinning]="type"> -->


<div class="flexBox" style="min-height: 750px;">
  <nz-card *ngIf="data" style="width: 500px" [nzBordered]="false" nzTitle="查看路径" [nzExtra]="extraTemplate"
    style="margin-right: 18px;margin-bottom:0" class="newCard">
    <nz-timeline>
      <div *ngFor="let item of data">
        <nz-timeline-item nzColor="red">
          <p class="title">{{item.name}}</p>
          <div *ngIf="item.editWorkFlow_NodeAuditorRecordDtos">
            <div *ngFor="let box of item.editWorkFlow_NodeAuditorRecordDtos" class="examineDiv">
              <p class="time">{{box.creationTime|timeNewString}}</p>
              <nz-card class="flowCard">
                <p>处理人：润建股份有限公司-小润</p>
                <p>动作：通过</p>
                <p>意见：发起流程</p>
              </nz-card>
            </div>
          </div>
        </nz-timeline-item>
      </div>
    </nz-timeline>
  </nz-card>

  <div class="flex1 bgFFF" style="position: relative">
    <div class="flexCloumnAbsolute">
      <div class="ant-card-head ng-star-inserted">
        <div class="ant-card-head-wrapper">
          <div class="ant-card-head-title ng-star-inserted">
            <div class="flexBox w100">
              <div class="flex1 flexContent">

                <div class="minQuadrilateral"></div>
                已审核
              </div>
              <div class="flex1 flexContent">
                <div class="minNoQuadrilateral"></div>
                待审核
              </div>
              <div class="flex1 flexContent">Ctrl+鼠标滚轮:放大缩小</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


</div>
<!-- </nz-spin> -->