<div [ngSwitch]="type">

  <!-- 消防竣工的（抽中） -->
  <div *ngSwitchCase="3">
    <table class="tables d_table" style="box-sizing: border-box;">
      <thead>
        <tr>
          <td colspan='20' rowspan='1' class="table_title">
            <h3>{{data.cityName}}住房和城乡建设局<br />建设工程竣工验收消防备案凭证抽中</h3>
          </td>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td rowspan='1' colspan='20' class="fontweight fontLeft leftTitle">
            <div><input class="table_input" [(ngModel)]="data.fileCodePrefix" name="fileCodePrefix" />住建消审字〔后台生成〕第后台生成号
            </div>
            <div *ngIf="!data.fileCodePrefix" class="rightSpan">必填</div>
          </td>
        </tr>
        <tr>
          <td rowspan='1' colspan='20'>
            <div class="table_detail">
              <h3>{{data.companyName}}：</h3>
              <p>根据《中华人民共和国消防法》第十三条和《建设工程消防监督管理规定》第二十四条的规定，你单位于 {{data.applyDateTime|date:'yyyy年MM月dd日'}}向
                {{data.cityName}}市住房和城乡建设局 申请了
                {{data.projectName}}工程（地址：{{data.address}}）的竣工验收消防备案，备案号：{{data.acceptFileCode}}，并提交了下列备案材料：</p>
            </div>
            <ul class="table_list">
              <li *ngFor="let item of data.attachmentItems;let index=index">
                <label nz-checkbox name="item{{item}}"
                  [(ngModel)]="item.isSubmit">{{index+1}}、{{item.attachmentTypeName}}</label>
              </li>
            </ul>
            <div class="table_add_info">
              <p>经核，备案材料项目齐全，依法核发备案凭证。</p>
              <p>根据《中华人民共和国消防法》等法律法规的规定，按照预设程序随机确定抽查对象的方式，你单位被确定为抽查对象，消防验收备案机关将于<input class="table_input"
                  [(ngModel)]="data.timeLimitOfDay"
                  name="timeLimitOfDay" />日内，按照建设工程消防验收评定标准进行检查。随机确定为检查对象的建设工程及其检查结果将依法向社会公告。</p>
              <p>检查不合格的，将书面通知建设单位。建设单位收到通知后，应当停止使用建设工程，组织整改后向消防验收备案机关申请复查。</p>
            </div>

            <div class="table_seal">
              由后台提供的当前时间 年月日
            </div>

          </td>
        </tr>

        <tr>
          <td class="fontweight fontLeft leftTitle">一式两份，一份交建设单位，一份存档。 </td>
        </tr>
      </tbody>
    </table>
  </div>

  <!-- 消防竣工的（未抽中） -->
  <div *ngSwitchCase="4">
    <table class="tables d_table" style="box-sizing: border-box;">
      <thead>
        <tr>
          <td colspan='20' rowspan='1' class="table_title">
            <h3>{{data.cityName}}住房和城乡建设局<br />建设工程竣工验收消防备案凭证（未抽中）</h3>
          </td>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td rowspan='1' colspan='20' class="fontweight fontLeft leftTitle">
            <div><input class="table_input" [(ngModel)]="data.fileCodePrefix" name="fileCodePrefix" />住建消审字〔后台生成〕第后台生成号
            </div>
            <div *ngIf="!data.fileCodePrefix" class="rightSpan">必填</div>
          </td>
        </tr>
        <tr>
          <td rowspan='1' colspan='20'>
            <div class="table_detail">
              <h3>{{data.companyName}}：</h3>
              <p>根据《中华人民共和国消防法》第十三条和《建设工程消防监督管理规定》第二十四条的规定，你单位于 {{data.applyDateTime|date:'yyyy年MM月dd日'}}向
                {{data.cityName}}住房和城乡建设局 申请了 {{data.projectName}}工程（地址：
                {{data.address}}）的竣工验收消防备案，备案号：{{data.acceptFileCode}}，并提交了下列备案材料：</p>
            </div>
            <ul class="table_list">
              <li *ngFor="let item of data.attachmentItems;let index=index">
                <label nz-checkbox name="item{{item}}"
                  [(ngModel)]="item.isSubmit">{{index+1}}、{{item.attachmentTypeName}}</label>
              </li>
            </ul>
            <div class="table_add_info">
              <p>经核，备案材料项目齐全，依法核发备案凭证。</p>
              <p>根据《中华人民共和国消防法》等法律法规的规定，按照预设程序随机确定抽查对象的方式，你单位{{data.IsSelect?'已':'未'}}被确定为抽查对象。</p>
              <p>已经依法进行竣工验收消防备案的建设工程，如需扩建、改建（含室内外装修、建筑保温、用途变更）的，应当工程竣工验收合格之日起七个工作日内，依法申报消防验收备案。</p>
            </div>
          </td>
        </tr>
        <tr>
          <td class="fontweight fontLeft leftTitle">一式两份，一份交建设单位，一份存档。 </td>
        </tr>
      </tbody>
    </table>
  </div>

  <!-- 消防竣工的复查意见书-->
  <div *ngSwitchCase="5">
    <table class="tables d_table" style="box-sizing: border-box;">
      <thead>
        <tr>
          <td colspan='20' rowspan='1' class="table_title">
            <h3>{{data.cityName}}住房和城乡建设局<br />建设工程竣工验收消防备案复查意见书</h3>
          </td>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td rowspan='1' colspan='20' class="fontweight fontLeft leftTitle">
            <div><input class="table_input" [(ngModel)]="examineFormDto.fileCodePrefix"
                name="fileCodePrefix" />住建消审字〔后台生成〕第后台生成号</div>
            <div *ngIf="!examineFormDto.fileCodePrefix" class="rightSpan">必填</div>
          </td>
        </tr>
        <tr>
          <td rowspan='1' colspan='20'>
            <div class="table_detail">
              <h3>{{data.companyName}}：</h3>
              <p>
                你单位备案的{{data.projectName}}工程(备案凭证文号：{{examineFormDto.acceptFileCode}}，工程备案号：{{examineFormDto.recordNumber}}，{{data.descr}})，经我单位竣工验收消防备案抽查不合格。你单位于{{data.applyDateTime|date:'yyyy年MM月dd日'}}申请复验，我单位根据{{data.acceptFileCode}}《建设工程竣工验收消防备案抽查不合格通知书》进行复查，存在问题均予以整改。该工程竣工验收消防备案复查合格，同意该工程恢复使用。
              </p>
              <p>该工程竣工验收消防备案合格投入使用后，管理单位应当对建筑消防设施进行定期维护保养，确保完好有效。</p>
              <p>工程如有扩建、改建（含室内外装修、建筑保温、用途变更），应当依法向我单位申报建设工程竣工验收消防备案。属于公众聚集场所的在投入使用、营业前，应依法申请消防安全检查。</p>
            </div>

            <textarea nz-input placeholder="请输入意见" [(ngModel)]="examineFormDto.opinion"
              name="professionalContractorsopinion" required>
                  </textarea>
          </td>
        </tr>
        <tr>
          <td class="fontweight fontLeft leftTitle">本通知书一式两份，一份交建设单位，一份存档。 </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div *ngSwitchCase="7">
    <table class="tables d_table" style="box-sizing: border-box;">
      <tbody>
        <tr>
          <td rowspan='1' colspan='20'>
            <textarea nz-input placeholder="请输入意见" [(ngModel)]="data.opinion" name="professionalContractorsopinion"
              required>
                    </textarea>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>