<div [ngSwitch]="type">
  <!-- 消防竣工的办理凭证  -->
  <div *ngSwitchCase="0">
      <table class="tables d_table" style="box-sizing: border-box;">
          <thead>
            <tr>
              <td colspan='20' rowspan='1' class="table_title">
                <h3>××市住房和城乡建设局<br />建设工程竣工验收消防备案材料补正通知书</h3>
              </td>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td rowspan='1' colspan='20' class="fontweight fontLeft leftTitle" required=true>
                ×住建消竣备字[2019]第0059 号
              </td>
            </tr>
            <tr>
              <td rowspan='1' colspan='20'>
                <div class="table_detail">
                  <h3>{{data.companyName}}：</h3>
                  <p>根据《中华人民共和国消防法》第十三条和《建设工程消防监督管理规定》第二十四条的规定，你单位于 {{data.applyDateTime|date:'yyyy年MM月dd日'}}向 ××市住房和城乡建设局 申请了 ××××××××工程（地址：{{data.address}}）的竣工验收消防备案，备案号：45000XXXYSBA00001，并提交了下列备案材料：</p>
                </div>
                <ul class="table_list">
                    <li *ngFor="let item of data.attachmentItems;let index=index">
                      <label nz-checkbox name="item{{item}}"
                        [(ngModel)]="item.isSubmit">{{index+1}}、{{item.attachmentTypeName}}</label>
                    </li>
                  </ul>
                <div class="table_add_info">
                  <p>经核，备案材料不符合规定，需要补正上列第<input class="table_input" [(ngModel)]="data.completeContent" name="completeContent" />项材料。请在
                    <input class="table_input" [(ngModel)]="data.timeLimitOfDay"
                  name="timeLimitOfDay" />个工作日内补正并备案；逾期不备案的，消防验收备案机关将依法予以处罚并确定该工程为检查对象；如已投入使用，你单位应当将该工程停止使用。</p>
                </div>
        
                <div class="table_seal">
                  由后台提供的当前时间 年月日
                </div>
        
              </td>
            </tr>
            
            <tr>
              <td class="fontweight fontLeft leftTitle">一式两份，一份交建设单位，一份存档。 </td>
            </tr>
          </tbody>
        </table>
  </div>

  <!-- 消防竣工的审查意见书（合格）  -->
  <div *ngSwitchCase="1">
    消防竣工
    <!-- <table class="tables d_table" style="box-sizing: border-box;">
      <thead>
        <tr>
          <td colspan='20' rowspan='1' class="table_title">
            <h3>××市住房和城乡建设局<br />建设工程消防设计审查意见书（合格）</h3>
          </td>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td rowspan='1' colspan='20' class="fontweight fontLeft leftTitle" required=true>
            ×住建消审凭字〔2019〕第0059号
          </td>
        </tr>
        <tr>
          <td rowspan='1' colspan='20'>
            <div class="table_detail">
              <h3>×市××区××××：</h3>
              <p>
                你单位申请的“新建B栋教学楼”建设工程（受理凭证：×住建消审凭字〔201×〕第××××号，201×年×月××日收）消防设计图纸材料及有关资料收悉。该工程位于××市××路××号，××小学校园内。新建B栋教学楼建筑高度为19.6m，建筑层数为5层，建筑面积为2902.76㎡，设计用途一层为生活用房、二至四层为教室、五层为教师办公室、会议室等，属多层民用建筑。该工程消防设施主要有室内、室外消火栓系统。设计单位为×××设计有限公司，设计资质为建设工程×级。按照图纸审查机构（××××公司）对该工程设计图纸的技术审查结论，我局提出以下意见：
              </p>
            </div>
            <ul class="table_list">
              <li>
                一、同意该工程消防设计，请按照审查批准的消防设计图纸资料进行施工。
              </li>
              <li>
                二、建设单位应当依法选用具有规定资质等级的施工、工程监理等单位，并查验其合法身份证明和资质等级证明文件。
              </li>
              <li>
                三、提供图纸审查的技术服务机构和人员对出具的技术审查意见负责。
              </li>
              <li>
                四、经此次审查的建设工程消防设计如需变更，应当重新报送我单位审查。该工程竣工后，应当向我单位申报消防验收，验收合格后方可投入使用。
              </li>
            </ul>

            <div class="table_seal">
              由后台提供的当前时间 年月日
            </div>

          </td>
        </tr>
        <tr>
          <td class="fontweight fontLeft leftTitle" style="padding-right: 20px;">建设单位收件人签名：<input
              class="table_input_2" />
            <p class="table_time">
              <nz-date-picker name="t2"></nz-date-picker>
            </p>
          </td>
        </tr>
        <tr>
          <td class="fontweight fontLeft leftTitle">本意见书一式两份，一份交建设单位，一份存档。 </td>
        </tr>
      </tbody>
    </table> -->

  </div>

  <!-- 消防竣工的审查意见书（不合格）  -->
  <div *ngSwitchCase="2">

      <table class="tables d_table" style="box-sizing: border-box;">
          <thead>
            <tr>
              <td colspan='20' rowspan='1' class="table_title">
                <h3>××市住房和城乡建设局<br />建设工程竣工验收消防备案抽查不合格通知书</h3>
              </td>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td rowspan='1' colspan='20' class="fontweight fontLeft leftTitle" required=true>
                ×住建消竣备字[2019]第0059 号
              </td>
            </tr>
            <tr>
              <td rowspan='1' colspan='20'>
                <div class="table_detail">
                  <h3>xxxxx</h3>
                  <p>
                    经随机抽查，你单位XX市XX路XX号XXXXXXXXX工程(备案凭证文号：X住建消验备字〔2019〕第XX号，工程备案号为XXXXXXXXXXXXX。该工程地上XX层，建筑高度XX米，建筑面积XXX平方米，现装修XXXXXXXX，装修面积为XXXXXXXX㎡，使用性质为XXXXXXXX。为二类高层住宅楼)被确定为检查对象。
                  </p>
                  <p>我局按照建设工程消防验收评定标准进行了检查。经审查资料及现场检查测试，综合评定该工程为不合格。主要存在下列问题：</p>
                </div>
                <ul class="table_list">
                  <li>
                    1、XXXXXXXXXXXXXXXXXXXXX；
                  </li>
                  <li>
                    2、XXXXXXXXXXXXXXXXXXXXX；
                  </li>
                  <li>
                    3、XXXXXXXXXXXXXXXXXXXXX；
                  </li>
                </ul>
                <div class="table_add_info">
                  <p>你单位应当组织对上述问题进行整改，整改后向我单位申请复查。未经抽查合格，工程不得投入使用，已经使用的，应当自即日起停止使用。</p>
                  <p>如不服本通知书要求，可以在收到本通知书之日起六十日内向××市××住建局或××市××区人民政府申请行政复议，或者在三个月内向××市××区人民法院提起行政诉讼。</p>
                </div>
        
                <div class="table_seal">
                  由后台提供的当前时间 年月日
                </div>
        
              </td>
            </tr>
            <tr>
              <td class="fontweight fontLeft leftTitle" style="padding-right: 20px;">建设单位签收：<input class="table_input_2" />
                <p class="table_time">
                  <nz-date-picker name="t2"></nz-date-picker>
                </p>
              </td>
            </tr>
            <tr>
              <td class="fontweight fontLeft leftTitle">本通知书一式两份，一份交建设单位，一份存档。 </td>
            </tr>
          </tbody>
        </table>
  </div>

  <!-- 消防竣工的（抽中） -->
  <div *ngSwitchCase="3">
    <table class="tables d_table" style="box-sizing: border-box;">
      <thead>
        <tr>
          <td colspan='20' rowspan='1' class="table_title">
            <h3>××市住房和城乡建设局<br />建设工程竣工验收消防备案凭证（未抽中）</h3>
          </td>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td rowspan='1' colspan='20' class="fontweight fontLeft leftTitle" required=true>
            ×住建消竣备字[2019]第0059 号
          </td>
        </tr>
        <tr>
          <td rowspan='1' colspan='20'>
            <div class="table_detail">
              <h3>××市××区：</h3>
              <p>根据《中华人民共和国消防法》第十三条和《建设工程消防监督管理规定》第二十四条的规定，你单位于 ×× 年 ××月 ××日向 ××市住房和城乡建设局 申请了 ××××××××工程（地址： ××市××路11
                号）的竣工验收消防备案，备案号：45000XXXYSBA00001，并提交了下列备案材料：</p>
            </div>
            <ul class="table_list">
              <li>
                <label nz-checkbox name="newcheckboxEngineering1"
                  [(ngModel)]="simultaneousMaterials.a1Checkbox">1、建设工程消防验收备案表；</label>
              </li>
              <li>
                <label nz-checkbox name="newcheckboxEngineering2"
                  [(ngModel)]="simultaneousMaterials.a2Checkbox">2、有关消防设施的工程竣工图纸；</label>
              </li>
              <li>
                <label nz-checkbox name="newcheckboxEngineering3"
                  [(ngModel)]="simultaneousMaterials.a3Checkbox">3、符合要求的检测机构出具的消防设施及系统检测合格文件。
                  经核，备案材料项目齐全，依法核发备案凭证。</label>
              </li>
            </ul>
            <div class="table_add_info">
              <p>根据《中华人民共和国消防法》等法律法规的规定，按照预设程序随机确定抽查对象的方式，你单位<nz-radio-group
                  [(ngModel)]="simultaneousMaterials.notGrant">
                  <label style="padding-left: 20px;" nz-radio nzValue="已">已</label>
                  <label nz-radio nzValue="未">未</label>
                </nz-radio-group>）被确定为抽查对象。</p>
              <p>已经依法进行竣工验收消防备案的建设工程，如需扩建、改建（含室内外装修、建筑保温、用途变更）的，应当工程竣工验收合格之日起七个工作日内，依法申报消防验收备案。</p>
            </div>

            <div class="table_seal">
              由后台提供的当前时间 年月日
            </div>

          </td>
        </tr>
        <tr>
          <td class="fontweight fontLeft leftTitle" style="padding-right: 20px;">承 办 人<input class="table_input_2" />

          </td>
        </tr>
        <tr>
          <td class="fontweight fontLeft leftTitle" style="padding-right: 20px;">备案人<input class="table_input_2" />

          </td>
        </tr>
        <tr>
          <td class="fontweight fontLeft leftTitle">一式两份，一份交建设单位，一份存档。 </td>
        </tr>
      </tbody>
    </table>
  </div>

  <!-- 消防竣工的（未抽中） -->
  <div *ngSwitchCase="4">
      <table class="tables d_table" style="box-sizing: border-box;">
        <thead>
          <tr>
            <td colspan='20' rowspan='1' class="table_title">
              <h3>××市住房和城乡建设局<br />建设工程竣工验收消防备案凭证（未抽中）</h3>
            </td>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td rowspan='1' colspan='20' class="fontweight fontLeft leftTitle" required=true>
              ×住建消竣备字[2019]第0059 号
            </td>
          </tr>
          <tr>
            <td rowspan='1' colspan='20'>
              <div class="table_detail">
                <h3>××市××区：</h3>
                <p>根据《中华人民共和国消防法》第十三条和《建设工程消防监督管理规定》第二十四条的规定，你单位于 ×× 年 ××月 ××日向 ××市住房和城乡建设局 申请了 ××××××××工程（地址： ××市××路11
                  号）的竣工验收消防备案，备案号：45000XXXYSBA00001，并提交了下列备案材料：</p>
              </div>
              <ul class="table_list">
                <li>
                  <label nz-checkbox name="newcheckboxEngineering1"
                    [(ngModel)]="simultaneousMaterials.a1Checkbox">1、建设工程消防验收备案表；</label>
                </li>
                <li>
                  <label nz-checkbox name="newcheckboxEngineering2"
                    [(ngModel)]="simultaneousMaterials.a2Checkbox">2、有关消防设施的工程竣工图纸；</label>
                </li>
                <li>
                  <label nz-checkbox name="newcheckboxEngineering3"
                    [(ngModel)]="simultaneousMaterials.a3Checkbox">3、符合要求的检测机构出具的消防设施及系统检测合格文件。
                    经核，备案材料项目齐全，依法核发备案凭证。</label>
                </li>
              </ul>
              <div class="table_add_info">
                <p>根据《中华人民共和国消防法》等法律法规的规定，按照预设程序随机确定抽查对象的方式，你单位<nz-radio-group
                    [(ngModel)]="simultaneousMaterials.notGrant">
                    <label style="padding-left: 20px;" nz-radio nzValue="已">已</label>
                    <label nz-radio nzValue="未">未</label>
                  </nz-radio-group>）被确定为抽查对象。</p>
                <p>已经依法进行竣工验收消防备案的建设工程，如需扩建、改建（含室内外装修、建筑保温、用途变更）的，应当工程竣工验收合格之日起七个工作日内，依法申报消防验收备案。</p>
              </div>
  
              <div class="table_seal">
                由后台提供的当前时间 年月日
              </div>
  
            </td>
          </tr>
          <tr>
            <td class="fontweight fontLeft leftTitle" style="padding-right: 20px;">承 办 人<input class="table_input_2" />
  
            </td>
          </tr>
          <tr>
            <td class="fontweight fontLeft leftTitle" style="padding-right: 20px;">备案人<input class="table_input_2" />
  
            </td>
          </tr>
          <tr>
            <td class="fontweight fontLeft leftTitle">一式两份，一份交建设单位，一份存档。 </td>
          </tr>
        </tbody>
      </table>
    </div>
  
</div>