<div nz-row>
  <div nz-col nzSpan="4" style="letter-spacing: 2px;font-size: 15px;">
    <button (click)="goBack()" nz-button style="margin-bottom: 40px;" nzType="default">返回</button>
    <!-- <div class="leftTitle">基本信息</div> -->
    <!-- <div class="leftTitle" style="margin-top: 189px;">专题正文</div> -->
  </div>
  <!-- "noticeId": 0,
  "title": "string",
  "content": "string",
  "noticeType": "string",
  "guid": "string" -->
  <div nz-col nzSpan="12" style="padding-top: 40px;height: 100%;">
    <form nz-form #f="ngForm" se-container="1">
      <se label="标题名称" required>
        <input style="width: 250px;" type="text" [disabled]="operate=='1'" nz-input [(ngModel)]="data.title"
          name="title" required>
      </se>
      <se label="类型" required>
        <nz-select [disabled]="operate=='1'" style="width: 250px;" [(ngModel)]="data.noticeTypeId" name="noticeTypeId"
          nzAllowClear required>
          <nz-option *ngFor="let item of RegulationType" [nzValue]="item.key" [nzLabel]="item.value"></nz-option>

        </nz-select>
      </se>

      <se label="附件上传" required>
        <div style="height:120px;padding:5px 10px;border:1px solid #d9d9d9;width: 944px!important;">
          <nz-upload style="float: left;margin:0 0px;" nzAction="https://jsonplaceholder.typicode.com/posts/">
            <button nz-button [disabled]="operate=='1'"
              style="background-color: #3498db;color: #fff;height: 30px;width: 90px;border: 1px solid #3498db;margin-right: 10px"><i
                nz-icon nzType="upload"></i><span>上传</span></button>
          </nz-upload>
          <button nz-button
            style="background-color: #f04844;color: #fff;height: 30px;width: 90px;border: 1px solid #f04844;"><i
              nz-icon></i><span>删除</span></button>
        </div>
      </se>
      <se label="富文本" required>
        <div *ngIf="operate=='1'" style="width: 944px!important;min-height: 50px;border: 1px solid #d9d9d9;"
          [innerHTML]="data.content"></div>
        <ueditor *ngIf="operate!='1'" name="content" [(ngModel)]="data.content" required></ueditor>
      </se>
      <se *ngIf="operate!=1">
        <button nz-button nzType="primary" (click)="save()" [disabled]="f.invalid">提交</button>
      </se>
    </form>
  </div>
</div>