<div class="modal-header">
  <div class="modal-title">请选择流程返回的节点</div>
</div>
<nz-spin [nzSpinning]="!data">

</nz-spin>

<nz-radio-group [(ngModel)]="radioValue" *ngIf="data">
  <nz-timeline>
    <div *ngFor="let item of data;let index = index">
      <nz-timeline-item *ngIf="index!=0&&index!=1">
        {{item.nodeName}} <label nz-radio nzValue="{{index}}"></label>
      </nz-timeline-item>
    </div>

  </nz-timeline>
</nz-radio-group>

<div class="modal-footer">
  <button nz-button type="button" (click)="close()">关闭</button>
  <button nz-button type="button" (click)="save()">提交</button>
</div>