<form nz-form #f="ngForm" class="formTables" se-container="1" labelWidth="0" firstVisual
  style="padding: 0 20px;box-sizing: border-box">
  <div nz-row *ngIf="data">
    <table class="tables" style="box-sizing: border-box;">
      <thead>
        <tr>
          <td colspan='20' rowspan='1'>建设工程竣工验收消防备案表<i *ngIf="type==1"
              style="cursor: pointer;margin-left: 5px;color: #BD1127;" title="打印" (click)="printFormData()" nz-icon
              type="printer" nzTheme="outline"></i></td>
        </tr>
      </thead>
      <tbody>
        <!--  由后台生成的接口。展示在提交流程页面-->
        <tr>
          <td nz-form-item colspan='20' rowspan='1' style="text-align: center;">
          </td>
        </tr>
        <tr>
          <td rowspan='1' colspan='3' class="fontweight fontLeft leftTitle" required=true>建设单位:</td>
          <td rowspan='1' colspan='7'>
            <se error="必填">
              <input nz-input placeholder="请输入建设单位" [(ngModel)]="data.jsconstructionUnit" name="jsconstructionUnit"
                required />
            </se>
          </td>

          <td rowspan='1' colspan='3' class="fontweight fontLeft" required=true>法定代表人/主要负责人:</td>
          <td rowspan='1' colspan='7'>
            <se error="必填">
              <input nz-input placeholder="请输入法定代表人/主要负责人" [(ngModel)]="data.legalRepresentative"
                name="legalRepresentative" required />
            </se>
          </td>


        </tr>

        <tr>

          <td rowspan='1' colspan='3' class="fontweight fontLeft leftTitle" required=true>联系电话:</td>
          <td rowspan='1' colspan='7'>
            <se error="必填">
              <input nz-input placeholder="请输入法定代表人/主要负责人联系电话"
                pattern="((\d{11})|^((\d{7,8})|(\d{4}|\d{3})-(\d{7,8})|(\d{4}|\d{3})-(\d{7,8})-(\d{4}|\d{3}|\d{2}|\d{1})|(\d{7,8})-(\d{4}|\d{3}|\d{2}|\d{1}))$)"
                [(ngModel)]="data.legalRepresentativeNo" name="legalRepresentativeNo" required />
            </se>
          </td>

          <td rowspan='1' colspan='3' class="fontweight fontLeft leftTitle" required=true>联系人:</td>
          <td rowspan='1' colspan='7'>
            <se error="必填">
              <input nz-input placeholder="请输入联系人" [(ngModel)]="data.contacts" name="contacts" required />
            </se>
          </td>

        </tr>

        <tr>
          <td rowspan='1' colspan='3' class="fontweight fontLeft" required=true>联系电话:</td>
          <td rowspan='1' colspan='7'>

            <se error="请输入正确的电话号码">
              <input nz-input placeholder="请输入联系电话"
                pattern="((\d{11})|^((\d{7,8})|(\d{4}|\d{3})-(\d{7,8})|(\d{4}|\d{3})-(\d{7,8})-(\d{4}|\d{3}|\d{2}|\d{1})|(\d{7,8})-(\d{4}|\d{3}|\d{2}|\d{1}))$)"
                [(ngModel)]="data.contactsNumber" name="contactsNumber" required />
            </se>
          </td>

          <td rowspan='1' colspan='3' class="fontweight fontLeft leftTitle" required=true>工程名称:</td>
          <td rowspan='1' colspan='7'>
            <se error="必填">
              <input nz-input placeholder="请输入工程名称" [(ngModel)]="data.projectName" name="projectName" required />
            </se>
          </td>

        </tr>
        <tr>
          <td rowspan='1' colspan='3' class="fontweight fontLeft leftTitle" required=true>施工许可证号:</td>
          <td rowspan='1' colspan='7'>
            <se error="必填">
              <input nz-input placeholder="请输入施工许可证号" [(ngModel)]="data.constructionPermitNumber"
                name="constructionPermitNumber" required />
            </se>
          </td>

          <td rowspan='1' colspan='3' class="fontweight fontLeft leftTitle" required=true>检测报告编号：</td>
          <td rowspan='1' colspan='7'>
            <se error="必填">
              <input nz-input placeholder="请输入检测报告编号" [(ngModel)]="data.testReportNumber" name="testReportNumber"
                required />
            </se>
          </td>

        </tr>
        <tr>

          <td rowspan='1' colspan='3' class="fontweight fontLeft" required=true>验收合格日期:</td>
          <td rowspan='1' colspan='7' *ngIf="type != 1">
            <se error="必填">
              <nz-date-picker name="t2" required [(ngModel)]="data.planEndTime" name="planEndTime"
                [nzFormat]="'yyyy/MM/dd'"></nz-date-picker>
            </se>
          </td>
          <td rowspan='1' colspan='7' *ngIf="type == 1">

            {{data.planEndTime}}

          </td>
          <!-- <td rowspan='1' colspan='3' class="fontweight fontLeft leftTitle" required=true>申报人姓名:</td>
          <td rowspan='1' colspan='7'>
            <se error="必填" style="float: left;">
              <input  nz-input placeholder="请输入申报人姓名" [(ngModel)]="data.applyName" name="applyName"
                required />
            </se>
          </td> -->
          <td rowspan='1' colspan='3' class="fontweight fontLeft" required=true>使用性质:</td>
          <td rowspan='1' colspan='7'>

            <nz-spin [nzSpinning]="!useNatureSelect"></nz-spin>
            <nz-select nzPlaceHolder='请选择使用性质' [(ngModel)]="data.useNature" name="useNature" required
              *ngIf="useNatureSelect">
              <nz-option *ngFor="let option of useNatureSelect" [nzLabel]="option.natureName"
                [nzValue]="option.natureCode">
              </nz-option>
            </nz-select>
            <p style="color: #f5222d;text-align: center;" *ngIf="!data.useNature||data.useNature==''&&type!=1">
              必填
            </p>
          </td>
        </tr>



        <!-- <tr>
         <td rowspan='1' colspan='3' class="fontweight fontLeft" required=true>联系电话:</td>
          <td rowspan='1' colspan='7'>
            <se error="请输入正确的电话号码">
              <input  nz-input placeholder="请输入联系电话" [(ngModel)]="data.projectNumber"
                pattern="((\d{11})|^((\d{7,8})|(\d{4}|\d{3})-(\d{7,8})|(\d{4}|\d{3})-(\d{7,8})-(\d{4}|\d{3}|\d{2}|\d{1})|(\d{7,8})-(\d{4}|\d{3}|\d{2}|\d{1}))$)"
                name="projectNumber" required />
            </se>
          </td> 

          <td rowspan='1' colspan='3' class="fontweight fontLeft" required=true>使用性质:</td>
          <td rowspan='1' colspan='7'>
            <se error="必填">
              <nz-spin [nzSpinning]="!useNatureSelect"></nz-spin>
              <nz-select [ngClass]="{pointer: type == 1}" nzPlaceHolder='请选择使用性质' [(ngModel)]="data.useNature"
                name="useNature" required *ngIf="useNatureSelect">
                <nz-option *ngFor="let option of useNatureSelect" [nzLabel]="option.natureName"
                  [nzValue]="option.natureCode">
                </nz-option>
              </nz-select>
            </se>
          </td>

        </tr> -->

        <tr>

          <td rowspan='1' colspan='3' class="fontweight fontLeft leftTitle" required=true>工程地址:</td>
          <td rowspan='1' colspan='17'>
            <se error="必填">
              <nz-spin [nzSpinning]="!position"></nz-spin>
              <nz-cascader *ngIf="position" [ngClass]="{pointer: type == 1}" [nzPlaceHolder]="'请设置位置'"
                [nzSize]="'large'" [nzChangeOnSelect]="true" [nzOptions]="position"
                (nzChange)="changeCitycountyAndDistrict($event)" [(ngModel)]="data.engineeringCitycountyAndDistrict"
                name="engineeringCitycountyAndDistrict" required>
              </nz-cascader>
            </se>
            <se error="必填">
              <input nz-input placeholder="请输入工程地址" [(ngModel)]="data.engineeringAddress" name="engineeringAddress"
                required />
            </se>
          </td>
        </tr>

        <tr>

          <td rowspan='1' colspan='3' class="fontweight fontLeft leftTitle" required=true>审批单位:</td>
          <td rowspan='1' colspan='17'>

            <nz-spin [nzSpinning]="!engineeringList"></nz-spin>
            <nz-cascader *ngIf="engineeringList" [ngClass]="{pointer: type == 1}" [nzLoadData]="position"
              [nzPlaceHolder]="'请设置审批单位'" [nzChangeOnSelect]="true" [nzOptions]="engineeringList"
              (nzChange)="changeGetOrganizationTree($event)" [(ngModel)]="data.engineeringNo" name="engineeringNo"
              required>
            </nz-cascader>

            <p style="color: #f5222d;text-align: center;"
              *ngIf="!data.engineeringNo||data.engineeringNo.length==0&&type!=1">
              必填
            </p>
          </td>
        </tr>



        <tr class="title">
          <td rowspan='1' colspan='3' class="fontweight fontLeft leftTitle">单位类别</td>
          <td rowspan='1' colspan='6' class="fontweight fontLeft">单位名称</td>
          <td rowspan='1' colspan='4' class="fontweight fontLeft">资质等级</td>
          <td rowspan='1' colspan='3' class="fontweight fontLeft">联系人</td>
          <td rowspan='1' colspan='3'>联系电话</td>
          <td rowspan='1'>操作</td>
        </tr>

        <tr *ngFor="let item of data.design;let a = index">
          <td rowspan='1' colspan='3' class="fontweight fontLeft leftTitle" required=true>设计单位:</td>

          <td rowspan='1' colspan='6'>
            <se error="必填">
              <nz-rj-selector-org [(ngModel)]="item.designUnit" (onSelectorEvent)="onSelectOrgItem($event,item)"
                placeHolder="请输入设计单位" name="designDesignUnit{{a}}" required="true" ngDefaultControl>
              </nz-rj-selector-org>
            </se>
          </td>
          <td rowspan='1' colspan='4'>
            <se error="必填">
              <nz-select [ngClass]="{pointer: type == 1}" [(ngModel)]="item.qualificationLevel"
                name="designQualificationLevel{{a}}" required>
                <nz-option *ngFor="let option of zzdjEnum" [nzLabel]="option.label" [nzValue]="option.value">
                </nz-option>
              </nz-select>
            </se>
          </td>
          <td rowspan='1' colspan='3'>
            <se error="必填">
              <input nz-input placeholder="请输入联系人" [(ngModel)]="item.contacts" name="designContacts{{a}}" required />
            </se>
          </td>
          <td rowspan='1' colspan='3'>
            <se error="请输入正确的电话号码">
              <input nz-input placeholder="请输入联系电话" [(ngModel)]="item.contactsNumber"
                pattern="((\d{11})|^((\d{7,8})|(\d{4}|\d{3})-(\d{7,8})|(\d{4}|\d{3})-(\d{7,8})-(\d{4}|\d{3}|\d{2}|\d{1})|(\d{7,8})-(\d{4}|\d{3}|\d{2}|\d{1}))$)"
                name="designContactsNumber{{a}}" required />
            </se>
          </td>
          <td rowspan='1' [ngClass]="{pointer: type == 1}">
            <a (click)="addArray(data.design)">新增</a>
            <br>
            <a (click)="deleteArray(data.design,a)">删除</a>
          </td>
        </tr>
        <tr *ngFor="let item of data.constructionUnit;let a = index">
          <td rowspan='1' colspan='3' class="fontweight fontLeft leftTitle">施工单位:</td>

          <td rowspan='1' colspan='6'>
            <se error="必填">
              <nz-rj-selector-org [(ngModel)]="item.designUnit" (onSelectorEvent)="onSelectOrgItem($event,item)"
                placeHolder="请输入施工单位" name="constructionUnitDesignUnit{{a}}" required="false" ngDefaultControl>
              </nz-rj-selector-org>
            </se>
          </td>
          <td rowspan='1' colspan='4'>
            <se error="必填">
              <nz-select [ngClass]="{pointer: type == 1}" [(ngModel)]="item.qualificationLevel"
                name="constructionQualificationLevel{{a}}">
                <nz-option *ngFor="let option of zzdjEnum1" [nzLabel]="option.label" [nzValue]="option.value">
                </nz-option>
              </nz-select>
            </se>
          </td>
          <td rowspan='1' colspan='3'>
            <se error="必填">
              <input nz-input placeholder="请输入联系人" [(ngModel)]="item.contacts" name="constructionDesignContacts{{a}}" />
            </se>
          </td>
          <td rowspan='1' colspan='3'>
            <se error="请输入正确的电话号码">
              <input nz-input placeholder="请输入联系电话"
                pattern="((\d{11})|^((\d{7,8})|(\d{4}|\d{3})-(\d{7,8})|(\d{4}|\d{3})-(\d{7,8})-(\d{4}|\d{3}|\d{2}|\d{1})|(\d{7,8})-(\d{4}|\d{3}|\d{2}|\d{1}))$)"
                [(ngModel)]="item.contactsNumber" name="constructionContactsNumber{{a}}" />
            </se>
          </td>
          <td rowspan='1' [ngClass]="{pointer: type == 1}">
            <a (click)="addArray(data.constructionUnit)">新增</a>
            <br>
            <a (click)="deleteArray(data.constructionUnit,a)">删除</a>
          </td>

        </tr>
        <tr>
          <!-- <td rowspan='1' colspan='3' class="fontweight fontLeft leftTitle">分包单位（如有）:</td>
          <td rowspan='1' colspan='6'>
            <nz-rj-selector-org [(ngModel)]="data.subcontractors.name"
              (onSelectorEvent)="onSelectOrgItem($event,data.subcontractors)" placeHolder="请输入分包单位"
              name="subcontractorsname" required="false" ngDefaultControl></nz-rj-selector-org>

          </td>
          <td rowspan='1' colspan='4'>

            <nz-select [ngClass]="{pointer: type == 1}" [(ngModel)]="data.subcontractors.qualificationLevel"
              name="subcontractorsqualificationLevel">
              <nz-option *ngFor="let option of zzdjEnum1" [nzLabel]="option.label" [nzValue]="option.value">
              </nz-option>
            </nz-select>


          </td>
          <td rowspan='1' colspan='3'><input nz-input placeholder="请输入联系人" [(ngModel)]="data.subcontractors.contacts"
              name="contractingUnitcontacts" /></td>
          <td rowspan='1' colspan='3'>
            <se error="请输入正确的电话号码">
              <input nz-input placeholder="请输入联系电话" [(ngModel)]="data.subcontractors.contactsNumber"
                name="subcontractorscontactsNumber"
                pattern="((\d{11})|^((\d{7,8})|(\d{4}|\d{3})-(\d{7,8})|(\d{4}|\d{3})-(\d{7,8})-(\d{4}|\d{3}|\d{2}|\d{1})|(\d{7,8})-(\d{4}|\d{3}|\d{2}|\d{1}))$)" />
            </se>
          </td>

          <td rowspan='1'>
            无
          </td>
        </tr> -->
        <tr>
          <td rowspan='1' colspan='3' class="fontweight fontLeft leftTitle">监理单位:</td>
          <td rowspan='1' colspan='6'>
            <nz-rj-selector-org [(ngModel)]="data.supervisoryUnit.name"
              (onSelectorEvent)="onSelectOrgItem($event,data.supervisoryUnit)" placeHolder="请输入监理单位"
              name="supervisoryUnitname" required="false" ngDefaultControl></nz-rj-selector-org>

          </td>
          <td rowspan='1' colspan='4'>

            <nz-select [ngClass]="{pointer: type == 1}" [(ngModel)]="data.supervisoryUnit.qualificationLevel"
              name="supervisoryUnitqualificationLevel">
              <nz-option *ngFor="let option of zzdjEnum3" [nzLabel]="option.label" [nzValue]="option.value">
              </nz-option>
            </nz-select>
          </td>
          <td rowspan='1' colspan='3'><input nz-input placeholder="请输入联系人" [(ngModel)]="data.supervisoryUnit.contacts"
              name="supervisoryUnitcontacts" /></td>
          <td rowspan='1' colspan='3'>
            <se error="请输入正确的电话号码">
              <input nz-input placeholder="请输入联系电话" [(ngModel)]="data.supervisoryUnit.contactsNumber"
                name="supervisoryUnitcontactsNumber"
                pattern="((\d{11})|^((\d{7,8})|(\d{4}|\d{3})-(\d{7,8})|(\d{4}|\d{3})-(\d{7,8})-(\d{4}|\d{3}|\d{2}|\d{1})|(\d{7,8})-(\d{4}|\d{3}|\d{2}|\d{1}))$)" />
            </se>
          </td>
          <td rowspan='1'>
            无
          </td>
        </tr>
        <tr>
          <td rowspan='1' colspan='3' class="fontweight fontLeft leftTitle" required=true>检测单位：</td>
          <td rowspan='1' colspan='6'>
            <se error="必填">
              <nz-rj-selector-org [(ngModel)]="data.detectionUnit.name"
                (onSelectorEvent)="onSelectOrgItem($event,data.detectionUnit)" placeHolder="请输入检测单位"
                name="detectionUnitname" required="true" ngDefaultControl></nz-rj-selector-org>

            </se>
          </td>
          <td rowspan='1' colspan='4'>
            <se error="必填">
              <!-- <input  nz-input placeholder="请输入资质等级"  required /> -->
              <nz-select [ngClass]="{pointer: type == 1}" [(ngModel)]="data.detectionUnit.qualificationLevel"
                name="detectionUnitqualificationLevel" required>
                <nz-option *ngFor="let option of zzdjEnum2" [nzLabel]="option.label" [nzValue]="option.value">
                </nz-option>
              </nz-select>
            </se>
          </td>
          <td rowspan='1' colspan='3'>
            <se error="必填">
              <input nz-input placeholder="请输入联系人" [(ngModel)]="data.detectionUnit.contacts"
                name="detectionUnitcontacts" required />
            </se>
          </td>
          <td rowspan='1' colspan='3'>
            <se error="请输入正确的电话号码">
              <input nz-input placeholder="请输入联系电话" [(ngModel)]="data.detectionUnit.contactsNumber"
                pattern="((\d{11})|^((\d{7,8})|(\d{4}|\d{3})-(\d{7,8})|(\d{4}|\d{3})-(\d{7,8})-(\d{4}|\d{3}|\d{2}|\d{1})|(\d{7,8})-(\d{4}|\d{3}|\d{2}|\d{1}))$)"
                name="detectionUnitcontactsNumber" required />
            </se>
          </td>
          <td rowspan='1'>
            无
          </td>
        </tr>

        <tr>
          <td style="width: 37px;background-color: #d0e8fe;color: #5a95e9;font-weight: 600;border-right: 0;"
            [attr.rowspan]="data.basicInformation.length+3" colspan='1' required=true>
            工程基本情况
          </td>
        </tr>
        <tr class="title">
          <td rowspan='2' colspan='5' class="fontweight fontLeft leftTitle">建筑物名称</td>
          <td rowspan='2' colspan='1' class="fontweight fontLeft">结 构</td>
          <td rowspan='2' colspan='2' class="fontweight fontLeft">耐火等级</td>
          <td rowspan='2' colspan='2' class="fontweight fontLeft">高度（m）</td>
          <td rowspan='1' colspan='3' class="fontweight fontLeft">层数</td>
          <td rowspan='1' colspan='3' class="fontweight fontLeft">建筑面积（m<sup>2</sup>）</td>
          <td rowspan='2' colspan='2' class="fontweight fontLeft">火灾危险性类别</td>
          <td rowspan='2' colspan='1'>操作</td>
        </tr>
        <tr class="title">
          <td colspan='1' rowspan="1" class="fontweight">地上</td>
          <td colspan='1' rowspan="1" class="fontweight">地下</td>
          <td colspan='1' rowspan="1" class="fontweight">总计</td>
          <td colspan='1' rowspan="1" class="fontweight">地上</td>
          <td colspan='1' rowspan="1" class="fontweight">地下</td>
          <td colspan='1' rowspan="1" class="fontweight">总计</td>
        </tr>
        <tr *ngFor="let item of data.basicInformation;let index = index">
          <td rowspan='1' colspan='5' class=" fontLeft leftTitle">
            <se error="必填">
              <input nz-input placeholder="请输入建筑物名称" [(ngModel)]="item.name" name="jbname{{index}}" required />
            </se>
          </td>
          <td rowspan='1' colspan='2' class=" fontLeft">
            <se error="必填">
              <nz-select [ngClass]="{pointer: type == 1}" [(ngModel)]="item.type" name="jbtype{{index}}" required>
                <nz-option *ngFor="let option of typeSelect" [nzLabel]="option.label" [nzValue]="option.value">
                </nz-option>
              </nz-select>
            </se>
          </td>
          <td rowspan='1' colspan='1' class=" fontLeft">
            <se error="必填">
              <nz-select [ngClass]="{pointer: type == 1}" [(ngModel)]="item.grade" name="jbgrade{{index}}" required>
                <nz-option *ngFor="let option of refractoryEnum" [nzLabel]="option.label" [nzValue]="option.value">
                </nz-option>
              </nz-select>
              <!-- <input  nz-input placeholder="请输入耐火等级" [(ngModel)]="item.grade" name="jbgrade{{index}}" required /> -->
            </se>
          </td>
          <td rowspan='1' colspan='2' class=" fontLeft">
            <se error="必填">
              <input nz-input placeholder="请输入高度" [(ngModel)]="item.height" name="jbheight{{index}}" required />
            </se>
          </td>
          <td rowspan='1' colspan='1'>
            <se error="必填">
              <input nz-input placeholder="请输入地上层数" [(ngModel)]="item.upGround" name="jbbuiltground{{index}}"
                required />
            </se>
          </td>
          <td rowspan='1' colspan='1'>
            <se error="必填">
              <input nz-input placeholder="请输入地下层数" [(ngModel)]="item.underGround" name="jbbuiltunderGround{{index}}"
                required />
            </se>
          </td>
          <td rowspan='1' colspan='1'>
            <label>{{item.ground&&!item.upGround?item.ground:(item.upGround?+item.upGround:0)+(item.underGround?+item.underGround:0)}}</label>
          </td>
          <td rowspan='1' colspan='1'>
            <se error="必填">
              <input nz-input placeholder="请输入地上建筑面积" [(ngModel)]="item.builtUpArea2" name="jbbuiltUpArea{{index}}"
                required />
            </se>
          </td>
          <td rowspan='1' colspan='1'>
            <se error="必填">
              <input nz-input placeholder="请输入地下建筑面积" [(ngModel)]="item.builtUnderArea" name="builtUnderArea{{index}}"
                required />
            </se>
          </td>
          <td rowspan='1' colspan='1'>
            <label>{{item.builtUpArea&&!item.builtUpArea2?item.builtUpArea:(item.builtUpArea2?+item.builtUpArea2:0)+(item.builtUnderArea?+item.builtUnderArea:0)}}</label>
          </td>
          <td rowspan='1' colspan='2'>
            <se error="必填">

              <nz-select [ngClass]="{pointer: type == 1}" [(ngModel)]="item.fireHazard" name="jbfireHazard" required>
                <nz-option *ngFor="let option of zzdjEnum5" [nzLabel]="option.label" [nzValue]="option.value">
                </nz-option>
              </nz-select>
              <!-- <input  nz-input placeholder="请输入危险性类别" [(ngModel)]="item.fireHazard" name="jbfireHazard" required /> -->
            </se>
          </td>
          <td rowspan='1' colspan='1' [ngClass]="{pointer: type == 1}">
            <a (click)="addArray(data.basicInformation)">新增</a>
            <br>
            <a (click)="deleteArray(data.basicInformation,index)">删除</a>
          </td>
        </tr>

      <tbody *ngFor="let item of data.storageTank;let index = index">
        <tr>
          <td colspan='1' rowspan="6" class="fontweight fontLeft leftTitle"
            style="width: 36px;background-color: #f8f8f8;text-align: center;">储 罐</td>
        </tr>
        <tr>
          <td colspan='4' class="fontweight fontLeft leftTitle">设置位置</td>
          <td rowspan='1' colspan='14'>
            <input nz-input placeholder="请输入设置位置" [(ngModel)]="item.position" name="storageTankposition{{index}}" />
          </td>
          <td>操作</td>
        </tr>
        <tr>
          <td colspan='4' class="fontweight fontLeft leftTitle">设置形式</td>
          <td rowspan='1' colspan='14' style="text-align: left">
            <nz-radio-group [ngClass]="{pointer: type == 1}" [(ngModel)]="item.settingForm"
              name="storagesettingForm{{index}}">
              <label style="padding-right: 10px;" nz-radio nzValue="内浮顶罐">内浮顶罐</label>
              <label style="padding-right: 10px;" nz-radio nzValue="水槽式罐">水槽式罐</label>
              <label style="padding-right: 10px;" nz-radio nzValue="浮顶罐">浮顶罐</label>
              <label style="padding-right: 10px;" nz-radio nzValue="球形罐">球形罐</label>
              <label style="padding-right: 10px;" nz-radio nzValue="拱顶罐">拱顶罐</label>
              <label style="padding-right: 10px;" nz-radio nzValue="卧式罐">卧式罐</label>
              <label style="padding-right: 10px;" nz-radio nzValue="其它">其它</label>
            </nz-radio-group>
          </td>
          <td rowspan='5' [ngClass]="{pointer: type == 1}">
            <a (click)="addArray(data.storageTank)">新增</a>
            <br>
            <a (click)="deleteArray(data.storageTank,index)">删除</a> </td>
        </tr>
        <tr>
          <td colspan='4' class="fontweight fontLeft leftTitle">储物类别</td>
          <td rowspan='1' colspan='14' style="text-align: left">
            <nz-radio-group [ngClass]="{pointer: type == 1}" [(ngModel)]="item.type" name="storagesetype{{index}}">
              <label style="padding-right: 10px;" nz-radio nzValue="可燃液体">可燃液体</label>
              <label style="padding-right: 10px;" nz-radio nzValue="易燃液体">易燃液体</label>
              <label style="padding-right: 10px;" nz-radio nzValue="可燃气体">可燃气体</label>
              <label style="padding-right: 10px;" nz-radio nzValue="助燃气体">助燃气体</label>
              <label style="padding-right: 10px;" nz-radio nzValue="不燃气体">不燃气体</label>
              <label style="padding-right: 10px;" nz-radio nzValue="其它">其它</label>
            </nz-radio-group>
          </td>
        </tr>
        <tr class="title">
          <td colspan='4' class="fontweight fontLeft leftTitle">储存物质名称</td>
          <td colspan='4' style="text-align: left">储罐材质</td>
          <td colspan='4' style="text-align: left">储存工作压力</td>
          <td colspan='2' style="text-align: left">储存温度</td>
          <td colspan='4' style="text-align: left">储存形式</td>
        </tr>
        <tr>
          <td colspan='4' class="fontweight fontLeft leftTitle"><input nz-input placeholder="请输入名称"
              [(ngModel)]="item.name" name="storagesematerialname{{index}}" /></td>
          <td colspan='4' style="text-align: left">
            <nz-radio-group [ngClass]="{pointer: type == 1}" [(ngModel)]="item.materialQuality"
              name="storagesematerialQuality{{index}}">
              <label nz-radio nzValue="钢">钢</label>
              <label nz-radio nzValue="砼">砼</label>
              <label nz-radio nzValue="硅">硅</label>
              <label nz-radio nzValue="洞穴">洞穴</label>
            </nz-radio-group>
          </td>
          <td colspan='4' style="text-align: left">
            <nz-radio-group [ngClass]="{pointer: type == 1}" [(ngModel)]="item.pressure"
              name="storagesepressure{{index}}">
              <label nz-radio nzValue="高压">高压</label>
              <label nz-radio nzValue="中压">中压</label>
              <label nz-radio nzValue="低压">低压</label>
            </nz-radio-group>
          </td>
          <td colspan='2' style="text-align: left">
            <nz-radio-group [ngClass]="{pointer: type == 1}" [(ngModel)]="item.temperature"
              name="storagesetemperature{{index}}">
              <label nz-radio nzValue="低温">低温</label>
              <label nz-radio nzValue="常温">常温</label>
            </nz-radio-group>
          </td>
          <td colspan='4' style="text-align: left">
            <nz-radio-group [ngClass]="{pointer: type == 1}" [(ngModel)]="item.form" name="storageseform{{index}}">
              <label nz-radio nzValue="地上">地上</label>
              <label nz-radio nzValue="半地下">半地下</label>
              <label nz-radio nzValue="地下">地下</label>
            </nz-radio-group>
          </td>
        </tr>

      </tbody>
      <tr *ngFor="let item of data.yard;let index = index">
        <td colspan='5' class="fontweight fontLeft leftTitle">堆场</td>
        <td colspan='3' style="text-align: left">储量</td>
        <td colspan='4' style="text-align: left"><input nz-input placeholder="请输入储量" [(ngModel)]="item.reserves"
            name="yardreserves{{index}}" /></td>
        <td colspan='3' style="text-align: left">储存物质名称</td>
        <td colspan='4' style="text-align: left"><input nz-input placeholder="请输入名称" [(ngModel)]="item.name"
            name="yardname{{index}}" /></td>
        <td rowspan="1" colspan='1' [ngClass]="{pointer: type == 1}">
          <a (click)="addArray(data.yard)">新增</a>
          <br>
          <a (click)="deleteArray(data.yard,index)">删除</a>
        </td>
      </tr>

      <tr *ngFor="let item of data.newcheckboxEngineering;let index = index">
        <td colspan='5' class="fontweight fontLeft leftTitle">
          <nz-radio-group [ngClass]="{pointer: type == 1}" [(ngModel)]="item.value"
            name="nnewcheckboxEngineering{{i}}{{index}}">
            <!-- 
              2019.7.1 东兰确定不要单选框
              <label nz-radio nzValue="{{item.label}}">{{item.label}}</label> 
            -->
            <span>{{item.label}}</span>
          </nz-radio-group>
        </td>
        <td colspan='15' style="text-align: left"><label nz-checkbox [ngClass]="{pointer: type == 1}"
            name="newcheckboxEngineering{{i}}{{index}}" *ngFor="let box of item.arr;let i=index"
            [(ngModel)]="box.value">{{box.label}}</label></td>
      </tr>

      <tr>
        <td colspan='5' rowspan="3" class="fontweight fontLeft leftTitle">
          <span>室内装修工程</span>
        </td>
        <td colspan='3' style="text-align: left">装修部</td>
        <td colspan='12'>
          <label nz-checkbox [ngClass]="{pointer: type == 1}" name="constructionProjectArr{{i}}{{index}}"
            *ngFor="let box of data.constructionProject.arr;let i=index" [(ngModel)]="box.value">{{box.label}}</label>
        </td>
      </tr>

      <tr>
        <td colspan='3' style="text-align: left">装修面积（㎡） </td>
        <td colspan='4' style="text-align: left">
          <input nz-input placeholder="请输入装修面积（㎡）" [(ngModel)]="data.constructionProject.decorationArea"
            name="constructionProjectdecorationArea" /></td>
        <td colspan='3' style="text-align: left">装修层数</td>
        <td colspan='5' style="text-align: left"><input nz-input placeholder="请输入装修层数"
            [(ngModel)]="data.constructionProject.ground" name="constructionProjectground" /></td>
      </tr>

      <tr>
        <td colspan='3' style="text-align: left">使用性质 </td>
        <td colspan='4' style="text-align: left"><input nz-input placeholder="请输入使用性质"
            [(ngModel)]="data.constructionProject.useNature" name="constructionProjectuseNature" /></td>
        <td colspan='3' style="text-align: left">原有用途</td>
        <td colspan='5' style="text-align: left"><input nz-input placeholder="请输入原有用途"
            [(ngModel)]="data.constructionProject.originallyUsed" name="constructionProjectoriginallyUsed" /></td>
      </tr>

      <tr class="title">
        <td colspan='6' class="fontweight fontLeft leftTitle">消防设施类别</td>
        <td colspan='2'>场所</td>
        <td colspan='12'>类型</td>
      </tr>

      <tr *ngFor="let item of data.fireControlLinkageEngineering;let index = index">
        <td colspan='6' class="fontweight fontLeft leftTitle">
          <!-- 
            2019.7.1 东兰确定不要单选框
            <nz-radio-group [ngClass]="{pointer: type == 1}" [(ngModel)]="item.value" name="xxLabel{{index}}">
            <label nz-radio nzValue="{{item.label}}">{{item.label}}</label>
          </nz-radio-group> -->
          <span>{{item.label}}</span>
        </td>
        <td colspan='2'><input nz-input placeholder="请输入场所" [(ngModel)]="item.input" name="xxinput{{index}}" /></td>
        <td colspan='12' style="text-align: left">

          <div>
            <div *ngFor="let box of item.arr;let i =index" style="margin-bottom: 1em">
              <p>{{box.label}}</p>
              <div *ngIf="box.type=='radio'">
                <nz-radio-group [ngClass]="{pointer: type == 1}" [(ngModel)]="box.value"
                  name="xxradiogroup{{i}}{{index}}">
                  <label nz-radio nzValue="{{obj.value}}" *ngFor="let obj of box.list">{{obj.label}}</label>
                </nz-radio-group>
              </div>

              <div *ngIf="box.type=='check'">
                <label nz-checkbox [ngClass]="{pointer: type == 1}" *ngFor="let obj of box.list;let a = index"
                  [(ngModel)]="obj.value" name="xxcheckbox{{a}}{{i}}{{index}}">{{obj.label}}</label>
              </div>
            </div>
          </div>
        </td>
      </tr>

      <tr>
        <td style="width: 37px;background-color: #d0e8fe;color: #5a95e9;font-weight: 600;border-right: 0;" rowspan='8'
          colspan='1'>
          竣工验收意见
        </td>
      </tr>

      <tr>
        <td colspan='6' class="fontweight fontLeft leftTitle" required=true>
          建设单位
        </td>
        <td colspan='14' style="text-align: left">

          <se error="必填">
            <textarea nz-input placeholder="请输入具体情况" [(ngModel)]="data.acceptanceOpinions.constructionUnit.opinion"
              name="constructionUnitopinion" required>
                  </textarea>
          </se>

          <div class="textRight">
            <se error="必填">（建设单位公章）：<input style="width: 160px;margin-right: 20px" nz-input placeholder="建设单位"
                [(ngModel)]="data.acceptanceOpinions.constructionUnit.officialSeal" name="constructionUnitofficialSeal"
                required /></se>
            <se error="必填">项目负责人签名：<input style="width: 160px;margin-right: 20px" nz-input placeholder="请签名"
                [(ngModel)]="data.acceptanceOpinions.constructionUnit.autograph" name="constructionUnitautograph"
                required /></se>
          </div>
        </td>

      </tr>


      <tr *ngFor="let item of data.acceptanceOpinions.designUnit;let index = index">
        <td colspan='6' class="fontweight fontLeft leftTitle" required=true>
          设计单位
        </td>
        <td colspan='12' style="text-align: left">
          <se error="必填">
            <textarea nz-input placeholder="请输入具体情况" [(ngModel)]="item.opinion" name="designUnitopinion{{index}}"
              required>
                  </textarea>
          </se>
          <div class="textRight">
            <se error="必填">（设计单位公章）：<input style="width: 160px;margin-right: 20px" nz-input placeholder="设计单位"
                [(ngModel)]="item.officialSeal" name="designUnitofficialSeal{{index}}" required />
            </se>
            <se error="必填">项目负责人签名：<input style="width: 160px;margin-right: 20px" nz-input placeholder="请签名"
                [(ngModel)]="item.autograph" name="designUnitautograph{{index}}" required />
            </se>
          </div>
        </td>
        <td rowspan='1' colspan='1' [ngClass]="{pointer: type == 1}">
          <a (click)="addArray(data.acceptanceOpinions.designUnit)">新增</a>
          <br>
          <a (click)="deleteArray(data.acceptanceOpinions.designUnit,index)">删除</a>
        </td>
      </tr>


      <tr *ngFor="let item of data.acceptanceOpinions.contractingUnit;let index = index">
        <td colspan='6' class="fontweight fontLeft leftTitle" required=true>
          施工单位
        </td>
        <td colspan='12' style="text-align: left">
          <se error="必填">
            <textarea nz-input placeholder="请输入具体情况" [(ngModel)]="item.opinion" name="contractingUnitopinion{{index}}"
              required>
                </textarea>
          </se>

          <div class="textRight">
            <se error="必填">
              （施工单位）：<input style="width: 160px;margin-right: 20px" nz-input placeholder="施工单位"
                [(ngModel)]="item.officialSeal" name="contractingUnitfficialSeal{{index}}" required />
            </se>
            <se error="必填">
              项目经理签名：<input style="width: 160px;margin-right: 20px" nz-input placeholder="请签名"
                [(ngModel)]="item.autograph" name="contractingUnitoautograph{{index}}" required />
            </se>
          </div>
        </td>
        <td rowspan='1' colspan='1' [ngClass]="{pointer: type == 1}">
          <a (click)="addArray(data.acceptanceOpinions.contractingUnit)">新增</a>
          <br>
          <a (click)="deleteArray(data.acceptanceOpinions.contractingUnit,index)">删除</a>
        </td>
      </tr>

      <tr>
        <td colspan='6' class="fontweight fontLeft leftTitle">
          专业承包单位（如有）
        </td>
        <td colspan='14' style="text-align: left">
          <se>
            <textarea nz-input placeholder="请输入具体情况"
              [(ngModel)]="data.acceptanceOpinions.professionalContractors.opinion"
              name="professionalContractorsopinion">
                  </textarea>
          </se>
          <div class="textRight">
            <se>
              （专业承包单位公章）：<input style="width: 160px;margin-right: 20px" nz-input placeholder="专业承包单位公章"
                [(ngModel)]="data.acceptanceOpinions.professionalContractors.officialSeal"
                name="professionalContractorsfficialSeal" />
            </se>
            <se>
              项目负责人签名：<input style="width: 160px;margin-right: 20px" nz-input placeholder="请签名"
                [(ngModel)]="data.acceptanceOpinions.professionalContractors.autograph"
                name="professionalContractorsautograph" />
            </se>
          </div>
        </td>
      </tr>
      <tr>
        <td colspan='6' class="fontweight fontLeft leftTitle">
          工程监理单位
        </td>
        <td colspan='14' style="text-align: left">
          <se error="必填">
            <textarea nz-input placeholder="请输入具体情况"
              [(ngModel)]="data.acceptanceOpinions.engineeringSupervisionUnit.opinion"
              name="engineeringSupervisionUnitopinion" required>
                  </textarea>
          </se>
          <div class="textRight">
            <se>
              （监理单位公章）：<input style="width: 160px;margin-right: 20px" nz-input placeholder="监理单位公章"
                [(ngModel)]="data.acceptanceOpinions.engineeringSupervisionUnit.officialSeal"
                name="engineeringSupervisionUnitofficialSeal" />
            </se>
            <se>
              项目总监理工程师签名：<input style="width: 160px;margin-right: 20px" nz-input placeholder="请签名"
                [(ngModel)]="data.acceptanceOpinions.engineeringSupervisionUnit.autograph"
                name="engineeringSupervisionUnitautograph" />
            </se>
          </div>
        </td>
      </tr>
      <tr>
        <td colspan='6' class="fontweight fontLeft leftTitle" required=true>
          消防设施检测单位
        </td>
        <td colspan='14' style="text-align: left">
          <se error="必填">
            <textarea nz-input placeholder="请输入具体情况" [(ngModel)]="data.acceptanceOpinions.fireInspectionUnit.opinion"
              name="fireInspectionUnitopinion" required>
                    </textarea>
          </se>
          <div class="textRight">
            <se error="必填">
              检测单位：<input style="width: 160px;margin-right: 20px" nz-input placeholder="检测单位"
                [(ngModel)]="data.acceptanceOpinions.fireInspectionUnit.officialSeal"
                name="fireInspectionUnitofficialSeal" required />
            </se>
            <se error="必填">
              项目负责人签名：<input style="width: 160px;margin-right: 20px" nz-input placeholder="请签名"
                [(ngModel)]="data.acceptanceOpinions.fireInspectionUnit.autograph" name="fireInspectionUnitautograph"
                required />
            </se>
          </div>
        </td>
      </tr>
      <tr>
        <!-- <td colspan='15' rowspan='1' style="text-align: right">备案时间:
        </td> -->
        <td colspan='20' rowspan='1' style="text-align: right">
          备案时间：<nz-date-picker style="width: 160px;margin-right: 20px" [(ngModel)]="data.acceptanceOpinions.filingTime"
            name="filingTime" [nzFormat]="'yyyy/MM/dd'"></nz-date-picker>
        </td>
      </tr>

      <tr style="min-height: 200px;">
        <td colspan='1' rowspan="1" class="fontweight fontLeft leftTitle"
          style="width: 36px;background-color: #f8f8f8;text-align: center;" required=true>工程简要说明</td>
        <td rowspan='1' colspan='20' class="textLeft">
          <se error="必填">
            <textarea nz-input placeholder="请输入工程简要说明" [(ngModel)]="data.engineerinDescription"
              name="engineerinDescription" required style="min-height: 200px;">
                    </textarea>
          </se>

        </td>
      </tr>

      <tr>
        <td colspan='1' rowspan="1" class="fontweight fontLeft leftTitle"
          style="width: 36px;background-color: #f8f8f8;text-align: center;">上传附件</td>
        <td rowspan='1' colspan='20' class="textLeft">
          <div>
            1、建设工程竣工验收消防备案表（纸质申报表的图片）
            <nz-upload [(nzFileList)]="data.fileList[0].array" [nzCustomRequest]="customReq" (click)="handleChange(0)"
              [nzRemove]="removeFile">
              <button nz-button *ngIf="type!=1"><i nz-icon nzType="upload"></i><span>上传</span></button>
            </nz-upload>
          </div>

          <div>
            2、与消防验收有关的竣工图纸及隐蔽工程记录
            <nz-upload [(nzFileList)]="data.fileList[1].array" [nzCustomRequest]="customReq" (click)="handleChange(1)"
              [nzRemove]="removeFile">
              <button nz-button *ngIf="type!=1"><i nz-icon nzType="upload"></i><span>上传</span></button>
            </nz-upload>
          </div>

          <div>
            3、符合要求的检测机构出具的消防设施及系统检测合格证明文件
            <nz-upload [(nzFileList)]="data.fileList[2].array" [nzCustomRequest]="customReq" (click)="handleChange(2)"
              [nzRemove]="removeFile">
              <button nz-button *ngIf="type!=1"><i nz-icon nzType="upload"></i><span>上传</span></button>
            </nz-upload>
          </div>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</form>