<!-- **********************************************************************************

<table class="tables d_table" style="box-sizing: border-box;">
  <thead>
    <tr>
      <td colspan='20' rowspan='1' class="table_title">
        <h3>××市住房和城乡建设局<br />建设工程消防设计审查申请受理/不予受理凭证</h3>
      </td>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td rowspan='1' colspan='20' class="fontweight fontLeft leftTitle" required=true>
        ×住建消审字〔2019〕第0059号
      </td>
    </tr>
    <tr>
      <td rowspan='1' colspan='20'>
        <div class="table_detail">
          <h3>××市××区××小学：</h3>
          <p>根据《中华人民共和国消防法》第十一条的规定，你单位 ×××× 年 ×× 月 ×× 日申请的 新建B栋教学楼 建设工程（地址：
            ××市××路××号）消防设计审查，提供了下列材料：</p>
        </div>
        <ul class="table_list">
          <li>
            <nz-radio-group [(ngModel)]="radiotype" (ngModelChange)="getClass()">
              <label style="padding-right: 20px;" nz-radio nzValue="A">已提交</label>
              <label style="padding-right: 20px;" nz-radio nzValue="C">需补全</label>
            </nz-radio-group>
            <span>1.建设工程消防设计审查申报表；</span>
          </li>
          <li>
            <nz-radio-group [(ngModel)]="radiotype" (ngModelChange)="getClass()">
              <label style="padding-right: 20px;" nz-radio nzValue="A">已提交</label>
              <label style="padding-right: 20px;" nz-radio nzValue="C">需补全</label>
            </nz-radio-group>
            <span>2.消防设计文件，数量：
              <select class="table_select">
                <option value="0">零</option>
                <option value="1">壹</option>
                <option value="2">贰</option>
                <option value="3">叁</option>
                <option value="4">肆</option>
              </select>
              份（大写）；</span>
          </li>
          <li>
            <nz-radio-group [(ngModel)]="radiotype" (ngModelChange)="getClass()">
              <label style="padding-right: 20px;" nz-radio nzValue="A">已提交</label>
              <label style="padding-right: 20px;" nz-radio nzValue="C">需补全</label>
            </nz-radio-group>
            <span>3.需要办理建设工程规划许可项目的建设工程规划许可证明文件复印件；</span>
          </li>
          <li>
            <nz-radio-group [(ngModel)]="radiotype" (ngModelChange)="getClass()">
              <label style="padding-right: 20px;" nz-radio nzValue="A">已提交</label>
              <label style="padding-right: 20px;" nz-radio nzValue="C">需补全</label>
            </nz-radio-group>
            <span>3.需要办理建设工程规划许可项目的建设工程规划许可证明文件复印件；</span>
          </li>
          <li>
            <nz-radio-group [(ngModel)]="radiotype" (ngModelChange)="getClass()">
              <label style="padding-right: 20px;" nz-radio nzValue="A">已提交</label>
              <label style="padding-right: 20px;" nz-radio nzValue="C">需补全</label>
            </nz-radio-group>
            <span>4.依法需要批准的临时性建筑证明文件复印件；</span>
          </li>
        </ul>
        <div class="table_add_info">
          <p>经核，申报材料项目（<nz-radio-group [(ngModel)]="radiotype" (ngModelChange)="getClass()">
              <label style="padding-left: 20px;" nz-radio nzValue="A">齐全</label>
              <label nz-radio nzValue="B">不齐全</label>
            </nz-radio-group>），（<nz-radio-group [(ngModel)]="radiotype" (ngModelChange)="getClass()">
              <label style="padding-left: 20px;" nz-radio nzValue="A">予以</label>
              <label nz-radio nzValue="B">不予</label>
            </nz-radio-group>）受理。</p>
          <p>需要补正第<input class="table_input" />项材料。</p>
          <p>审查时限<input class="table_input" />日内，依法需要听证和专家评审的，所需时间不计算在内。</p>
        </div>

        <div class="table_seal">
          <p>
            （受理印章）
          </p>
          <p class="table_time">
            <nz-date-picker name="t2"></nz-date-picker>
          </p>
        </div>

      </td>
    </tr>
    <tr>
      <td class="fontweight fontLeft leftTitle" style="padding-right: 20px;">建设单位签收：<input class="table_input_2" />
        <p class="table_time">
          <nz-date-picker name="t2"></nz-date-picker>
        </p>
      </td>
    </tr>
    <tr>
      <td class="fontweight fontLeft leftTitle">一式两份，一份交建设单位，一份存档。 </td>
    </tr>
  </tbody>
</table>



**********************************************************************************

<table class="tables d_table" style="box-sizing: border-box;">
  <thead>
    <tr>
      <td colspan='20' rowspan='1' class="table_title">
        <h3>××市住房和城乡建设局<br />建设工程消防验收申请受理/不予受理凭证</h3>
      </td>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td rowspan='1' colspan='20' class="fontweight fontLeft leftTitle" required=true>
        ×住建消验凭字〔2019〕第0059号
      </td>
    </tr>
    <tr>
      <td rowspan='1' colspan='20'>
        <div class="table_detail">
          <h3>×××有限公司：</h3>
          <p>根据《中华人民共和国消防法》第十三条的规定，你单位 201×年 × 月×× 日申请的
            ×××大厦 建设工程（地址： ××市××区××路×××号 ）消防验收，提供了下列材料：</p>
        </div>
        <ul class="table_list">
          <li>
            <nz-radio-group [(ngModel)]="radiotype" (ngModelChange)="getClass()">
              <label style="padding-right: 20px;" nz-radio nzValue="A">已提交</label>
              <label style="padding-right: 20px;" nz-radio nzValue="C">需补全</label>
            </nz-radio-group>
            <span>1、建设工程消防验收申请表；</span>
          </li>
          <li>
            <nz-radio-group [(ngModel)]="radiotype" (ngModelChange)="getClass()">
              <label style="padding-right: 20px;" nz-radio nzValue="A">已提交</label>
              <label style="padding-right: 20px;" nz-radio nzValue="C">需补全</label>
            </nz-radio-group>
            <span>2、与消防验收有关的竣工图纸及隐蔽工程记录；</span>
          </li>
          <li>
            <nz-radio-group [(ngModel)]="radiotype" (ngModelChange)="getClass()">
              <label style="padding-right: 20px;" nz-radio nzValue="A">已提交</label>
              <label style="padding-right: 20px;" nz-radio nzValue="C">需补全</label>
            </nz-radio-group>
            <span>3、符合要求的检测机构出具的消防设施及系统检测合格证明文件。</span>
          </li>
        </ul>
        <div class="table_add_info">

          <p class="table_strong_tis">
            经核，申请材料项目符合规定，予以受理：
          </p>
          <p class="text_indent_2">
            我 <input class="table_input" /> 将自受理消防验收申请之日起 <input class="table_input" />
            个工作日内组织消防验收，并出具消防验收意见。依法需要听证、检验、检测、鉴定的，所需时间不计算在内。
          </p>

          <p class="table_strong_tis">
            经核，存在以下情形，不予受理：
          </p>

          <ul class="table_list">
            <li>
              <label><input name="Fruit" type="checkbox" value="" /> 1．依法不需要消防验收；</label>
            </li>
            <li>
              <label><input name="Fruit" type="checkbox" value="" /> 2．依法不属于本消防设计审查机关管辖，应当向有关行政机关申请；</label>
            </li>
            <li>
              <label><input name="Fruit" type="checkbox" value="" /> 3．提交的上列第<input
                  class="table_input" />项材料为虚假材料；</label>
            </li>
            <li>
              <label><input name="Fruit" type="checkbox" value="" /> 4．申请材料不齐全或者不符合法定形式，需要补正上列第<input
                  class="table_input" />项材料。</label>
            </li>
          </ul>
        </div>

        <div class="table_seal">
          <p>
            （受理专用印章）
          </p>
          <p class="table_time">
            <nz-date-picker name="t2"></nz-date-picker>
          </p>
        </div>

      </td>
    </tr>
    <tr>
      <td class="fontweight fontLeft leftTitle" style="padding-right: 20px;">建设单位签收：<input class="table_input_2" />
        <p class="table_time">
          <nz-date-picker name="t2"></nz-date-picker>
        </p>
      </td>
    </tr>
    <tr>
      <td class="fontweight fontLeft leftTitle">一式两份，一份交建设单位，一份存档。 </td>
    </tr>
  </tbody>
</table> -->

<div>
  <nz-card class="TopCard">
    <span style='display:block;font-size: 30px;color:#F5222D'>{{TopData?.processedCount}}</span>
    <span style='display:block;font-size: 16px;;color:#7B7B7B'>待处理事项</span>
  </nz-card>
  <nz-card class="TopCard">
    <span style='display:block;font-size: 30px;color:#F5222D'>{{TopData?.timeoutCount}}</span>
    <span style='display:block;font-size: 16px;;color:#7B7B7B'>超时预警数量</span>
  </nz-card>
  <nz-card class="TopCard">
    <span style='display:block;font-size: 30px;color:#1A993B'>{{TopData?.fireAuditCount}}</span>
    <span style='display:block;font-size: 16px;;color:#7B7B7B'>消防设计审查数量</span>
  </nz-card>
  <nz-card class="TopCard">
    <span style='display:block;font-size: 30px;color:#FF7B05'>{{TopData?.fireCompleteCount}}</span>
    <span style='display:block;font-size: 16px;;color:#7B7B7B'>消防竣工验收数量</span>
  </nz-card>
  <nz-card class="TopCard">
    <span style='display:block;font-size: 30px;color:#2B74D9'>{{TopData?.completeCount}}</span>
    <span style='display:block;font-size: 16px;;color:#7B7B7B'>竣工验收审查数量</span>
  </nz-card>
</div>
<div nz-row>
  <div nz-col nzSpan="10">
    <!-- <nz-card nzTitle="广西竣工验收备案抽查合格情况"> -->
    <nz-card nzTitle="各地市申报情况">
      <div id="echarts" style="display: block; " style="height:350px;width:100%;">
      </div>
    </nz-card>
  </div>
  <div nz-col nzSpan="14">
    <nz-card nzTitle="超时预警列表" style='height:456px'>
      <nz-table class='FireTable' nzSize="small" nzBordered='false' [nzData]="TimeOutData" nzIsPagination='true'
        [(nzPageSize)]='pagesize' [(nzPageIndex)]='pageindex' (nzPageIndexChange)='PageIndexChange($event)'>
        <thead nz-thead>
          <tr>
            <th nz-th>
              <span>序号</span>
            </th>
            <th nz-th>
              <span>流程流水号</span>
            </th>
            <th nz-th>
              <span>流程类型</span>
            </th>
            <th nz-th>
              <span>工程名称</span>
            </th>
            <th nz-th>
              <span>流程到达时间</span>
            </th>
            <th nz-th>
              <span>审批剩余时间(时)</span>
            </th>
          </tr>
        </thead>
        <tbody nz-tbody>
          <tr nz-tbody-tr *ngFor='let data of TimeOutData;let i = index;'>
            <td nz-td>{{i+1}}</td>
            <td nz-td>{{data?.projectCode}}</td>
            <td nz-td>
              {{data?.flowPathType == 1 ?'消防设计审查': data?.flowPathType == 2 ?'消防验收':data?.flowPathType == 3 ?'竣工验收消防备案':''}}
            </td>
            <td nz-td>{{data?.projectName}}</td>
            <td nz-td>{{data?.applyTime }}</td>
            <td nz-td>{{data?.timeout}}</td>
          </tr>
        </tbody>
      </nz-table>
    </nz-card>
  </div>
</div>
<div nz-row>
  <div nz-col nzSpan="8" style='height:500px'>
    <nz-card style='height:100%;width:100%;float: left;margin-left: 0.3%' nzTitle="消防设计审查申报数量统计">
      <div
        style='background-image:url("./assets/images/big2/left.png");background-size: 100% 100%;width:49%;height:20%;float: left;'>
        <span
          style='font-size: 30px;color: #FF9600;position: relative;left: 15%;margin-top:15%;'>{{FlowData1?.currentMonthCount}}</span>
        <span
          style='font-size: 18px;color: #FF9600;position: relative;left: 60%;margin-top:15%;'>{{FlowData1?.comparedMonthRate}}%</span>
        <img src='./assets/images/big2/yup.png' style="position: relative;left: 60%;" />
      </div>
      <div
        style='background-image:url("./assets/images/big2/right.png");background-size: 100% 100%;width:49%;height:20%;float: left;margin-left: 2%'>
        <span
          style='font-size: 30px;color: #2B74D9;position: relative;left: 15%;margin-top:15%;'>{{FlowData1?.currentWeekCount}}</span>
        <span
          style='font-size: 18px;color: #2B74D9;position: relative;left: 60%;margin-top:15%;'>{{FlowData1?.comparedWeekRate}}%</span>
        <img src='./assets/images/big2/bup.png' style="position: relative;left: 60%;" />
      </div>
      <div echarts [options]="option1" class="echartsStyle" style="height:100%;width:100%">
      </div>
    </nz-card>
  </div>
  <div nz-col nzSpan="8"style='height:500px'>
    <nz-card style='height:100%;width:100%;float: left;;margin-left: 0.3%' nzTitle="消防竣工验收数量统计">
      <div
        style='background-image:url("./assets/images/big2/left.png");background-size: 100% 100%;width:49%;height:20%;float: left;'>
        <span
          style='font-size: 30px;color: #FF9600;position: relative;left: 15%;margin-top:15%;'>{{FlowData2?.currentMonthCount}}</span>
        <span
          style='font-size: 18px;color: #FF9600;position: relative;left: 60%;margin-top:15%;'>{{FlowData2?.comparedMonthRate}}%</span>
        <img src='./assets/images/big2/yup.png' style="position: relative;left: 60%;" />
      </div>
      <div
        style='background-image:url("./assets/images/big2/right.png");background-size: 100% 100%;width:49%;height:20%;float: left;margin-left: 2%'>
        <span
          style='font-size: 30px;color: #2B74D9;position: relative;left: 15%;margin-top:15%;'>{{FlowData2?.currentWeekCount}}</span>
        <span
          style='font-size: 18px;color: #2B74D9;position: relative;left: 60%;margin-top:15%;'>{{FlowData2?.comparedWeekRate}}%</span>
        <img src='./assets/images/big2/bup.png' style="position: relative;left: 60%;" />
      </div>
      <div echarts [options]="option2" class="echartsStyle" style="height:100%;width:100%">
      </div>
    </nz-card>
  </div>
  <div nz-col nzSpan="8"style='height:500px'>
    <nz-card style='height:100%;width:100%;float: left;;margin-left: 0.3%' nzTitle="竣工验收备案数量统计">
      <div
        style='background-image:url("./assets/images/big2/left.png");background-size: 100% 100%;width:49%;height:20%;float: left;'>
        <span
          style='font-size: 30px;color: #FF9600;position: relative;left: 15%;margin-top:15%;'>{{FlowData3?.currentMonthCount}}</span>
        <span
          style='font-size: 18px;color: #FF9600;position: relative;left: 60%;margin-top:15%;'>{{FlowData3?.comparedMonthRate}}%</span>
        <img src='./assets/images/big2/yup.png' style="position: relative;left: 60%;" />
      </div>
      <div
        style='background-image:url("./assets/images/big2/right.png");background-size: 100% 100%;width:49%;height:20%;float: left;margin-left: 2%'>
        <span
          style='font-size: 30px;color: #2B74D9;position: relative;left: 15%;margin-top:15%;'>{{FlowData3?.currentWeekCount}}</span>
        <span
          style='font-size: 18px;color: #2B74D9;position: relative;left: 60%;margin-top:15%;'>{{FlowData3?.comparedWeekRate}}%</span>
        <img src='./assets/images/big2/bup.png' style="position: relative;left: 60%;" />
      </div>
      <div echarts [options]="option3" class="echartsStyle" style="height:100%;width:100%">
      </div>
    </nz-card>
  </div>
</div>
<!-- <div style='height:45%;width:100%;float: left;'>
  <nz-card style='height:100%;width:33%;float: left;margin-left: 0.3%' nzTitle="消防设计审查申报数量统计">
    <div
      style='background-image:url("./assets/images/big2/left.png");background-size: 100% 100%;width:49%;height:20%;float: left;'>
      <span style='font-size: 30px;color: #FF9600;position: relative;left: 15%;margin-top:15%;'>{{FlowData1?.currentMonthCount}}</span>
      <span style='font-size: 18px;color: #FF9600;position: relative;left: 60%;margin-top:15%;'>{{FlowData1?.comparedMonthRate}}%</span>
      <img src='./assets/images/big2/yup.png' style="position: relative;left: 60%;" />
    </div>
    <div
      style='background-image:url("./assets/images/big2/right.png");background-size: 100% 100%;width:49%;height:20%;float: left;margin-left: 2%'>
      <span style='font-size: 30px;color: #2B74D9;position: relative;left: 15%;margin-top:15%;'>{{FlowData1?.currentWeekCount}}</span>
      <span style='font-size: 18px;color: #2B74D9;position: relative;left: 60%;margin-top:15%;'>{{FlowData1?.comparedWeekRate}}%</span>
      <img src='./assets/images/big2/bup.png' style="position: relative;left: 60%;" />
    </div>
    <div echarts [options]="option1" class="echartsStyle" style="height:100%;width:100%">
    </div>
  </nz-card>
  <nz-card style='height:100%;width:33%;float: left;;margin-left: 0.3%' nzTitle="消防竣工验收数量统计">
    <div
      style='background-image:url("./assets/images/big2/left.png");background-size: 100% 100%;width:49%;height:20%;float: left;'>
      <span style='font-size: 30px;color: #FF9600;position: relative;left: 15%;margin-top:15%;'>{{FlowData2?.currentMonthCount}}</span>
      <span style='font-size: 18px;color: #FF9600;position: relative;left: 60%;margin-top:15%;'>{{FlowData2?.comparedMonthRate}}%</span>
      <img src='./assets/images/big2/yup.png' style="position: relative;left: 60%;" />
    </div>
    <div
      style='background-image:url("./assets/images/big2/right.png");background-size: 100% 100%;width:49%;height:20%;float: left;margin-left: 2%'>
      <span style='font-size: 30px;color: #2B74D9;position: relative;left: 15%;margin-top:15%;'>{{FlowData2?.currentWeekCount}}</span>
      <span style='font-size: 18px;color: #2B74D9;position: relative;left: 60%;margin-top:15%;'>{{FlowData2?.comparedWeekRate}}%</span>
      <img src='./assets/images/big2/bup.png' style="position: relative;left: 60%;" />
    </div>
    <div echarts [options]="option2" class="echartsStyle" style="height:100%;width:100%">
    </div>
  </nz-card>
  <nz-card style='height:100%;width:33%;float: left;;margin-left: 0.3%' nzTitle="竣工验收备案数量统计">
    <div
      style='background-image:url("./assets/images/big2/left.png");background-size: 100% 100%;width:49%;height:20%;float: left;'>
      <span style='font-size: 30px;color: #FF9600;position: relative;left: 15%;margin-top:15%;'>{{FlowData3?.currentMonthCount}}</span>
      <span style='font-size: 18px;color: #FF9600;position: relative;left: 60%;margin-top:15%;'>{{FlowData3?.comparedMonthRate}}%</span>
      <img src='./assets/images/big2/yup.png' style="position: relative;left: 60%;" />
    </div>
    <div
      style='background-image:url("./assets/images/big2/right.png");background-size: 100% 100%;width:49%;height:20%;float: left;margin-left: 2%'>
      <span style='font-size: 30px;color: #2B74D9;position: relative;left: 15%;margin-top:15%;'>{{FlowData3?.currentWeekCount}}</span>
      <span style='font-size: 18px;color: #2B74D9;position: relative;left: 60%;margin-top:15%;'>{{FlowData3?.comparedWeekRate}}%</span>
      <img src='./assets/images/big2/bup.png' style="position: relative;left: 60%;" />
    </div>
    <div echarts [options]="option3" class="echartsStyle" style="height:100%;width:100%">
    </div>
  </nz-card>
</div> -->