<div class="reg_content">
  <div [@routerTransition]>
    <nz-spin [nzTip]="'修改密码'" [nzSpinning]="saving">
      <nz-card [nzTitle]="nzTitle"  style="width: 400px">
        <ng-template #nzTitle>
          <div class="text-center yoyo__block">
            <span>修改密码</span>
          </div>
        </ng-template>
        <form nz-form #validateForm="ngForm" (ngSubmit)="save()">

          <br>
          <!-- 手机号码 -->
          <nz-form-item>
            <nz-form-control nzHasFeedback>
              <nz-input-group nzSize="large" nzPrefixIcon="anticon anticon-phone">
                <input nz-input name="mobile" #mobile="ngModel" [(ngModel)]="model.Mobile" placeholder="登录手机号码" required
                  maxlength="11" pattern="^1\d{10}$" />
              </nz-input-group>
              <nz-form-explain *ngIf="mobile.control.dirty&&mobile.control.errors">
                <ng-container>请输入数字</ng-container>
              </nz-form-explain>
            </nz-form-control>
          </nz-form-item>

          <nz-form-item>
            <nz-row>
              <nz-col [nzSpan]="16">
                <nz-form-control nzHasFeedback>
                  <nz-input-group nzSize="large" nzSize="large" nzPrefixIcon="anticon anticon-mail">
                    <input nz-input [(ngModel)]="model.VerificationCode" #verificationCode="ngModel" placeholder="验证码"
                      name="verificationCode" nz-form-control nzHasFeedback maxlength="6" minlength="6" />
                  </nz-input-group>

                  <nz-form-explain *ngIf="verificationCode.control.dirty&&verificationCode.control.errors">
                    <ng-container>请输入6位验证码</ng-container>
                  </nz-form-explain>
                </nz-form-control>
              </nz-col>
              <nz-col [nzSpan]="8" style="padding-left: 10px;">
                <button type="button" nz-button nzSize="large" (click)="getCaptcha()" [disabled]="count" nzBlock
                  [nzLoading]="isSetCaptcha"
                  [disabled]="countCaptcha!=0||(mobile.control.dirty&&mobile.control.errors)||model.Mobile.length==0">
                  {{ countCaptcha ? countCaptcha + 's' : (isSetCaptcha?'':'获取验证码') }}
                </button>
              </nz-col>
            </nz-row>

          </nz-form-item>

          <!-- 密码 -->
          <nz-form-item>
            <nz-form-control nzHasFeedback>
              <nz-input-group nzSize="large" nzPrefixIcon="anticon anticon-lock">
                <input nz-input type="password" name="newPassword" #newPassword="ngModel" [(ngModel)]="model.NewPassword"
                  type="password" placeholder="请输入新密码" required maxlength="18" minlength="8"  pattern="^(?![0-9]+$)(?![a-zA-Z]+$)[0-9A-Za-z]{8,18}$">
              </nz-input-group>
              <nz-form-explain *ngIf="newPassword.control.dirty&&newPassword.control.errors">
                <ng-container *ngIf="newPassword.control.hasError('required')">不能为空！</ng-container>
                <ng-container *ngIf="newPassword.control.hasError('minlength')||newPassword.control.hasError('pattern')">请输入8-18位数字和字母组成的新密码</ng-container>
              </nz-form-explain>
            </nz-form-control>
          </nz-form-item>



          <!-- 确认密码 -->
          <nz-form-item>
            <nz-form-control nzHasFeedback>
              <nz-input-group nzSize="large" nzPrefixIcon="anticon anticon-lock">
                <input nz-input type="password" name="ConfirmPassword" #ConfirmPassword="ngModel"
                  [(ngModel)]="model.ConfirmPassword" placeholder="确认密码" required maxlength="18" minlength="8"
                  pattern="^{{model.NewPassword}}$" />
              </nz-input-group>
              <nz-form-explain *ngIf="ConfirmPassword.control.dirty&&ConfirmPassword.control.errors">

                <ng-container *ngIf="model.Password!=model.ConfirmPassword">两次输入密码不同</ng-container>
              </nz-form-explain>
            </nz-form-control>
          </nz-form-item>


          <!-- 功能按钮 -->
          <nz-form-item>
            <nz-col [nzSpan]="12">
              <button (click)="back()" type="button" nz-button [disabled]="saving">返回</button>
            </nz-col>
            <nz-col [nzSpan]="12" class="text-right">
              <button nz-button nzType="primary" type="submit" [disabled]="!validateForm.valid||saving">确定修改</button>
            </nz-col>
          </nz-form-item>

        </form>

      </nz-card>
    </nz-spin>
  </div>
</div>