<div [ngSwitch]="type">
  <!-- 消防验收的办理凭证  -->
  <div *ngSwitchCase="0">
    <table class="tables d_table" style="box-sizing: border-box;">
      <thead>
        <tr>
          <td colspan='20' rowspan='1' class="table_title">
            <h3>××市住房和城乡建设局<br />建设工程消防验收意见书</h3>
            
          </td>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td rowspan='1' colspan='20' class="fontweight fontLeft leftTitle" required=true>
              <input class="table_input" [(ngModel)]="data.fileCodePrefix" name="fileCodePrefix" />住建消验字〔2019〕第0059号
          </td>
        </tr>
        <tr>
          <td rowspan='1' colspan='20'>
            <div class="table_detail">
              <h3>{{data.companyName}}：</h3>
              <p>
                你单位报来××××××建设工程消防验收资料收悉（受理凭证：×住建消验凭字〔2019〕第59号）。该工程位于{{data.address}}，建筑高度98m，地上29层，地下2层，总建筑面积421000m2，属一类高层民用建筑。××年××月××日，××市住房和城乡建设局组织你单位及设计、施工、监理、检测等单位有关人员对该工程进行了消防验收。经对验收资料、建设消防设施技术检测报告进行审查，对总平面布置和平面布置中涉及消防安全的防火间距、消防车道、消防水源，建设防火防烟分区和建设构造，安全疏散和消防电梯，消防给水和自动灭火系统，防烟、排烟和通风系统的防火设计，消防电源及其配电，火灾应急照明、应急广播和疏散指示标志，火灾自动报警系统和消防控制室，建筑灭火器等项目情况和性能进行抽查，按照你单位提供的XXXXX消防设施检测公司出具的《建筑消防设施检测报告》（项目编号：XXXXX），现提出以下意见：
              </p>
              
            </div>
            <ul class="table_list">
                <li *ngFor="let item of data.attachmentItems;let index=index">
                  <label nz-checkbox name="item{{item}}"
                    [(ngModel)]="item.isSubmit">{{index+1}}、{{item.attachmentTypeName}}</label>
                </li>
              </ul>

            <div class="table_seal">
              由后台提供的当前时间 年月日
            </div>

          </td>
        </tr> 
        <tr>
          <td class="fontweight fontLeft leftTitle">一式两份，一份交建设单位，一份存档。 </td>
        </tr>
      </tbody>
    </table>
  </div>

  <!-- 消防验收的审查意见书（合格）  -->
  <div *ngSwitchCase="1">


  </div>

  <!-- 消防验收的审查意见书（不合格）  -->
  <div *ngSwitchCase="2">

  </div>
</div>