<div [ngSwitch]="type">
  <!-- 消防验收的办理凭证  -->
  <div *ngSwitchCase="0">
    <table class="tables d_table" style="box-sizing: border-box;">
      <thead>
        <tr>
          <td colspan='20' rowspan='1' class="table_title">
            <h3>{{data.orgName}}<br />建设工程消防验收申请受理/不予受理凭证</h3>
          </td>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td rowspan='1' colspan='20' class="fontweight fontLeft leftTitle" required=true>
            <div><input class="table_input" placeholder="请输入区域简称" [(ngModel)]="data.fileCodePrefix"
                name="fileCodePrefix" />住建消审字〔后台生成〕第后台生成号
            </div>
            <div *ngIf="!data.fileCodePrefix" class="rightSpan">必填</div>
          </td>
        </tr>
        <tr>
          <td rowspan='1' colspan='20'>
            <div class="table_detail">
              <h3>{{data.companyName}}：</h3>
              <p>
                根据《中华人民共和国消防法》第十三条的规定，你单位{{data.applyDateTime|date:'yyyy年MM月dd日'}}申请的建设工程（地址：{{data.address}}）消防验收，提供了下列材料：
              </p>
            </div>
            <ul class="table_list">
              <li *ngFor="let item of data.attachmentItems;let index=index">
                <label nz-checkbox name="item{{item}}"
                  [(ngModel)]="item.isSubmit">{{index+1}}、{{item.attachmentTypeName}}</label>
              </li>
            </ul>
            <div class="table_add_info">
              <p>经核，申请材料项目符合规定，予以受理。我单位将自受理消防验收申请之日起<input class="table_input" [(ngModel)]="data.timeLimitOfDay"
                  name="timeLimitOfDay" style="width: 80px" />个工作日内组织消防验收，并出具消防验收意见。依法需要听证、检验、检测、鉴定的，所需时间不计算在内</p>
            </div>
            <div class="table_add_info">
              经核，存在以下情形，不予受理：
              <textarea nz-input placeholder="请输入意见" [(ngModel)]="data.completeContent"
                name="professionalContractorsopinion" required>
                  </textarea>
            </div>

            <div class="table_seal">
              由后台提供的当前时间 年月日
            </div>

          </td>
        </tr>
        <tr>
          <td class="fontweight fontLeft leftTitle">一式两份，一份交建设单位，一份存档。 </td>
        </tr>
      </tbody>
    </table>
  </div>

  <!-- 消防验收的审查意见书（合格）  -->
  <div *ngSwitchCase="1">
    <table class="tables d_table" style="box-sizing: border-box;">
      <thead>
        <tr>
          <td colspan='20' rowspan='1' class="table_title">
            <h3>{{data.orgName}}<br />建设工程消防验收意见书</h3>
          </td>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td rowspan='1' colspan='20' class="fontweight fontLeft leftTitle" required=true>
            <div><input class="table_input" [(ngModel)]="examineFormDto.fileCodePrefix" name="fileCodePrefix"
                placeholder="请输入区域简称" />住建消审字〔后台生成〕第后台生成号</div>
            <div *ngIf="!examineFormDto.fileCodePrefix" class="rightSpan">必填</div>
          </td>
        </tr>
        <tr>
          <td rowspan='1' colspan='20'>

            <div *ngIf="examineFormDto.opinion&&!examineFormDto.content">

              <div class="table_detail">
                <h3>{{data.companyName}}：</h3>
                <div style="line-height: 30px;font-size: 16px;">
                  你单位报来{{data.projectName}}建设工程消防验收资料收悉（受理凭证：{{examineFormDto.acceptFileCode}}）。该工程位于{{data.address}}，{{examineFormDto.descr}}。
                  <div class="flexBox">
                    验收日期:
                    <div class="flex1">
                      <nz-date-picker [(ngModel)]="examineFormDto.checkDate" name="checkDate" [nzFormat]="'yyyy/MM/dd'">
                      </nz-date-picker>
                    </div>
                  </div>
                  <p style="color: #f5222d;text-align: center;font-weight: bold;" *ngIf="!examineFormDto.checkDate">必填
                  </p>

                  ，{{data.orgName}}组织你单位及设计、施工、监理、检测等单位有关人员对该工程进行了消防验收。经对验收资料、消防设施技术检测报告进行审查，对总平面布置和平面布置中涉及消防安全的防火间距、消防车道、消防水源，建设防火防烟分区和建设构造，安全疏散和消防电梯，消防给水和自动灭火系统，防烟、排烟和通风系统的防火设计，消防电源及其配电，火灾应急照明、应急广播和疏散指示标志，火灾自动报警系统和消防控制室，建筑灭火器等项目情况和性能进行抽查，现提出以下意见：
                </div>
              </div>

              <textarea nz-input placeholder="请输入意见" [(ngModel)]="examineFormDto.opinion"
                name="professionalContractorsopinion" required>
                  </textarea>
              <p style="color: #f5222d;text-align: center;font-weight: bold;" *ngIf="!examineFormDto.opinion">必填</p>

            </div>

            <div *ngIf="examineFormDto.content">
              <div class="table_detail">
                <h3>{{data.companyName}}：</h3>

                <textarea nz-input placeholder="请输入意见" [(ngModel)]="examineFormDto.content"
                  name="professionalContractorsopinion" required>
                    </textarea>
                <div style="display: block;margin-top: 8px;margin-bottom: 8px;">
                  <div style="display: flex;align-items: center;">
                    <div> 验收日期: </div>
                    <nz-date-picker [(ngModel)]="examineFormDto.checkDate" name="checkDate" style="width: 200px;"
                      (ngModelChange)="onChangeCheckDate($event)" [nzFormat]="'yyyy/MM/dd'">
                    </nz-date-picker>
                  </div>
                  <p style="color: #f5222d;text-align: center;font-weight: bold;" *ngIf="!examineFormDto.checkDate">
                    此处验收日期必填，需和意见一致
                  </p>
                </div>
              </div>
              <p style="margin-top: 8px;">提示：为保持格式一致，段落首行请输入4个空格</p>
              <p style="color: #f5222d;text-align: center;font-weight: bold;" *ngIf="!examineFormDto.content">必填</p>

            </div>



            <div class="textLeft" *ngIf="examineFormDto">
              <nz-upload [(nzFileList)]="examineFormDto.attachment" [nzCustomRequest]="customReq"
                [nzRemove]="removeFile">
                <button nz-button><i nz-icon nzType="upload"></i><span>上传</span></button>
              </nz-upload>
            </div>
            <div class="table_seal">
              由后台提供的当前时间 年月日
            </div>

          </td>
        </tr>
        <tr>
          <td class="fontweight fontLeft leftTitle">本意见书一式两份，一份交建设单位，一份存档。 </td>
        </tr>
      </tbody>
    </table>
  </div>

  <!-- 消防验收的审查意见书2  -->
  <!-- <div *ngSwitchCase="2">
    <table class="tables d_table" style="box-sizing: border-box;">
      <tbody>
        <tr>
          <td rowspan='1' colspan='20'>
            <textarea nz-input placeholder="请输入意见" [(ngModel)]="data.opinion" name="professionalContractorsopinion"
              required>
                    </textarea>
          </td>
        </tr>
      </tbody>
    </table>
  </div> -->


</div>