<!-- <page-header [action]="phActionTpl">
  <ng-template #phActionTpl>

    <button nz-button nzType="default" (click)="switchFilter()"><i nz-icon
        type="{{ hiddenFliter?'down':'up'}}"></i>{{ hiddenFliter?'展开条件':'收起条件'}}</button>
    <button (click)="init()" nz-button nzType="default"><i nz-icon type="reload"></i>刷新</button>
    <button (click)="st.export()" nz-button nzType="primary"><i nz-icon type="export"></i>导出</button>
  </ng-template>
</page-header> -->
<nz-card>


  <button nz-button nzType="default" (click)="switchFilter()"><i nz-icon
      type="{{ hiddenFliter?'down':'up'}}"></i>{{ hiddenFliter?'展开条件':'收起条件'}}</button>
  <button (click)="init()" nz-button nzType="default"><i nz-icon type="reload"></i>刷新</button>

</nz-card>
<nz-card>

  <form nz-form class="mb-md" [hidden]="hiddenFliter">
    <div style="float: left;width: 100%"> <input nz-input [(ngModel)]="searchParam.projectName" name="projectName" placeholder="工程名称"
      style="margin-right: 10px;margin-top: 10px;width: 200px;">

    <input nz-input [(ngModel)]="searchParam.companyName" name="companyName"  placeholder="建设单位"
      style="margin-right: 10px;margin-top: 10px;width: 200px;">
      <span>是否超时：</span>
      <nz-select [(ngModel)]="searchParam.isExpire" name="jbgrade{{index}}" required
        style="margin-right: 10px;margin-top: 10px;width: 200px;">
        <nz-option *ngFor="let option of timetype" [nzLabel]="option.label" [nzValue]="option.value">
        </nz-option>
      </nz-select>


      <!-- <span>单位类别：</span>
      <nz-select [(ngModel)]="searchParam.orgType" name="jbgrade{{index}}" required
        style="margin-right: 10px;margin-top: 10px;width: 200px;">
        <nz-option *ngFor="let option of engtype" [nzLabel]="option.label" [nzValue]="option.value">
        </nz-option>
      </nz-select> -->


    <span>工程类型：</span>
    <nz-select [(ngModel)]="searchParam.projectTypeStatu" name="jbgrade{{index}}" required
      style="margin-right: 10px;margin-top: 10px;width: 200px;">
      <nz-option *ngFor="let option of flowPathTypeEnum" [nzLabel]="option.label" [nzValue]="option.value">
      </nz-option>
    </nz-select>
    <nz-range-picker [(ngModel)]="rangeTime" name="rangeTime" [nzFormat]="'yyyy/MM/dd'"
      style="margin-right: 10px;margin-top: 10px;" (ngModelChange)="okRangeTime($event)"></nz-range-picker>


    </div>


    <button nz-button (click)="query()" nzType="primary" style="margin-right: 10px;margin-top: 10px;">搜索</button>

    <button nz-button (click)="reststart()" style="margin-right: 10px;margin-top: 10px;">重置</button>


  </form>
  <nz-spin [nzSpinning]="!formResultData"></nz-spin>

  <st #st *ngIf="formResultData" [data]="formResultData.data" [columns]="columns" [page]="pageConfig"
    [total]="formResultData.total" [pi]="searchParam.pagedAndFilteredInputDto.page"
    [ps]="searchParam.pagedAndFilteredInputDto.maxResultCount" (change)="change($event)">
  </st>
  <br>
</nz-card>

<nz-modal [nzMaskClosable]='false'  [(nzVisible)]="isVisibleSelectModal" nzTitle="意见书签收" (nzOnCancel)="closeSignFor()" (nzOnOk)="signForOrg()"
  [nzOkLoading]="isSelectModalOkLoading" nzWidth="500">
  <form nz-form #f="ngForm" se-container="1" labelWidth="100">
    <se label="签收人姓名" error="请填写">
      <input type="text" nz-input [(ngModel)]="signForDto.name" name="name" required>
    </se>
    <se label="联系电话" error="请输入正确电话号码">
      <input type="text" nz-input [(ngModel)]="signForDto.phoneNumber" name="phoneNumber"
        pattern="((\d{11})|^((\d{7,8})|(\d{4}|\d{3})-(\d{7,8})|(\d{4}|\d{3})-(\d{7,8})-(\d{4}|\d{3}|\d{2}|\d{1})|(\d{7,8})-(\d{4}|\d{3}|\d{2}|\d{1}))$)"
        required maxlength="32">
    </se>
    <div style="text-align: center;">
      <p><a *ngIf="examineFormDto.acceptFileUrl && examineFormDto.acceptFileUrl!=null" [href]="examineFormDto.acceptFileUrl"> 下载受理/不受理凭证</a></p>
      <p><a *ngIf="examineFormDto.opinionFileUrl && examineFormDto.opinionFileUrl!=null" [href]="examineFormDto.opinionFileUrl"> 下载意见书</a></p>
    </div>
  </form>
</nz-modal>
